<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/ghost/000.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{57,228}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{72,20},{57,228}}</string>
			<key>sourceSize</key>
			<string>{207,262}</string>
		</dict>
		<key>images/Effect/ghost/001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,61},{39,224}}</string>
			<key>offset</key>
			<string>{-3,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{81,23},{39,224}}</string>
			<key>sourceSize</key>
			<string>{207,262}</string>
		</dict>
		<key>images/Effect/ghost/002.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,54},{49,218}}</string>
			<key>offset</key>
			<string>{-4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,26},{49,218}}</string>
			<key>sourceSize</key>
			<string>{207,262}</string>
		</dict>
		<key>images/Effect/ghost/003.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,2},{65,224}}</string>
			<key>offset</key>
			<string>{-8,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{63,24},{65,224}}</string>
			<key>sourceSize</key>
			<string>{207,262}</string>
		</dict>
		<key>images/Effect/ghost/004.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,259},{157,184}}</string>
			<key>offset</key>
			<string>{-5,-30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,69},{157,184}}</string>
			<key>sourceSize</key>
			<string>{207,262}</string>
		</dict>
		<key>images/Effect/ghost/005.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,418},{159,104}}</string>
			<key>offset</key>
			<string>{1,-70}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,149},{159,104}}</string>
			<key>sourceSize</key>
			<string>{207,262}</string>
		</dict>
		<key>images/Effect/ghost/006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,288},{177,122}}</string>
			<key>offset</key>
			<string>{8,-58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,128},{177,122}}</string>
			<key>sourceSize</key>
			<string>{207,262}</string>
		</dict>
		<key>images/Effect/ghost/L01.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,2},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>images/Effect/ghost/L02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,102},{184,185}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,2},{184,185}}</string>
			<key>sourceSize</key>
			<string>{200,187}</string>
		</dict>
		<key>images/Effect/ghost/L03.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,415},{128,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,41},{128,137}}</string>
			<key>sourceSize</key>
			<string>{200,219}</string>
		</dict>
		<key>images/Effect/ghost/door01.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,554},{63,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,114}}</string>
			<key>sourceSize</key>
			<string>{63,114}</string>
		</dict>
		<key>images/Effect/ghost/door02.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,418},{38,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,113}}</string>
			<key>sourceSize</key>
			<string>{38,113}</string>
		</dict>
		<key>images/Effect/ghost/door03.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,69},{12,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,113}}</string>
			<key>sourceSize</key>
			<string>{12,113}</string>
		</dict>
		<key>images/Effect/ghost/ghost.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,576},{108,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,118}}</string>
			<key>sourceSize</key>
			<string>{108,118}</string>
		</dict>
		<key>images/Effect/ghost/ghost000.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,69},{188,193}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,19},{188,193}}</string>
			<key>sourceSize</key>
			<string>{200,219}</string>
		</dict>
		<key>images/Effect/ghost/ghost001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,412},{162,169}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,30},{162,169}}</string>
			<key>sourceSize</key>
			<string>{200,219}</string>
		</dict>
		<key>images/Effect/ghost/ghost002.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,524},{144,153}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,36},{144,153}}</string>
			<key>sourceSize</key>
			<string>{200,219}</string>
		</dict>
		<key>images/Effect/ghost/ghost003.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,274},{128,139}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,43},{128,139}}</string>
			<key>sourceSize</key>
			<string>{200,219}</string>
		</dict>
		<key>images/Effect/ghost/ghost004.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,554},{106,117}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,52},{106,117}}</string>
			<key>sourceSize</key>
			<string>{200,219}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ghost0.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ea116d8a35ff7efb6db104eeb5437af9:1/1$</string>
		<key>textureFileName</key>
		<string>ghost0.png</string>
	</dict>
</dict>
</plist>
