<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/BGFH01/BGFH01_00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,272},{78,96}}</string>
			<key>offset</key>
			<string>{-14,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,42},{78,96}}</string>
			<key>sourceSize</key>
			<string>{128,200}</string>
		</dict>
		<key>images/Effect/BGFH01/BGFH01_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,260},{98,106}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,47},{98,106}}</string>
			<key>sourceSize</key>
			<string>{128,200}</string>
		</dict>
		<key>images/Effect/BGFH01/BGFH01_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,352},{80,88}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,59},{80,88}}</string>
			<key>sourceSize</key>
			<string>{128,200}</string>
		</dict>
		<key>images/Effect/BGFH01/BGFH01_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,434},{66,72}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,64},{66,72}}</string>
			<key>sourceSize</key>
			<string>{128,200}</string>
		</dict>
		<key>images/Effect/BGFH01/BGFH01_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,2},{1,1}}</string>
			<key>offset</key>
			<string>{-63.5,99.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{128,200}</string>
		</dict>
		<key>images/Effect/BGFH01/BGFH01_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,150},{108,116}}</string>
			<key>offset</key>
			<string>{-2,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,38},{108,116}}</string>
			<key>sourceSize</key>
			<string>{128,200}</string>
		</dict>
		<key>images/Effect/BGFH01/BGFH01_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,150},{120,132}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,31},{120,132}}</string>
			<key>sourceSize</key>
			<string>{128,200}</string>
		</dict>
		<key>images/Effect/BGFH01/BGFH01_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{84,200}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,0},{84,200}}</string>
			<key>sourceSize</key>
			<string>{128,200}</string>
		</dict>
		<key>images/Effect/BGFH01/BGFH01_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,88},{60,200}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,0},{60,200}}</string>
			<key>sourceSize</key>
			<string>{128,200}</string>
		</dict>
		<key>images/Effect/BGFH01/BGFH01_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,434},{60,66}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,67},{60,66}}</string>
			<key>sourceSize</key>
			<string>{128,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BGFH010.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e1dab65c63297d21101d90dd8026bc69:1/1$</string>
		<key>textureFileName</key>
		<string>BGFH010.png</string>
	</dict>
</dict>
</plist>
