<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Cultivate/RATE_UNHURT_CRIT_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,246},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHURT_CRIT_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{618,246},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/attrUpTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,308},{223,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,34}}</string>
			<key>sourceSize</key>
			<string>{223,34}</string>
		</dict>
		<key>images/Cultivate/attr_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,344},{180,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,230}}</string>
			<key>sourceSize</key>
			<string>{180,230}</string>
		</dict>
		<key>images/Cultivate/attr_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,821},{185,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,300}}</string>
			<key>sourceSize</key>
			<string>{185,300}</string>
		</dict>
		<key>images/Cultivate/bt_diaoluo.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,893},{121,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,36}}</string>
			<key>sourceSize</key>
			<string>{121,36}</string>
		</dict>
		<key>images/Cultivate/chongxiuguizhe.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,67},{488,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{488,177}}</string>
			<key>sourceSize</key>
			<string>{488,177}</string>
		</dict>
		<key>images/Cultivate/composeLine_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,609},{410,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{410,44}}</string>
			<key>sourceSize</key>
			<string>{410,44}</string>
		</dict>
		<key>images/Cultivate/count_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,893},{93,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,27}}</string>
			<key>sourceSize</key>
			<string>{93,27}</string>
		</dict>
		<key>images/Cultivate/dj_jingjie.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,604},{233,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,53}}</string>
			<key>sourceSize</key>
			<string>{233,53}</string>
		</dict>
		<key>images/Cultivate/fb_battle_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,609},{356,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,210}}</string>
			<key>sourceSize</key>
			<string>{356,210}</string>
		</dict>
		<key>images/Cultivate/fb_camp_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,535},{479,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{479,109}}</string>
			<key>sourceSize</key>
			<string>{479,109}</string>
		</dict>
		<key>images/Cultivate/fb_title9.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,565},{234,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{234,37}}</string>
			<key>sourceSize</key>
			<string>{234,37}</string>
		</dict>
		<key>images/Cultivate/font_cross_attr.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,308},{250,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,34}}</string>
			<key>sourceSize</key>
			<string>{250,34}</string>
		</dict>
		<key>images/Cultivate/fuben.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,605}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,605}}</string>
			<key>sourceSize</key>
			<string>{512,605}</string>
		</dict>
		<key>images/Cultivate/icon_Bag.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,821},{65,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,70}}</string>
			<key>sourceSize</key>
			<string>{65,70}</string>
		</dict>
		<key>images/Cultivate/itemBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,609},{399,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{399,97}}</string>
			<key>sourceSize</key>
			<string>{399,97}</string>
		</dict>
		<key>images/Cultivate/job1.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,565},{443,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,28}}</string>
			<key>sourceSize</key>
			<string>{443,28}</string>
		</dict>
		<key>images/Cultivate/job2.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,535},{393,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{393,28}}</string>
			<key>sourceSize</key>
			<string>{393,28}</string>
		</dict>
		<key>images/Cultivate/light_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,366},{19,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,28}}</string>
			<key>sourceSize</key>
			<string>{19,28}</string>
		</dict>
		<key>images/Cultivate/light_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,344},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>images/Cultivate/light_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,396},{74,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,16}}</string>
			<key>sourceSize</key>
			<string>{74,16}</string>
		</dict>
		<key>images/Cultivate/lineBlue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1019,2},{523,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{523,3}}</string>
			<key>sourceSize</key>
			<string>{523,3}</string>
		</dict>
		<key>images/Cultivate/line_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,1016},{523,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{523,3}}</string>
			<key>sourceSize</key>
			<string>{523,3}</string>
		</dict>
		<key>images/Cultivate/number_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,893},{93,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,27}}</string>
			<key>sourceSize</key>
			<string>{93,27}</string>
		</dict>
		<key>images/Cultivate/pack_pillnor.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,714},{308,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,78}}</string>
			<key>sourceSize</key>
			<string>{308,78}</string>
		</dict>
		<key>images/Cultivate/pack_rightnor.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,714},{308,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,78}}</string>
			<key>sourceSize</key>
			<string>{308,78}</string>
		</dict>
		<key>images/Cultivate/pack_stuffnor.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,714},{308,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,78}}</string>
			<key>sourceSize</key>
			<string>{308,78}</string>
		</dict>
		<key>images/Cultivate/stuff_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,565},{446,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{446,125}}</string>
			<key>sourceSize</key>
			<string>{446,125}</string>
		</dict>
		<key>images/Cultivate/type3.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,988},{25,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,27}}</string>
			<key>sourceSize</key>
			<string>{25,27}</string>
		</dict>
		<key>images/Cultivate/xiuxingTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{496,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{496,63}}</string>
			<key>sourceSize</key>
			<string>{496,63}</string>
		</dict>
		<key>images/Cultivate/xq_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{1014,2},{531,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{531,3}}</string>
			<key>sourceSize</key>
			<string>{531,3}</string>
		</dict>
		<key>images/Cultivate/xq_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,246},{289,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{289,60}}</string>
			<key>sourceSize</key>
			<string>{289,60}</string>
		</dict>
		<key>images/Cultivate/xx_jingjieBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,659},{233,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,53}}</string>
			<key>sourceSize</key>
			<string>{233,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Cultivate0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c83d41f13da098bd19612495b5e01883:1/6$</string>
		<key>textureFileName</key>
		<string>Cultivate0.png</string>
	</dict>
</dict>
</plist>
