<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Cultivate/attrAdd.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,101},{91,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,31}}</string>
			<key>sourceSize</key>
			<string>{91,31}</string>
		</dict>
		<key>images/Cultivate/attr_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,726},{180,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,163}}</string>
			<key>sourceSize</key>
			<string>{180,163}</string>
		</dict>
		<key>images/Cultivate/chongxiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,942},{78,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,39}}</string>
			<key>sourceSize</key>
			<string>{78,39}</string>
		</dict>
		<key>images/Cultivate/cross_fail.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,627},{212,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,55}}</string>
			<key>sourceSize</key>
			<string>{212,55}</string>
		</dict>
		<key>images/Cultivate/danyaoshuliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,726},{93,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,28}}</string>
			<key>sourceSize</key>
			<string>{93,28}</string>
		</dict>
		<key>images/Cultivate/dark_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,594},{100,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,59}}</string>
			<key>sourceSize</key>
			<string>{100,59}</string>
		</dict>
		<key>images/Cultivate/dj_liebiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{585,304}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{585,304}}</string>
			<key>sourceSize</key>
			<string>{585,304}</string>
		</dict>
		<key>images/Cultivate/dujiekaishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,865},{75,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,37}}</string>
			<key>sourceSize</key>
			<string>{75,37}</string>
		</dict>
		<key>images/Cultivate/fb_camp_liandark.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,892},{201,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,129}}</string>
			<key>sourceSize</key>
			<string>{201,129}</string>
		</dict>
		<key>images/Cultivate/fb_tipbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,2},{430,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{430,97}}</string>
			<key>sourceSize</key>
			<string>{430,97}</string>
		</dict>
		<key>images/Cultivate/fb_xiuxingta.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,344},{209,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,86}}</string>
			<key>sourceSize</key>
			<string>{209,86}</string>
		</dict>
		<key>images/Cultivate/fntMaterial.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,899},{118,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,45}}</string>
			<key>sourceSize</key>
			<string>{118,45}</string>
		</dict>
		<key>images/Cultivate/fntMaterialDisabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,899},{118,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,45}}</string>
			<key>sourceSize</key>
			<string>{118,45}</string>
		</dict>
		<key>images/Cultivate/job3.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,696},{272,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{272,28}}</string>
			<key>sourceSize</key>
			<string>{272,28}</string>
		</dict>
		<key>images/Cultivate/pack_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,101},{472,340}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,340}}</string>
			<key>sourceSize</key>
			<string>{472,340}</string>
		</dict>
		<key>images/Cultivate/pack_cailiaodengji.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,899},{120,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,33}}</string>
			<key>sourceSize</key>
			<string>{120,33}</string>
		</dict>
		<key>images/Cultivate/pack_danyaojingjie.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,899},{119,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,34}}</string>
			<key>sourceSize</key>
			<string>{119,34}</string>
		</dict>
		<key>images/Cultivate/pack_leftnor.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,555},{308,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,78}}</string>
			<key>sourceSize</key>
			<string>{308,78}</string>
		</dict>
		<key>images/Cultivate/pack_leftsel.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,943},{308,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,78}}</string>
			<key>sourceSize</key>
			<string>{308,78}</string>
		</dict>
		<key>images/Cultivate/pack_pillsel.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,301},{89,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,41}}</string>
			<key>sourceSize</key>
			<string>{89,41}</string>
		</dict>
		<key>images/Cultivate/pack_stuffsel.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,258},{90,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,41}}</string>
			<key>sourceSize</key>
			<string>{90,41}</string>
		</dict>
		<key>images/Cultivate/state8.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,899},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state8_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{734,899},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,726},{145,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,66}}</string>
			<key>sourceSize</key>
			<string>{145,66}</string>
		</dict>
		<key>images/Cultivate/state_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,942},{144,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,78}}</string>
			<key>sourceSize</key>
			<string>{144,78}</string>
		</dict>
		<key>images/Cultivate/state_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,891},{131,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,72}}</string>
			<key>sourceSize</key>
			<string>{131,72}</string>
		</dict>
		<key>images/Cultivate/state_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,891},{131,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,75}}</string>
			<key>sourceSize</key>
			<string>{131,75}</string>
		</dict>
		<key>images/Cultivate/swallowTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,594},{215,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,31}}</string>
			<key>sourceSize</key>
			<string>{215,31}</string>
		</dict>
		<key>images/Cultivate/tishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,865},{75,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,41}}</string>
			<key>sourceSize</key>
			<string>{75,41}</string>
		</dict>
		<key>images/Cultivate/xiuxing_bg_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,873},{65,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,68}}</string>
			<key>sourceSize</key>
			<string>{65,68}</string>
		</dict>
		<key>images/Cultivate/xq_drop_weijiesuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,134},{90,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,60}}</string>
			<key>sourceSize</key>
			<string>{90,60}</string>
		</dict>
		<key>images/Cultivate/xq_drop_yijiesuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,196},{90,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,60}}</string>
			<key>sourceSize</key>
			<string>{90,60}</string>
		</dict>
		<key>images/Cultivate/xx_liebiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,308},{585,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{585,284}}</string>
			<key>sourceSize</key>
			<string>{585,284}</string>
		</dict>
		<key>images/Cultivate/xx_main_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,594},{296,305}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{296,305}}</string>
			<key>sourceSize</key>
			<string>{296,305}</string>
		</dict>
		<key>images/Cultivate/xx_main_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,575},{340,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,322}}</string>
			<key>sourceSize</key>
			<string>{340,322}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Cultivate2.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c83d41f13da098bd19612495b5e01883:3/6$</string>
		<key>textureFileName</key>
		<string>Cultivate2.png</string>
	</dict>
</dict>
</plist>
