<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Cultivate/P_RATE_HURT_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,406},{108,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,69}}</string>
			<key>sourceSize</key>
			<string>{108,69}</string>
		</dict>
		<key>images/Cultivate/P_RATE_UNHARM_M.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,406},{108,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,69}}</string>
			<key>sourceSize</key>
			<string>{108,69}</string>
		</dict>
		<key>images/Cultivate/P_RATE_UNHARM_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,406},{108,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,69}}</string>
			<key>sourceSize</key>
			<string>{108,69}</string>
		</dict>
		<key>images/Cultivate/RATE_HARM_M_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,948},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HARM_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,948},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HARM_P_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,948},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,948},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HIT_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,948},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HURT_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,948},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HURT_CRIT_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,948},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_M.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,948},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_M_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,948},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,948},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_P_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,516},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_P_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,948},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/bt_skip.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,819},{127,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,35}}</string>
			<key>sourceSize</key>
			<string>{127,35}</string>
		</dict>
		<key>images/Cultivate/btnClose.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,350},{54,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,115}}</string>
			<key>sourceSize</key>
			<string>{54,115}</string>
		</dict>
		<key>images/Cultivate/chongxiuCost.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,350},{125,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,37}}</string>
			<key>sourceSize</key>
			<string>{125,37}</string>
		</dict>
		<key>images/Cultivate/chongxiuFree.png</key>
		<dict>
			<key>frame</key>
			<string>{{41,350},{125,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,37}}</string>
			<key>sourceSize</key>
			<string>{125,37}</string>
		</dict>
		<key>images/Cultivate/chongxiukapai.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,819},{202,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,40}}</string>
			<key>sourceSize</key>
			<string>{202,40}</string>
		</dict>
		<key>images/Cultivate/dj_chenggong.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,477},{340,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,131}}</string>
			<key>sourceSize</key>
			<string>{340,131}</string>
		</dict>
		<key>images/Cultivate/exchangeBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,2},{473,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{473,447}}</string>
			<key>sourceSize</key>
			<string>{473,447}</string>
		</dict>
		<key>images/Cultivate/fb_baita.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,819},{132,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,200}}</string>
			<key>sourceSize</key>
			<string>{132,200}</string>
		</dict>
		<key>images/Cultivate/fb_camp_lian.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,819},{201,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,129}}</string>
			<key>sourceSize</key>
			<string>{201,129}</string>
		</dict>
		<key>images/Cultivate/fb_camp_node.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,588},{148,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,100}}</string>
			<key>sourceSize</key>
			<string>{148,100}</string>
		</dict>
		<key>images/Cultivate/fb_camp_nodedark.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,690},{148,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,100}}</string>
			<key>sourceSize</key>
			<string>{148,100}</string>
		</dict>
		<key>images/Cultivate/fb_fight_dis.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,350},{55,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,52}}</string>
			<key>sourceSize</key>
			<string>{55,52}</string>
		</dict>
		<key>images/Cultivate/fb_fight_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,350},{55,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,52}}</string>
			<key>sourceSize</key>
			<string>{55,52}</string>
		</dict>
		<key>images/Cultivate/fb_title8.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,477},{244,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,37}}</string>
			<key>sourceSize</key>
			<string>{244,37}</string>
		</dict>
		<key>images/Cultivate/fntAutoRefresh.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,614},{203,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,29}}</string>
			<key>sourceSize</key>
			<string>{203,29}</string>
		</dict>
		<key>images/Cultivate/kehechengdanyao.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,792},{147,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,34}}</string>
			<key>sourceSize</key>
			<string>{147,34}</string>
		</dict>
		<key>images/Cultivate/light_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,477},{68,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,30}}</string>
			<key>sourceSize</key>
			<string>{68,30}</string>
		</dict>
		<key>images/Cultivate/light_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,828},{145,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,29}}</string>
			<key>sourceSize</key>
			<string>{145,29}</string>
		</dict>
		<key>images/Cultivate/maxStateTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,477},{326,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{326,39}}</string>
			<key>sourceSize</key>
			<string>{326,39}</string>
		</dict>
		<key>images/Cultivate/pack_rightsel.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,406},{307,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{307,76}}</string>
			<key>sourceSize</key>
			<string>{307,76}</string>
		</dict>
		<key>images/Cultivate/state3.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,350},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state3_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{979,828},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state7.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,859},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state7_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,902},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,516},{149,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,70}}</string>
			<key>sourceSize</key>
			<string>{149,70}</string>
		</dict>
		<key>images/Cultivate/state_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,945},{134,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,76}}</string>
			<key>sourceSize</key>
			<string>{134,76}</string>
		</dict>
		<key>images/Cultivate/tunshi_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,948},{74,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,36}}</string>
			<key>sourceSize</key>
			<string>{74,36}</string>
		</dict>
		<key>images/Cultivate/xiuxingjingjie.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,547},{65,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,30}}</string>
			<key>sourceSize</key>
			<string>{65,30}</string>
		</dict>
		<key>images/Cultivate/xiuxingkapai.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,819},{202,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,40}}</string>
			<key>sourceSize</key>
			<string>{202,40}</string>
		</dict>
		<key>images/Cultivate/xq_drop_bgdis.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{560,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{560,68}}</string>
			<key>sourceSize</key>
			<string>{560,68}</string>
		</dict>
		<key>images/Cultivate/xq_drop_bgnor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,72},{560,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{560,68}}</string>
			<key>sourceSize</key>
			<string>{560,68}</string>
		</dict>
		<key>images/Cultivate/xq_drop_didiandis.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,350},{125,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,32}}</string>
			<key>sourceSize</key>
			<string>{125,32}</string>
		</dict>
		<key>images/Cultivate/xq_drop_didiannor.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,350},{125,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,32}}</string>
			<key>sourceSize</key>
			<string>{125,32}</string>
		</dict>
		<key>images/Cultivate/xq_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,142},{557,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{557,206}}</string>
			<key>sourceSize</key>
			<string>{557,206}</string>
		</dict>
		<key>images/Cultivate/xx_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,477},{469,442}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{469,442}}</string>
			<key>sourceSize</key>
			<string>{469,442}</string>
		</dict>
		<key>images/Cultivate/xx_icon_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,715},{102,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,101}}</string>
			<key>sourceSize</key>
			<string>{102,101}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Cultivate3.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c83d41f13da098bd19612495b5e01883:4/6$</string>
		<key>textureFileName</key>
		<string>Cultivate3.png</string>
	</dict>
</dict>
</plist>
