<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Cultivate/RATE_UNHARM_M_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,609},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_P_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,609},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_P_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,609},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHURT_CRIT_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,609},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/attrAdd.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,899},{91,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,31}}</string>
			<key>sourceSize</key>
			<string>{91,31}</string>
		</dict>
		<key>images/Cultivate/beibao.png</key>
		<dict>
			<key>frame</key>
			<string>{{985,936},{76,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,37}}</string>
			<key>sourceSize</key>
			<string>{76,37}</string>
		</dict>
		<key>images/Cultivate/bt_diaoluo.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,899},{121,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,36}}</string>
			<key>sourceSize</key>
			<string>{121,36}</string>
		</dict>
		<key>images/Cultivate/bt_reset.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,865},{69,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,34}}</string>
			<key>sourceSize</key>
			<string>{69,34}</string>
		</dict>
		<key>images/Cultivate/bt_resttimes.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,367},{115,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,32}}</string>
			<key>sourceSize</key>
			<string>{115,32}</string>
		</dict>
		<key>images/Cultivate/bt_skip.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,484},{127,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,35}}</string>
			<key>sourceSize</key>
			<string>{127,35}</string>
		</dict>
		<key>images/Cultivate/bt_tili.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,899},{115,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,32}}</string>
			<key>sourceSize</key>
			<string>{115,32}</string>
		</dict>
		<key>images/Cultivate/bt_xinkaiqi.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,899},{72,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,29}}</string>
			<key>sourceSize</key>
			<string>{72,29}</string>
		</dict>
		<key>images/Cultivate/composeLine_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,609},{410,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{410,44}}</string>
			<key>sourceSize</key>
			<string>{410,44}</string>
		</dict>
		<key>images/Cultivate/danyaoshuliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,609},{93,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,28}}</string>
			<key>sourceSize</key>
			<string>{93,28}</string>
		</dict>
		<key>images/Cultivate/fb_camp_dis.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{479,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{479,109}}</string>
			<key>sourceSize</key>
			<string>{479,109}</string>
		</dict>
		<key>images/Cultivate/fb_next.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,936},{142,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,86}}</string>
			<key>sourceSize</key>
			<string>{142,86}</string>
		</dict>
		<key>images/Cultivate/fb_prev.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,936},{142,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,86}}</string>
			<key>sourceSize</key>
			<string>{142,86}</string>
		</dict>
		<key>images/Cultivate/fb_prev_dis.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,936},{142,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,86}}</string>
			<key>sourceSize</key>
			<string>{142,86}</string>
		</dict>
		<key>images/Cultivate/fb_xiuxingta.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,936},{209,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,86}}</string>
			<key>sourceSize</key>
			<string>{209,86}</string>
		</dict>
		<key>images/Cultivate/font_compose.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,704},{69,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,28}}</string>
			<key>sourceSize</key>
			<string>{69,28}</string>
		</dict>
		<key>images/Cultivate/font_cross.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,775},{69,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,28}}</string>
			<key>sourceSize</key>
			<string>{69,28}</string>
		</dict>
		<key>images/Cultivate/fuben.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,605}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,605}}</string>
			<key>sourceSize</key>
			<string>{512,605}</string>
		</dict>
		<key>images/Cultivate/job3.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,609},{272,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{272,28}}</string>
			<key>sourceSize</key>
			<string>{272,28}</string>
		</dict>
		<key>images/Cultivate/kehechengdanyao.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,613},{147,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,34}}</string>
			<key>sourceSize</key>
			<string>{147,34}</string>
		</dict>
		<key>images/Cultivate/light_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,899},{68,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,30}}</string>
			<key>sourceSize</key>
			<string>{68,30}</string>
		</dict>
		<key>images/Cultivate/pack_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,113},{472,340}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,340}}</string>
			<key>sourceSize</key>
			<string>{472,340}</string>
		</dict>
		<key>images/Cultivate/pack_cailiaodengji.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,899},{120,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,33}}</string>
			<key>sourceSize</key>
			<string>{120,33}</string>
		</dict>
		<key>images/Cultivate/pack_shuliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,899},{67,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,32}}</string>
			<key>sourceSize</key>
			<string>{67,32}</string>
		</dict>
		<key>images/Cultivate/pack_stuffsel.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,931},{90,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,41}}</string>
			<key>sourceSize</key>
			<string>{90,41}</string>
		</dict>
		<key>images/Cultivate/state_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,931},{138,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,75}}</string>
			<key>sourceSize</key>
			<string>{138,75}</string>
		</dict>
		<key>images/Cultivate/swallowTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,899},{215,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,31}}</string>
			<key>sourceSize</key>
			<string>{215,31}</string>
		</dict>
		<key>images/Cultivate/xiuxingjingjie.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,899},{65,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,30}}</string>
			<key>sourceSize</key>
			<string>{65,30}</string>
		</dict>
		<key>images/Cultivate/xq_drop_didiandis.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,113},{125,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,32}}</string>
			<key>sourceSize</key>
			<string>{125,32}</string>
		</dict>
		<key>images/Cultivate/xq_drop_didiannor.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,240},{125,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,32}}</string>
			<key>sourceSize</key>
			<string>{125,32}</string>
		</dict>
		<key>images/Cultivate/xq_dy_cailiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,762},{101,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,34}}</string>
			<key>sourceSize</key>
			<string>{101,34}</string>
		</dict>
		<key>images/Cultivate/xx_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,455},{469,442}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{469,442}}</string>
			<key>sourceSize</key>
			<string>{469,442}</string>
		</dict>
		<key>images/Cultivate/xx_icon_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,936},{81,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,71}}</string>
			<key>sourceSize</key>
			<string>{81,71}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Cultivate3.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d1036144800837b5525a8b4e5d0ac074:4/7$</string>
		<key>textureFileName</key>
		<string>Cultivate3.png</string>
	</dict>
</dict>
</plist>
