<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Cultivate/P_RATE_UNCRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,450},{155,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,75}}</string>
			<key>sourceSize</key>
			<string>{155,75}</string>
		</dict>
		<key>images/Cultivate/P_RATE_UNHURT_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,450},{155,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,75}}</string>
			<key>sourceSize</key>
			<string>{155,75}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_P_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,348},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/arrow_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,937},{40,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,41}}</string>
			<key>sourceSize</key>
			<string>{40,41}</string>
		</dict>
		<key>images/Cultivate/arrow_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,2},{25,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,30}}</string>
			<key>sourceSize</key>
			<string>{25,30}</string>
		</dict>
		<key>images/Cultivate/btnAttr.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,880},{55,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,113}}</string>
			<key>sourceSize</key>
			<string>{55,113}</string>
		</dict>
		<key>images/Cultivate/cailiaojieshao.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,992},{116,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,30}}</string>
			<key>sourceSize</key>
			<string>{116,30}</string>
		</dict>
		<key>images/Cultivate/chongxiuguizheBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,608},{379,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{379,166}}</string>
			<key>sourceSize</key>
			<string>{379,166}</string>
		</dict>
		<key>images/Cultivate/danyaojieshao.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,992},{116,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,30}}</string>
			<key>sourceSize</key>
			<string>{116,30}</string>
		</dict>
		<key>images/Cultivate/fb_battle_dis.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,224},{356,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,210}}</string>
			<key>sourceSize</key>
			<string>{356,210}</string>
		</dict>
		<key>images/Cultivate/fb_camp_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,604}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,604}}</string>
			<key>sourceSize</key>
			<string>{512,604}</string>
		</dict>
		<key>images/Cultivate/fb_camp_dis.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{479,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{479,109}}</string>
			<key>sourceSize</key>
			<string>{479,109}</string>
		</dict>
		<key>images/Cultivate/fb_camp_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,113},{479,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{479,109}}</string>
			<key>sourceSize</key>
			<string>{479,109}</string>
		</dict>
		<key>images/Cultivate/fb_next.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,880},{142,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,86}}</string>
			<key>sourceSize</key>
			<string>{142,86}</string>
		</dict>
		<key>images/Cultivate/fb_prev.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,880},{142,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,86}}</string>
			<key>sourceSize</key>
			<string>{142,86}</string>
		</dict>
		<key>images/Cultivate/fb_prev_dis.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,880},{142,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,86}}</string>
			<key>sourceSize</key>
			<string>{142,86}</string>
		</dict>
		<key>images/Cultivate/item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,751},{541,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{541,127}}</string>
			<key>sourceSize</key>
			<string>{541,127}</string>
		</dict>
		<key>images/Cultivate/pack_kefuyong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,992},{141,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,30}}</string>
			<key>sourceSize</key>
			<string>{141,30}</string>
		</dict>
		<key>images/Cultivate/state9.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,880},{142,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,41}}</string>
			<key>sourceSize</key>
			<string>{142,41}</string>
		</dict>
		<key>images/Cultivate/state9_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,880},{142,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,41}}</string>
			<key>sourceSize</key>
			<string>{142,41}</string>
		</dict>
		<key>images/Cultivate/state_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,450},{140,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,77}}</string>
			<key>sourceSize</key>
			<string>{140,77}</string>
		</dict>
		<key>images/Cultivate/state_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,529},{134,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,76}}</string>
			<key>sourceSize</key>
			<string>{134,76}</string>
		</dict>
		<key>images/Cultivate/state_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,880},{141,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,76}}</string>
			<key>sourceSize</key>
			<string>{141,76}</string>
		</dict>
		<key>images/Cultivate/tnushi_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,608},{382,309}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{382,309}}</string>
			<key>sourceSize</key>
			<string>{382,309}</string>
		</dict>
		<key>images/Cultivate/tunshi_head.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,608},{541,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{541,141}}</string>
			<key>sourceSize</key>
			<string>{541,141}</string>
		</dict>
		<key>images/Cultivate/type1.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,34},{25,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,27}}</string>
			<key>sourceSize</key>
			<string>{25,27}</string>
		</dict>
		<key>images/Cultivate/type2.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,63},{25,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,27}}</string>
			<key>sourceSize</key>
			<string>{25,27}</string>
		</dict>
		<key>images/Cultivate/xiaohao.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,989},{67,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,33}}</string>
			<key>sourceSize</key>
			<string>{67,33}</string>
		</dict>
		<key>images/Cultivate/xiuxing_bg_jian.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,224},{122,293}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,293}}</string>
			<key>sourceSize</key>
			<string>{122,293}</string>
		</dict>
		<key>images/Cultivate/xx_icon_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,937},{81,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,71}}</string>
			<key>sourceSize</key>
			<string>{81,71}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Cultivate1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c83d41f13da098bd19612495b5e01883:2/6$</string>
		<key>textureFileName</key>
		<string>Cultivate1.png</string>
	</dict>
</dict>
</plist>
