<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/JX02/1_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,178},{71,152}}</string>
			<key>offset</key>
			<string>{0,59}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,7},{71,152}}</string>
			<key>sourceSize</key>
			<string>{119,284}</string>
		</dict>
		<key>images/Effect/JX02/1_00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{81,174}}</string>
			<key>offset</key>
			<string>{-1,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,92},{81,174}}</string>
			<key>sourceSize</key>
			<string>{119,284}</string>
		</dict>
		<key>images/Effect/JX02/1_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,2},{91,114}}</string>
			<key>offset</key>
			<string>{-1,-85}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,170},{91,114}}</string>
			<key>sourceSize</key>
			<string>{119,284}</string>
		</dict>
		<key>images/Effect/JX02/1_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,118},{89,116}}</string>
			<key>offset</key>
			<string>{1,-84}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,168},{89,116}}</string>
			<key>sourceSize</key>
			<string>{119,284}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>JX020.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7600ac808b9534732be8a8569ae6f1ac:1/1$</string>
		<key>textureFileName</key>
		<string>JX020.png</string>
	</dict>
</dict>
</plist>
