<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/NMW03/NMW03_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,298},{107,109}}</string>
			<key>offset</key>
			<string>{7,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,44},{107,109}}</string>
			<key>sourceSize</key>
			<string>{163,177}</string>
		</dict>
		<key>images/Effect/NMW03/NMW03_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{109,163}}</string>
			<key>offset</key>
			<string>{7,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,0},{109,163}}</string>
			<key>sourceSize</key>
			<string>{163,177}</string>
		</dict>
		<key>images/Effect/NMW03/NMW03_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,151},{117,145}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,21},{117,145}}</string>
			<key>sourceSize</key>
			<string>{163,177}</string>
		</dict>
		<key>images/Effect/NMW03/NMW03_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,167},{133,149}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,24},{133,149}}</string>
			<key>sourceSize</key>
			<string>{163,177}</string>
		</dict>
		<key>images/Effect/NMW03/NMW03_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,318},{145,143}}</string>
			<key>offset</key>
			<string>{-5,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,24},{145,143}}</string>
			<key>sourceSize</key>
			<string>{163,177}</string>
		</dict>
		<key>images/Effect/NMW03/NMW03_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,2},{107,143}}</string>
			<key>offset</key>
			<string>{7,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,25},{107,143}}</string>
			<key>sourceSize</key>
			<string>{163,177}</string>
		</dict>
		<key>images/Effect/NMW03/NMW03_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,2},{107,147}}</string>
			<key>offset</key>
			<string>{7,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,25},{107,147}}</string>
			<key>sourceSize</key>
			<string>{163,177}</string>
		</dict>
		<key>images/Effect/NMW03/NMW03_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,2},{107,125}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,26},{107,125}}</string>
			<key>sourceSize</key>
			<string>{163,177}</string>
		</dict>
		<key>images/Effect/NMW03/NMW03_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,111},{107,123}}</string>
			<key>offset</key>
			<string>{7,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,28},{107,123}}</string>
			<key>sourceSize</key>
			<string>{163,177}</string>
		</dict>
		<key>images/Effect/NMW03/NMW03_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,465},{33,95}}</string>
			<key>offset</key>
			<string>{12,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,32},{33,95}}</string>
			<key>sourceSize</key>
			<string>{163,177}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>NMW030.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7d3526eef39f239b77e51ea344c7f5fa:1/1$</string>
		<key>textureFileName</key>
		<string>NMW030.png</string>
	</dict>
</dict>
</plist>
