<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Bless/0.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,422},{48,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,65}}</string>
			<key>sourceSize</key>
			<string>{48,65}</string>
		</dict>
		<key>images/Bless/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,331},{48,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,65}}</string>
			<key>sourceSize</key>
			<string>{48,65}</string>
		</dict>
		<key>images/Bless/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,316},{48,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,65}}</string>
			<key>sourceSize</key>
			<string>{48,65}</string>
		</dict>
		<key>images/Bless/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,316},{48,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,65}}</string>
			<key>sourceSize</key>
			<string>{48,65}</string>
		</dict>
		<key>images/Bless/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,366},{48,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,65}}</string>
			<key>sourceSize</key>
			<string>{48,65}</string>
		</dict>
		<key>images/Bless/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,453},{48,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,65}}</string>
			<key>sourceSize</key>
			<string>{48,65}</string>
		</dict>
		<key>images/Bless/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,453},{48,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,65}}</string>
			<key>sourceSize</key>
			<string>{48,65}</string>
		</dict>
		<key>images/Bless/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,453},{48,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,65}}</string>
			<key>sourceSize</key>
			<string>{48,65}</string>
		</dict>
		<key>images/Bless/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,472},{48,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,65}}</string>
			<key>sourceSize</key>
			<string>{48,65}</string>
		</dict>
		<key>images/Bless/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,453},{48,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,65}}</string>
			<key>sourceSize</key>
			<string>{48,65}</string>
		</dict>
		<key>images/Bless/CountDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,240},{172,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,29}}</string>
			<key>sourceSize</key>
			<string>{172,29}</string>
		</dict>
		<key>images/Bless/baiTianGuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,316},{98,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,37}}</string>
			<key>sourceSize</key>
			<string>{98,37}</string>
		</dict>
		<key>images/Bless/bestRewards.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,928},{374,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{374,86}}</string>
			<key>sourceSize</key>
			<string>{374,86}</string>
		</dict>
		<key>images/Bless/blessGet.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,240},{244,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,37}}</string>
			<key>sourceSize</key>
			<string>{244,37}</string>
		</dict>
		<key>images/Bless/canGetReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,422},{312,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{312,29}}</string>
			<key>sourceSize</key>
			<string>{312,29}</string>
		</dict>
		<key>images/Bless/cost.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,301},{53,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,28}}</string>
			<key>sourceSize</key>
			<string>{53,28}</string>
		</dict>
		<key>images/Bless/fntJade.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,928},{88,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,46}}</string>
			<key>sourceSize</key>
			<string>{88,46}</string>
		</dict>
		<key>images/Bless/leftTimes.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,271},{154,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,28}}</string>
			<key>sourceSize</key>
			<string>{154,28}</string>
		</dict>
		<key>images/Bless/lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,422},{51,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,66}}</string>
			<key>sourceSize</key>
			<string>{51,66}</string>
		</dict>
		<key>images/Bless/mainBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,2},{471,441}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{471,441}}</string>
			<key>sourceSize</key>
			<string>{471,441}</string>
		</dict>
		<key>images/Bless/need2Charge.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,284},{397,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{397,30}}</string>
			<key>sourceSize</key>
			<string>{397,30}</string>
		</dict>
		<key>images/Bless/numberBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{571,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{571,117}}</string>
			<key>sourceSize</key>
			<string>{571,117}</string>
		</dict>
		<key>images/Bless/numberBg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,316},{118,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,104}}</string>
			<key>sourceSize</key>
			<string>{118,104}</string>
		</dict>
		<key>images/Bless/promptBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,475},{451,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{451,176}}</string>
			<key>sourceSize</key>
			<string>{451,176}</string>
		</dict>
		<key>images/Bless/rewardBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,121},{571,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{571,117}}</string>
			<key>sourceSize</key>
			<string>{571,117}</string>
		</dict>
		<key>images/Bless/rewardBg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,316},{96,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,104}}</string>
			<key>sourceSize</key>
			<string>{96,104}</string>
		</dict>
		<key>images/Bless/titleBless.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,240},{139,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,42}}</string>
			<key>sourceSize</key>
			<string>{139,42}</string>
		</dict>
		<key>images/Bless/unlockHundred.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,422},{104,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,48}}</string>
			<key>sourceSize</key>
			<string>{104,48}</string>
		</dict>
		<key>images/Bless/unlockReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,316},{104,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,47}}</string>
			<key>sourceSize</key>
			<string>{104,47}</string>
		</dict>
		<key>images/Bless/unlockThousand.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,316},{104,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,48}}</string>
			<key>sourceSize</key>
			<string>{104,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Bless0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:88d156201727f9d4c74fdb8c1068877e:1/1$</string>
		<key>textureFileName</key>
		<string>Bless0.png</string>
	</dict>
</dict>
</plist>
