<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/AK1603/AK16031.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{60,254}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{98,2},{60,254}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>images/Effect/AK1603/AK16032.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,2},{194,142}}</string>
			<key>offset</key>
			<string>{-10,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,8},{194,142}}</string>
			<key>sourceSize</key>
			<string>{254,150}</string>
		</dict>
		<key>images/Effect/AK1603/AK16033.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,214},{204,140}}</string>
			<key>offset</key>
			<string>{-13,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,9},{204,140}}</string>
			<key>sourceSize</key>
			<string>{254,150}</string>
		</dict>
		<key>images/Effect/AK1603/AK16034.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,2},{210,134}}</string>
			<key>offset</key>
			<string>{-13,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,12},{210,134}}</string>
			<key>sourceSize</key>
			<string>{254,150}</string>
		</dict>
		<key>images/Effect/AK1603/AK16035.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,258},{212,116}}</string>
			<key>offset</key>
			<string>{-13,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,11},{212,116}}</string>
			<key>sourceSize</key>
			<string>{254,150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>AK16030.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8bba3453a1f9b166dbd27f94ba88ee81:1/1$</string>
		<key>textureFileName</key>
		<string>AK16030.png</string>
	</dict>
</dict>
</plist>
