<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/ESZZ03/huo_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,394},{89,114}}</string>
			<key>offset</key>
			<string>{3,-41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,91},{89,114}}</string>
			<key>sourceSize</key>
			<string>{187,214}</string>
		</dict>
		<key>images/Effect/ESZZ03/huo_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,408},{99,194}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,10},{99,194}}</string>
			<key>sourceSize</key>
			<string>{187,214}</string>
		</dict>
		<key>images/Effect/ESZZ03/huo_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,198},{103,194}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,9},{103,194}}</string>
			<key>sourceSize</key>
			<string>{187,214}</string>
		</dict>
		<key>images/Effect/ESZZ03/huo_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,2},{107,194}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,9},{107,194}}</string>
			<key>sourceSize</key>
			<string>{187,214}</string>
		</dict>
		<key>images/Effect/ESZZ03/huo_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,206},{117,200}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,5},{117,200}}</string>
			<key>sourceSize</key>
			<string>{187,214}</string>
		</dict>
		<key>images/Effect/ESZZ03/huo_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{113,202}}</string>
			<key>offset</key>
			<string>{6,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,4},{113,202}}</string>
			<key>sourceSize</key>
			<string>{187,214}</string>
		</dict>
		<key>images/Effect/ESZZ03/huo_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,2},{119,192}}</string>
			<key>offset</key>
			<string>{14,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,15},{119,192}}</string>
			<key>sourceSize</key>
			<string>{187,214}</string>
		</dict>
		<key>images/Effect/ESZZ03/huo_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,123},{129,174}}</string>
			<key>offset</key>
			<string>{6,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,33},{129,174}}</string>
			<key>sourceSize</key>
			<string>{187,214}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ESZZ030.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d4b10ea32f714e9028f1f1a7beda92c7:1/1$</string>
		<key>textureFileName</key>
		<string>ESZZ030.png</string>
	</dict>
</dict>
</plist>
