<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Mall/lotteryMainBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{598,572}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{598,572}}</string>
			<key>sourceSize</key>
			<string>{598,572}</string>
		</dict>
		<key>images/Mall/paneldark.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{408,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,131}}</string>
			<key>sourceSize</key>
			<string>{408,131}</string>
		</dict>
		<key>images/Mall/saleTip1.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,135},{383,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{383,78}}</string>
			<key>sourceSize</key>
			<string>{383,78}</string>
		</dict>
		<key>images/Mall/sellOut.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,215},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/Mall/xingxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,215},{236,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,122}}</string>
			<key>sourceSize</key>
			<string>{236,122}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Mall1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bdf95dd06f9c193a00e9d90da3bf5dc5:2/3$</string>
		<key>textureFileName</key>
		<string>Mall1.png</string>
	</dict>
</dict>
</plist>
