<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Mall/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{473,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{473,447}}</string>
			<key>sourceSize</key>
			<string>{473,447}</string>
		</dict>
		<key>images/Mall/cheapBuyBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,2},{473,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{473,447}}</string>
			<key>sourceSize</key>
			<string>{473,447}</string>
		</dict>
		<key>images/Mall/superBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,451},{472,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,447}}</string>
			<key>sourceSize</key>
			<string>{472,447}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Mall2.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bdf95dd06f9c193a00e9d90da3bf5dc5:3/3$</string>
		<key>textureFileName</key>
		<string>Mall2.png</string>
	</dict>
</dict>
</plist>
