<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/JG01/JGh1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,254},{124,112}}</string>
			<key>offset</key>
			<string>{7,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,19},{124,112}}</string>
			<key>sourceSize</key>
			<string>{232,186}</string>
		</dict>
		<key>images/Effect/JG01/JGh2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,150},{188,102}}</string>
			<key>offset</key>
			<string>{6,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,49},{188,102}}</string>
			<key>sourceSize</key>
			<string>{232,186}</string>
		</dict>
		<key>images/Effect/JG01/JGh3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{228,146}}</string>
			<key>offset</key>
			<string>{2,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,38},{228,146}}</string>
			<key>sourceSize</key>
			<string>{232,186}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>JG010.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8d309e2d7eec0c279d446ecc3bbcefa2:1/1$</string>
		<key>textureFileName</key>
		<string>JG010.png</string>
	</dict>
</dict>
</plist>
