<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Moon/fntBuyMaterila.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,2},{106,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,32}}</string>
			<key>sourceSize</key>
			<string>{106,32}</string>
		</dict>
		<key>images/Moon/fntBuyMoon.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,451},{183,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,38}}</string>
			<key>sourceSize</key>
			<string>{183,38}</string>
		</dict>
		<key>images/Moon/fntCost.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,432},{56,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,31}}</string>
			<key>sourceSize</key>
			<string>{56,31}</string>
		</dict>
		<key>images/Moon/fntExchange.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,218},{105,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,32}}</string>
			<key>sourceSize</key>
			<string>{105,32}</string>
		</dict>
		<key>images/Moon/fntHouYi.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,325},{105,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,32}}</string>
			<key>sourceSize</key>
			<string>{105,32}</string>
		</dict>
		<key>images/Moon/fntHuanLe.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,451},{105,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,32}}</string>
			<key>sourceSize</key>
			<string>{105,32}</string>
		</dict>
		<key>images/Moon/fntMakeCake.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,110},{106,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,32}}</string>
			<key>sourceSize</key>
			<string>{106,32}</string>
		</dict>
		<key>images/Moon/moonBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{472,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,447}}</string>
			<key>sourceSize</key>
			<string>{472,447}</string>
		</dict>
		<key>images/Moon/moonCake.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,451},{38,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,35}}</string>
			<key>sourceSize</key>
			<string>{38,35}</string>
		</dict>
		<key>images/Moon/scaleShadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,451},{109,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,46}}</string>
			<key>sourceSize</key>
			<string>{109,46}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Moon0.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:464100331db1025b3893b80d7cb28212:1/3$</string>
		<key>textureFileName</key>
		<string>Moon0.png</string>
	</dict>
</dict>
</plist>
