<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/uitouziTX/123001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{218,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,196}}</string>
			<key>sourceSize</key>
			<string>{218,196}</string>
		</dict>
		<key>images/Effect/uitouziTX/123002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,200},{218,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,196}}</string>
			<key>sourceSize</key>
			<string>{218,196}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>uitouziTX0.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a8de8b1ffee83220b0747b82b83ca1ed:1/1$</string>
		<key>textureFileName</key>
		<string>uitouziTX0.png</string>
	</dict>
</dict>
</plist>
