<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/UIbzzjtx3/adian0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{89,361}}</string>
			<key>offset</key>
			<string>{-7,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,0},{89,361}}</string>
			<key>sourceSize</key>
			<string>{181,367}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/adian0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,93},{121,325}}</string>
			<key>offset</key>
			<string>{-1,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,14},{121,325}}</string>
			<key>sourceSize</key>
			<string>{181,367}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/adian0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,139},{151,293}}</string>
			<key>offset</key>
			<string>{-7,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,21},{151,293}}</string>
			<key>sourceSize</key>
			<string>{181,367}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/bag.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,216},{90,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,32},{90,92}}</string>
			<key>sourceSize</key>
			<string>{160,156}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/baiguang.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,2},{135,135}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{135,135}}</string>
			<key>sourceSize</key>
			<string>{143,143}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/dian0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,93},{28,224}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,5},{28,224}}</string>
			<key>sourceSize</key>
			<string>{74,234}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/dian0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,216},{46,230}}</string>
			<key>offset</key>
			<string>{8,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,0},{46,230}}</string>
			<key>sourceSize</key>
			<string>{74,234}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/dian0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,572},{62,146}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,43},{62,146}}</string>
			<key>sourceSize</key>
			<string>{74,234}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/dian0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,319},{22,62}}</string>
			<key>offset</key>
			<string>{8,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,63},{22,62}}</string>
			<key>sourceSize</key>
			<string>{74,234}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/gd0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,308},{96,100}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{91,95},{96,100}}</string>
			<key>sourceSize</key>
			<string>{284,284}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/gd0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,434},{154,170}}</string>
			<key>offset</key>
			<string>{-8,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,49},{154,170}}</string>
			<key>sourceSize</key>
			<string>{284,284}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/gd0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,264},{196,224}}</string>
			<key>offset</key>
			<string>{-11,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,22},{196,224}}</string>
			<key>sourceSize</key>
			<string>{284,284}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/gg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,462},{154,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,4},{154,154}}</string>
			<key>sourceSize</key>
			<string>{164,162}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/gg0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,462},{63,65}}</string>
			<key>offset</key>
			<string>{10,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,41},{63,65}}</string>
			<key>sourceSize</key>
			<string>{159,139}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/gg0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,618},{73,71}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,34},{73,71}}</string>
			<key>sourceSize</key>
			<string>{159,139}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/gg0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,618},{77,71}}</string>
			<key>offset</key>
			<string>{-6,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,35},{77,71}}</string>
			<key>sourceSize</key>
			<string>{159,139}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/gg0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,527},{43,63}}</string>
			<key>offset</key>
			<string>{-36,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,33},{43,63}}</string>
			<key>sourceSize</key>
			<string>{159,139}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/qdian0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,497},{89,89}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,15},{89,89}}</string>
			<key>sourceSize</key>
			<string>{101,107}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/qdian0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,588},{81,85}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,14},{81,85}}</string>
			<key>sourceSize</key>
			<string>{101,107}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/qdian0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,410},{91,85}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,10},{91,85}}</string>
			<key>sourceSize</key>
			<string>{101,107}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/qiu0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,691},{55,51}}</string>
			<key>offset</key>
			<string>{-4,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,21},{55,51}}</string>
			<key>sourceSize</key>
			<string>{101,107}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/qiu0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,691},{55,51}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,23},{55,51}}</string>
			<key>sourceSize</key>
			<string>{101,107}</string>
		</dict>
		<key>images/Effect/UIbzzjtx3/qiu0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,590},{51,51}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,24},{51,51}}</string>
			<key>sourceSize</key>
			<string>{101,107}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIbzzjtx30.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:910fdc280b7e32b5d3f3642d91f823ff:1/1$</string>
		<key>textureFileName</key>
		<string>UIbzzjtx30.png</string>
	</dict>
</dict>
</plist>
