<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/MallRace/discount2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,456},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount3.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,456},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount4.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,456},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount5.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,456},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount6.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,456},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount7.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,456},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount8.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,456},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount9.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,456},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/shopBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{478,452}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{478,452}}</string>
			<key>sourceSize</key>
			<string>{478,452}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MallRace0.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5b1436d40d3b4c16dfaa93eb50b33658:1/4$</string>
		<key>textureFileName</key>
		<string>MallRace0.png</string>
	</dict>
</dict>
</plist>
