<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/MallRace/buyPreview.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,452},{134,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,39}}</string>
			<key>sourceSize</key>
			<string>{134,39}</string>
		</dict>
		<key>images/MallRace/buyPreviewSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,452},{97,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,30}}</string>
			<key>sourceSize</key>
			<string>{97,30}</string>
		</dict>
		<key>images/MallRace/discount1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,452},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/fntBuy.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,452},{59,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,34}}</string>
			<key>sourceSize</key>
			<string>{59,34}</string>
		</dict>
		<key>images/MallRace/fntRefresh.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,452},{102,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,31}}</string>
			<key>sourceSize</key>
			<string>{102,31}</string>
		</dict>
		<key>images/MallRace/xian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{239,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,448}}</string>
			<key>sourceSize</key>
			<string>{239,448}</string>
		</dict>
		<key>images/MallRace/yao.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,2},{239,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,448}}</string>
			<key>sourceSize</key>
			<string>{239,448}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MallRace1.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5b1436d40d3b4c16dfaa93eb50b33658:2/4$</string>
		<key>textureFileName</key>
		<string>MallRace1.png</string>
	</dict>
</dict>
</plist>
