<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/MallRace/discount2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,452},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount3.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,452},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount4.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,452},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount5.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,452},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount6.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,452},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount7.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,452},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount8.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,452},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/discount9.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,452},{59,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{59,53}</string>
		</dict>
		<key>images/MallRace/xian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{239,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,448}}</string>
			<key>sourceSize</key>
			<string>{239,448}</string>
		</dict>
		<key>images/MallRace/yao.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,2},{239,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,448}}</string>
			<key>sourceSize</key>
			<string>{239,448}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MallRace0.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:73cdbb6446ae93e7a906dbb3b864dc5e:1/3$</string>
		<key>textureFileName</key>
		<string>MallRace0.png</string>
	</dict>
</dict>
</plist>
