<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/dumpling/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{472,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,262}}</string>
			<key>sourceSize</key>
			<string>{472,262}</string>
		</dict>
		<key>images/dumpling/click.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,2},{122,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,34}}</string>
			<key>sourceSize</key>
			<string>{122,34}</string>
		</dict>
		<key>images/dumpling/dumpling.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,266},{241,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,43}}</string>
			<key>sourceSize</key>
			<string>{241,43}</string>
		</dict>
		<key>images/dumpling/greenDumpOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,420},{104,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,86}}</string>
			<key>sourceSize</key>
			<string>{104,86}</string>
		</dict>
		<key>images/dumpling/img_pig.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,266},{238,305}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,305}}</string>
			<key>sourceSize</key>
			<string>{238,305}</string>
		</dict>
		<key>images/dumpling/newYearStore.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,420},{90,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,26}}</string>
			<key>sourceSize</key>
			<string>{90,26}</string>
		</dict>
		<key>images/dumpling/purpleDumpOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,313},{155,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,105}}</string>
			<key>sourceSize</key>
			<string>{155,105}</string>
		</dict>
		<key>images/dumpling/title_dumpling.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,126},{122,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,34}}</string>
			<key>sourceSize</key>
			<string>{122,34}</string>
		</dict>
		<key>images/dumpling/ttf_duration.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,266},{116,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,27}}</string>
			<key>sourceSize</key>
			<string>{116,27}</string>
		</dict>
		<key>images/dumpling/use.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,250},{61,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,34}}</string>
			<key>sourceSize</key>
			<string>{61,34}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dumpling0.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:db2da6124b5964c73fe600cd5b12abad:1/3$</string>
		<key>textureFileName</key>
		<string>dumpling0.png</string>
	</dict>
</dict>
</plist>
