<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/dumpling/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{472,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,262}}</string>
				<key>sourceSize</key>
				<string>{472,262}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>dumpling_0.pkm</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:b74eb7288523b1ebf99b7bd375add4c3:1/1$</string>
			<key>textureFileName</key>
			<string>dumpling_0.pkm</string>
		</dict>
	</dict>
</plist>

