<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/month/fntBuyAndGet.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,2},{169,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,32}}</string>
			<key>sourceSize</key>
			<string>{169,32}</string>
		</dict>
		<key>images/month/fntExtraGive.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,452},{203,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,38}}</string>
			<key>sourceSize</key>
			<string>{203,38}</string>
		</dict>
		<key>images/month/fntLeftDrawDay.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,233},{176,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,31}}</string>
			<key>sourceSize</key>
			<string>{176,31}</string>
		</dict>
		<key>images/month/fntMonthCard.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,452},{131,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,37}}</string>
			<key>sourceSize</key>
			<string>{131,37}</string>
		</dict>
		<key>images/month/fntMonthCardPrice.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,452},{82,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,34}}</string>
			<key>sourceSize</key>
			<string>{82,34}</string>
		</dict>
		<key>images/month/fntPinkJade.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,173},{58,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,32}}</string>
			<key>sourceSize</key>
			<string>{58,32}</string>
		</dict>
		<key>images/month/fntYellowJade.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,452},{66,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,38}}</string>
			<key>sourceSize</key>
			<string>{66,38}</string>
		</dict>
		<key>images/month/monthBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{474,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{474,448}}</string>
			<key>sourceSize</key>
			<string>{474,448}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>month0.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:22a93b0a47130adc6b29a17619d2fd2f:1/1$</string>
		<key>textureFileName</key>
		<string>month0.png</string>
	</dict>
</dict>
</plist>
