<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Login/FontBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{633,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{633,52}}</string>
			<key>sourceSize</key>
			<string>{633,52}</string>
		</dict>
		<key>images/Login/accountLocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,788},{134,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,39}}</string>
			<key>sourceSize</key>
			<string>{134,39}</string>
		</dict>
		<key>images/Login/accountLogin.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,842},{160,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,53}}</string>
			<key>sourceSize</key>
			<string>{160,53}</string>
		</dict>
		<key>images/Login/accountRegister.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,829},{134,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,39}}</string>
			<key>sourceSize</key>
			<string>{134,39}</string>
		</dict>
		<key>images/Login/area.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,870},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>images/Login/areaNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,707},{120,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,42}}</string>
			<key>sourceSize</key>
			<string>{120,42}</string>
		</dict>
		<key>images/Login/areaSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,707},{120,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,42}}</string>
			<key>sourceSize</key>
			<string>{120,42}</string>
		</dict>
		<key>images/Login/area_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,619},{418,398}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{418,398}}</string>
			<key>sourceSize</key>
			<string>{418,398}</string>
		</dict>
		<key>images/Login/blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1010,680},{160,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,4}}</string>
			<key>sourceSize</key>
			<string>{160,4}</string>
		</dict>
		<key>images/Login/btnAccountNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,788},{86,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,52}}</string>
			<key>sourceSize</key>
			<string>{86,52}</string>
		</dict>
		<key>images/Login/btnAccountSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,530},{86,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,52}}</string>
			<key>sourceSize</key>
			<string>{86,52}</string>
		</dict>
		<key>images/Login/btnCloseNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,56},{74,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,77}}</string>
			<key>sourceSize</key>
			<string>{74,77}</string>
		</dict>
		<key>images/Login/btnCloseSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,110},{74,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,77}}</string>
			<key>sourceSize</key>
			<string>{74,77}</string>
		</dict>
		<key>images/Login/btnFriendSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,619},{600,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{600,59}}</string>
			<key>sourceSize</key>
			<string>{600,59}</string>
		</dict>
		<key>images/Login/btn_common_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,707},{235,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,79}}</string>
			<key>sourceSize</key>
			<string>{235,79}</string>
		</dict>
		<key>images/Login/btn_common_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,56},{235,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,79}}</string>
			<key>sourceSize</key>
			<string>{235,79}</string>
		</dict>
		<key>images/Login/btn_entergame_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,293},{235,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,79}}</string>
			<key>sourceSize</key>
			<string>{235,79}</string>
		</dict>
		<key>images/Login/btn_entergame_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,56},{235,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,79}}</string>
			<key>sourceSize</key>
			<string>{235,79}</string>
		</dict>
		<key>images/Login/btn_long_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,842},{170,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,65}}</string>
			<key>sourceSize</key>
			<string>{170,65}</string>
		</dict>
		<key>images/Login/btn_long_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,842},{170,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,65}}</string>
			<key>sourceSize</key>
			<string>{170,65}</string>
		</dict>
		<key>images/Login/confirm_tips_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,2},{615,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{615,361}}</string>
			<key>sourceSize</key>
			<string>{615,361}</string>
		</dict>
		<key>images/Login/edit_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,707},{285,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,45}}</string>
			<key>sourceSize</key>
			<string>{285,45}</string>
		</dict>
		<key>images/Login/exp_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,680},{338,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{338,25}}</string>
			<key>sourceSize</key>
			<string>{338,25}</string>
		</dict>
		<key>images/Login/exp_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,680},{532,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{532,25}}</string>
			<key>sourceSize</key>
			<string>{532,25}</string>
		</dict>
		<key>images/Login/exp_pro.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,680},{338,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{338,25}}</string>
			<key>sourceSize</key>
			<string>{338,25}</string>
		</dict>
		<key>images/Login/font_all_server.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,842},{141,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,46}}</string>
			<key>sourceSize</key>
			<string>{141,46}</string>
		</dict>
		<key>images/Login/font_logged_server.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,788},{213,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,46}}</string>
			<key>sourceSize</key>
			<string>{213,46}</string>
		</dict>
		<key>images/Login/gamecenter.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,870},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/Login/itemBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,56},{511,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{511,53}}</string>
			<key>sourceSize</key>
			<string>{511,53}</string>
		</dict>
		<key>images/Login/item_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,1014},{515,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{515,5}}</string>
			<key>sourceSize</key>
			<string>{515,5}</string>
		</dict>
		<key>images/Login/login_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,530},{86,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,52}}</string>
			<key>sourceSize</key>
			<string>{86,52}</string>
		</dict>
		<key>images/Login/login_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,56},{86,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,52}}</string>
			<key>sourceSize</key>
			<string>{86,52}</string>
		</dict>
		<key>images/Login/red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1016,680},{121,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,4}}</string>
			<key>sourceSize</key>
			<string>{121,4}</string>
		</dict>
		<key>images/Login/transparent80.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,707},{80,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,120}}</string>
			<key>sourceSize</key>
			<string>{80,120}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Login0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:31f33132a9ad0a0a17225a9823e9288c:1/1$</string>
		<key>textureFileName</key>
		<string>Login0.png</string>
	</dict>
</dict>
</plist>
