<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Draw/arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{160,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,225}}</string>
			<key>sourceSize</key>
			<string>{160,225}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Draw2.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:657111e6ab3a98cc48c177e67bf1a696:3/3$</string>
		<key>textureFileName</key>
		<string>Draw2.png</string>
	</dict>
</dict>
</plist>
