<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/Deposit/splitLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{3,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,79}}</string>
				<key>sourceSize</key>
				<string>{3,79}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Deposit_0.pkm</string>
			<key>size</key>
			<string>{8,128}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:7399c2db5a2055160be8bd074ea4f954:1/1$</string>
			<key>textureFileName</key>
			<string>Deposit_0.pkm</string>
		</dict>
	</dict>
</plist>

