<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/uilove01/0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{524,983}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{524,983}}</string>
			<key>sourceSize</key>
			<string>{524,983}</string>
		</dict>
		<key>images/Effect/uilove01/0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,933},{495,459}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{495,459}}</string>
			<key>sourceSize</key>
			<string>{499,459}</string>
		</dict>
		<key>images/Effect/uilove01/2010.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,1518},{136,138}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,5},{136,138}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>images/Effect/uilove01/afs00.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,1292},{119,185}}</string>
			<key>offset</key>
			<string>{-9,201}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{141,0},{119,185}}</string>
			<key>sourceSize</key>
			<string>{419,587}</string>
		</dict>
		<key>images/Effect/uilove01/afs01.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,887},{155,275}}</string>
			<key>offset</key>
			<string>{-27,156}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{105,0},{155,275}}</string>
			<key>sourceSize</key>
			<string>{419,587}</string>
		</dict>
		<key>images/Effect/uilove01/afs02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,528},{403,587}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,0},{403,587}}</string>
			<key>sourceSize</key>
			<string>{419,587}</string>
		</dict>
		<key>images/Effect/uilove01/fs21.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,528},{357,396}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,2},{357,396}}</string>
			<key>sourceSize</key>
			<string>{391,398}</string>
		</dict>
		<key>images/Effect/uilove01/ks11.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,1044},{246,248}}</string>
			<key>offset</key>
			<string>{-4,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{246,248}}</string>
			<key>sourceSize</key>
			<string>{254,252}</string>
		</dict>
		<key>images/Effect/uilove01/left00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1526},{136,100}}</string>
			<key>offset</key>
			<string>{32,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,0},{136,100}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/left01.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,1522},{136,106}}</string>
			<key>offset</key>
			<string>{22,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,2},{136,106}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/left02.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,1292},{142,110}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,17},{142,110}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/left03.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,1385},{166,130}}</string>
			<key>offset</key>
			<string>{-9,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,16},{166,130}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/left04.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,1251},{174,132}}</string>
			<key>offset</key>
			<string>{-13,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{174,132}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/left05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1394},{166,130}}</string>
			<key>offset</key>
			<string>{-9,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,17},{166,130}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/left06.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,1394},{156,122}}</string>
			<key>offset</key>
			<string>{-4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,17},{156,122}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/right00.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,933},{128,90}}</string>
			<key>offset</key>
			<string>{-36,29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,90}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/right01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1628},{136,100}}</string>
			<key>offset</key>
			<string>{-30,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{136,100}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/right02.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,1404},{140,106}}</string>
			<key>offset</key>
			<string>{-10,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,12},{140,106}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/right03.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,1394},{164,126}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,11},{164,126}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/right04.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,1115},{174,134}}</string>
			<key>offset</key>
			<string>{6,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,12},{174,134}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/right05.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,1413},{164,126}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,12},{164,126}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/right06.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,887},{154,118}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,12},{154,118}}</string>
			<key>sourceSize</key>
			<string>{200,148}</string>
		</dict>
		<key>images/Effect/uilove01/s13.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,1007},{106,151}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{106,151}}</string>
			<key>sourceSize</key>
			<string>{114,159}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>uilove010.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d82143e4dfcdc26bcdcb1b4945b3cf23:1/1$</string>
		<key>textureFileName</key>
		<string>uilove010.png</string>
	</dict>
</dict>
</plist>
