<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/MoonCake/bannerMoon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{561,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{561,121}}</string>
				<key>sourceSize</key>
				<string>{561,121}</string>
			</dict>
			<key>images/MoonCake/bannerSpring.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,125},{561,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{561,121}}</string>
				<key>sourceSize</key>
				<string>{561,121}</string>
			</dict>
			<key>images/MoonCake/bannerTurkey.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,248},{561,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{561,121}}</string>
				<key>sourceSize</key>
				<string>{561,121}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>MoonCake3.webp</string>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>MoonCake3.webp</string>
		</dict>
	</dict>
</plist>
