<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/MoonCake/fntChangE.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,2},{105,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,32}}</string>
			<key>sourceSize</key>
			<string>{105,32}</string>
		</dict>
		<key>images/MoonCake/fntExchange.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,109},{105,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,32}}</string>
			<key>sourceSize</key>
			<string>{105,32}</string>
		</dict>
		<key>images/MoonCake/fntMakeOnce.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,216},{81,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,32}}</string>
			<key>sourceSize</key>
			<string>{81,32}</string>
		</dict>
		<key>images/MoonCake/fntMakeTen.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,299},{81,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,32}}</string>
			<key>sourceSize</key>
			<string>{81,32}</string>
		</dict>
		<key>images/MoonCake/moonBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{471,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{471,447}}</string>
			<key>sourceSize</key>
			<string>{471,447}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MoonCake1.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2c75b2c45c6551c9758794f05530eadf:2/3$</string>
		<key>textureFileName</key>
		<string>MoonCake1.png</string>
	</dict>
</dict>
</plist>
