<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/HeroCardInfo/ArmorBg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,894},{87,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,89}}</string>
			<key>sourceSize</key>
			<string>{87,89}</string>
		</dict>
		<key>images/HeroCardInfo/antiLeftRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,112},{230,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,15}}</string>
			<key>sourceSize</key>
			<string>{230,15}</string>
		</dict>
		<key>images/HeroCardInfo/armorBg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,894},{87,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,89}}</string>
			<key>sourceSize</key>
			<string>{87,89}</string>
		</dict>
		<key>images/HeroCardInfo/beidongjineng.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,357},{81,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,25}}</string>
			<key>sourceSize</key>
			<string>{81,25}</string>
		</dict>
		<key>images/HeroCardInfo/bridle_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,455},{557,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{557,157}}</string>
			<key>sourceSize</key>
			<string>{557,157}</string>
		</dict>
		<key>images/HeroCardInfo/btn_reolve.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,554},{149,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,93}}</string>
			<key>sourceSize</key>
			<string>{149,93}</string>
		</dict>
		<key>images/HeroCardInfo/btn_split.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,558},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/HeroCardInfo/can_compose.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,644},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/HeroCardInfo/card_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,67},{321,315}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{321,315}}</string>
			<key>sourceSize</key>
			<string>{321,315}</string>
		</dict>
		<key>images/HeroCardInfo/close.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,359},{94,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,37}}</string>
			<key>sourceSize</key>
			<string>{94,37}</string>
		</dict>
		<key>images/HeroCardInfo/complete.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,730},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/HeroCardInfo/compose.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,357},{195,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,235}}</string>
			<key>sourceSize</key>
			<string>{195,235}</string>
		</dict>
		<key>images/HeroCardInfo/composeItem.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,641},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/HeroCardInfo/detai_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,112},{243,313}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,313}}</string>
			<key>sourceSize</key>
			<string>{243,313}</string>
		</dict>
		<key>images/HeroCardInfo/dline.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,283},{201,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,13}}</string>
			<key>sourceSize</key>
			<string>{201,13}</string>
		</dict>
		<key>images/HeroCardInfo/dot1.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,344},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>images/HeroCardInfo/dot2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,486},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>images/HeroCardInfo/fighting.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,384},{128,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,85}}</string>
			<key>sourceSize</key>
			<string>{128,85}</string>
		</dict>
		<key>images/HeroCardInfo/fin_compose.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,649},{149,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,93}}</string>
			<key>sourceSize</key>
			<string>{149,93}</string>
		</dict>
		<key>images/HeroCardInfo/gift_fin.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,743},{149,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,93}}</string>
			<key>sourceSize</key>
			<string>{149,93}</string>
		</dict>
		<key>images/HeroCardInfo/gift_ing.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,816},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/HeroCardInfo/head.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{641,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{641,108}}</string>
			<key>sourceSize</key>
			<string>{641,108}</string>
		</dict>
		<key>images/HeroCardInfo/huoqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,421},{557,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{557,30}}</string>
			<key>sourceSize</key>
			<string>{557,30}</string>
		</dict>
		<key>images/HeroCardInfo/huoqutujing.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,988},{81,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,26}}</string>
			<key>sourceSize</key>
			<string>{81,26}</string>
		</dict>
		<key>images/HeroCardInfo/info_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,453},{557,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{557,72}}</string>
			<key>sourceSize</key>
			<string>{557,72}</string>
		</dict>
		<key>images/HeroCardInfo/jibanjineng.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,421},{105,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,30}}</string>
			<key>sourceSize</key>
			<string>{105,30}</string>
		</dict>
		<key>images/HeroCardInfo/leftright.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,112},{230,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,15}}</string>
			<key>sourceSize</key>
			<string>{230,15}</string>
		</dict>
		<key>images/HeroCardInfo/line.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1012},{187,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,8}}</string>
			<key>sourceSize</key>
			<string>{187,8}</string>
		</dict>
		<key>images/HeroCardInfo/ling.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,283},{67,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,38}}</string>
			<key>sourceSize</key>
			<string>{67,38}</string>
		</dict>
		<key>images/HeroCardInfo/ling_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,67},{54,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,52}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>images/HeroCardInfo/man.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,384},{36,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,34}}</string>
			<key>sourceSize</key>
			<string>{36,34}</string>
		</dict>
		<key>images/HeroCardInfo/middle_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,384},{626,302}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{626,302}}</string>
			<key>sourceSize</key>
			<string>{626,302}</string>
		</dict>
		<key>images/HeroCardInfo/middle_hero.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,2},{376,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{376,63}}</string>
			<key>sourceSize</key>
			<string>{376,63}</string>
		</dict>
		<key>images/HeroCardInfo/notfount.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,902},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/HeroCardInfo/protecting.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,471},{128,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,85}}</string>
			<key>sourceSize</key>
			<string>{128,85}</string>
		</dict>
		<key>images/HeroCardInfo/raceBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,121},{54,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,52}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>images/HeroCardInfo/recommend.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,554},{134,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,85}}</string>
			<key>sourceSize</key>
			<string>{134,85}</string>
		</dict>
		<key>images/HeroCardInfo/shen.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,384},{67,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,37}}</string>
			<key>sourceSize</key>
			<string>{67,37}</string>
		</dict>
		<key>images/HeroCardInfo/women.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,384},{36,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,34}}</string>
			<key>sourceSize</key>
			<string>{36,34}</string>
		</dict>
		<key>images/HeroCardInfo/xian_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,112},{265,281}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,281}}</string>
			<key>sourceSize</key>
			<string>{265,281}</string>
		</dict>
		<key>images/HeroCardInfo/xian_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,175},{54,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,52}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>images/HeroCardInfo/yao.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,352},{67,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,38}}</string>
			<key>sourceSize</key>
			<string>{67,38}</string>
		</dict>
		<key>images/HeroCardInfo/yao_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,229},{54,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,52}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>images/HeroCardInfo/zhudongjineng.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,988},{81,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,25}}</string>
			<key>sourceSize</key>
			<string>{81,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>HeroCardInfo0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:59da00ff065f7f0a84d921c93a21d276:1/2$</string>
		<key>textureFileName</key>
		<string>HeroCardInfo0.png</string>
	</dict>
</dict>
</plist>
