<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/TPD02/1_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{86,84}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,8},{86,84}}</string>
			<key>sourceSize</key>
			<string>{100,98}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TPD020.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:641aee937fbe1ec24eb814cfdf67007b:1/1$</string>
		<key>textureFileName</key>
		<string>TPD020.png</string>
	</dict>
</dict>
</plist>
