<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Artifact/artifactBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,365},{598,566}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{598,566}}</string>
			<key>sourceSize</key>
			<string>{598,566}</string>
		</dict>
		<key>images/Artifact/hulu2.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,2},{251,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,194}}</string>
			<key>sourceSize</key>
			<string>{251,194}</string>
		</dict>
		<key>images/Artifact/hulu3.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,198},{251,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,194}}</string>
			<key>sourceSize</key>
			<string>{251,194}</string>
		</dict>
		<key>images/Artifact/hulu4.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,394},{251,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,194}}</string>
			<key>sourceSize</key>
			<string>{251,194}</string>
		</dict>
		<key>images/Artifact/hulu5.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,590},{251,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,194}}</string>
			<key>sourceSize</key>
			<string>{251,194}</string>
		</dict>
		<key>images/Artifact/hulu6.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,786},{251,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,194}}</string>
			<key>sourceSize</key>
			<string>{251,194}</string>
		</dict>
		<key>images/Artifact/injectBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{615,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{615,361}}</string>
			<key>sourceSize</key>
			<string>{615,361}</string>
		</dict>
		<key>images/Artifact/middleFrame.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,365},{542,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{542,95}}</string>
			<key>sourceSize</key>
			<string>{542,95}</string>
		</dict>
		<key>images/Artifact/soulStoneS1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,965},{49,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,54}}</string>
			<key>sourceSize</key>
			<string>{49,54}</string>
		</dict>
		<key>images/Artifact/soulStoneS2.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,965},{49,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,54}}</string>
			<key>sourceSize</key>
			<string>{49,54}</string>
		</dict>
		<key>images/Artifact/soulStoneS3.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,965},{49,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,54}}</string>
			<key>sourceSize</key>
			<string>{49,54}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Artifact0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e49592c254c3c9ce33276b0319ca0605:1/2$</string>
		<key>textureFileName</key>
		<string>Artifact0.png</string>
	</dict>
</dict>
</plist>
