<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/TPB02/Ice.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{38,84}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,17},{38,84}}</string>
			<key>sourceSize</key>
			<string>{80,120}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TPB020.png</string>
		<key>size</key>
		<string>{64,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ece30186c4ce1964fc6163aca1979cb5:1/1$</string>
		<key>textureFileName</key>
		<string>TPB020.png</string>
	</dict>
</dict>
</plist>
