<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/LSSZ03/LSSZ03_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,168},{118,149}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{94,49},{118,149}}</string>
			<key>sourceSize</key>
			<string>{300,251}</string>
		</dict>
		<key>images/Effect/LSSZ03/LSSZ03_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,342},{126,159}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{90,48},{126,159}}</string>
			<key>sourceSize</key>
			<string>{300,251}</string>
		</dict>
		<key>images/Effect/LSSZ03/LSSZ03_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,342},{124,167}}</string>
			<key>offset</key>
			<string>{3,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{91,46},{124,167}}</string>
			<key>sourceSize</key>
			<string>{300,251}</string>
		</dict>
		<key>images/Effect/LSSZ03/LSSZ03_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,173},{172,167}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,42},{172,167}}</string>
			<key>sourceSize</key>
			<string>{300,251}</string>
		</dict>
		<key>images/Effect/LSSZ03/LSSZ03_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,342},{166,167}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{81,42},{166,167}}</string>
			<key>sourceSize</key>
			<string>{300,251}</string>
		</dict>
		<key>images/Effect/LSSZ03/LSSZ03_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{174,171}}</string>
			<key>offset</key>
			<string>{15,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,43},{174,171}}</string>
			<key>sourceSize</key>
			<string>{300,251}</string>
		</dict>
		<key>images/Effect/LSSZ03/LSSZ03_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,2},{172,169}}</string>
			<key>offset</key>
			<string>{13,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,41},{172,169}}</string>
			<key>sourceSize</key>
			<string>{300,251}</string>
		</dict>
		<key>images/Effect/LSSZ03/LSSZ03_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,175},{170,165}}</string>
			<key>offset</key>
			<string>{14,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,42},{170,165}}</string>
			<key>sourceSize</key>
			<string>{300,251}</string>
		</dict>
		<key>images/Effect/LSSZ03/LSSZ03_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,2},{164,149}}</string>
			<key>offset</key>
			<string>{8,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,49},{164,149}}</string>
			<key>sourceSize</key>
			<string>{300,251}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>LSSZ030.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6c2fcccc591f5d4601240d7f6e1d3c96:1/1$</string>
		<key>textureFileName</key>
		<string>LSSZ030.png</string>
	</dict>
</dict>
</plist>
