<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Talisman/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,947},{52,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,27}}</string>
			<key>sourceSize</key>
			<string>{52,27}</string>
		</dict>
		<key>images/Talisman/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,722},{105,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,27}}</string>
			<key>sourceSize</key>
			<string>{105,27}</string>
		</dict>
		<key>images/Talisman/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,784},{79,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,27}}</string>
			<key>sourceSize</key>
			<string>{79,27}</string>
		</dict>
		<key>images/Talisman/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,594},{53,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,27}}</string>
			<key>sourceSize</key>
			<string>{53,27}</string>
		</dict>
		<key>images/Talisman/baoku.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,722},{84,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,35}}</string>
			<key>sourceSize</key>
			<string>{84,35}</string>
		</dict>
		<key>images/Talisman/bmpjqmj.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,657},{154,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,45}}</string>
			<key>sourceSize</key>
			<string>{154,45}</string>
		</dict>
		<key>images/Talisman/bmplinsan.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,883},{140,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,96}}</string>
			<key>sourceSize</key>
			<string>{140,96}</string>
		</dict>
		<key>images/Talisman/bmplinsan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,872},{140,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,96}}</string>
			<key>sourceSize</key>
			<string>{140,96}</string>
		</dict>
		<key>images/Talisman/bmplinxiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,751},{130,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,111}}</string>
			<key>sourceSize</key>
			<string>{130,111}</string>
		</dict>
		<key>images/Talisman/bmplinxiao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,759},{130,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,111}}</string>
			<key>sourceSize</key>
			<string>{130,111}</string>
		</dict>
		<key>images/Talisman/bmpmap280.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,239},{481,270}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{481,270}}</string>
			<key>sourceSize</key>
			<string>{481,270}</string>
		</dict>
		<key>images/Talisman/bmppenlai.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,270},{137,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,179}}</string>
			<key>sourceSize</key>
			<string>{137,179}</string>
		</dict>
		<key>images/Talisman/bmppenlai2.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,759},{137,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,179}}</string>
			<key>sourceSize</key>
			<string>{137,179}</string>
		</dict>
		<key>images/Talisman/bmpxiadi80.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,755},{472,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,190}}</string>
			<key>sourceSize</key>
			<string>{472,190}</string>
		</dict>
		<key>images/Talisman/bmpyaochi.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,268},{125,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,143}}</string>
			<key>sourceSize</key>
			<string>{125,143}</string>
		</dict>
		<key>images/Talisman/bmpyaochi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,413},{125,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,143}}</string>
			<key>sourceSize</key>
			<string>{125,143}</string>
		</dict>
		<key>images/Talisman/btmfbspb.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/Talisman/btmfbsps.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,722},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>images/Talisman/btnxunxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,307},{92,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,63}}</string>
			<key>sourceSize</key>
			<string>{92,63}</string>
		</dict>
		<key>images/Talisman/btnxunxianon.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,401},{92,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,63}}</string>
			<key>sourceSize</key>
			<string>{92,63}</string>
		</dict>
		<key>images/Talisman/ckfb.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,104},{121,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,33}}</string>
			<key>sourceSize</key>
			<string>{121,33}</string>
		</dict>
		<key>images/Talisman/detail_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,38},{308,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,199}}</string>
			<key>sourceSize</key>
			<string>{308,199}</string>
		</dict>
		<key>images/Talisman/exchageBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{586,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{586,108}}</string>
			<key>sourceSize</key>
			<string>{586,108}</string>
		</dict>
		<key>images/Talisman/exchangeItemBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,112},{584,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{584,156}}</string>
			<key>sourceSize</key>
			<string>{584,156}</string>
		</dict>
		<key>images/Talisman/fntFragCost.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,239},{216,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,35}}</string>
			<key>sourceSize</key>
			<string>{216,35}</string>
		</dict>
		<key>images/Talisman/fntGetFrag.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,2},{326,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{326,34}}</string>
			<key>sourceSize</key>
			<string>{326,34}</string>
		</dict>
		<key>images/Talisman/fntLieCost.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,755},{216,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,33}}</string>
			<key>sourceSize</key>
			<string>{216,33}</string>
		</dict>
		<key>images/Talisman/fntTalismanFrag.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,234},{116,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,32}}</string>
			<key>sourceSize</key>
			<string>{116,32}</string>
		</dict>
		<key>images/Talisman/fntTalismanLie.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,722},{116,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,30}}</string>
			<key>sourceSize</key>
			<string>{116,30}</string>
		</dict>
		<key>images/Talisman/leiBiIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,722},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>images/Talisman/strattr.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,947},{53,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,27}}</string>
			<key>sourceSize</key>
			<string>{53,27}</string>
		</dict>
		<key>images/Talisman/strbf.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,947},{50,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,27}}</string>
			<key>sourceSize</key>
			<string>{50,27}</string>
		</dict>
		<key>images/Talisman/strcheck.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,947},{53,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,27}}</string>
			<key>sourceSize</key>
			<string>{53,27}</string>
		</dict>
		<key>images/Talisman/strcsfb.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,457},{198,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,35}}</string>
			<key>sourceSize</key>
			<string>{198,35}</string>
		</dict>
		<key>images/Talisman/strfabao.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,270},{75,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,35}}</string>
			<key>sourceSize</key>
			<string>{75,35}</string>
		</dict>
		<key>images/Talisman/strfbdh.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,594},{91,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,25}}</string>
			<key>sourceSize</key>
			<string>{91,25}</string>
		</dict>
		<key>images/Talisman/strfbdht.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,558},{123,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,34}}</string>
			<key>sourceSize</key>
			<string>{123,34}</string>
		</dict>
		<key>images/Talisman/strfbjs.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,722},{109,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,28}}</string>
			<key>sourceSize</key>
			<string>{109,28}</string>
		</dict>
		<key>images/Talisman/strfbsj.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,947},{131,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,35}}</string>
			<key>sourceSize</key>
			<string>{131,35}</string>
		</dict>
		<key>images/Talisman/strfbsjb.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,722},{105,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,27}}</string>
			<key>sourceSize</key>
			<string>{105,27}</string>
		</dict>
		<key>images/Talisman/strfbsjt.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,947},{131,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,35}}</string>
			<key>sourceSize</key>
			<string>{131,35}</string>
		</dict>
		<key>images/Talisman/strhqtj.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,722},{105,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,27}}</string>
			<key>sourceSize</key>
			<string>{105,27}</string>
		</dict>
		<key>images/Talisman/strneed.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,174},{121,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,28}}</string>
			<key>sourceSize</key>
			<string>{121,28}</string>
		</dict>
		<key>images/Talisman/strqiyan.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,947},{132,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,35}}</string>
			<key>sourceSize</key>
			<string>{132,35}</string>
		</dict>
		<key>images/Talisman/strshouqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,947},{52,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,27}}</string>
			<key>sourceSize</key>
			<string>{52,27}</string>
		</dict>
		<key>images/Talisman/strsjfb1.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,139},{121,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,33}}</string>
			<key>sourceSize</key>
			<string>{121,33}</string>
		</dict>
		<key>images/Talisman/strsjfb2.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,139},{121,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,33}}</string>
			<key>sourceSize</key>
			<string>{121,33}</string>
		</dict>
		<key>images/Talisman/strsyzy.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,204},{121,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,28}}</string>
			<key>sourceSize</key>
			<string>{121,28}</string>
		</dict>
		<key>images/Talisman/strtype.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,722},{109,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,28}}</string>
			<key>sourceSize</key>
			<string>{109,28}</string>
		</dict>
		<key>images/Talisman/strxlqyb.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,947},{132,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,35}}</string>
			<key>sourceSize</key>
			<string>{132,35}</string>
		</dict>
		<key>images/Talisman/strxunxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,621},{68,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,32}}</string>
			<key>sourceSize</key>
			<string>{68,32}</string>
		</dict>
		<key>images/Talisman/strxunxiansmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,947},{52,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,27}}</string>
			<key>sourceSize</key>
			<string>{52,27}</string>
		</dict>
		<key>images/Talisman/strxzfb.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,704},{145,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,49}}</string>
			<key>sourceSize</key>
			<string>{145,49}</string>
		</dict>
		<key>images/Talisman/strxztsfb.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,973},{198,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,35}}</string>
			<key>sourceSize</key>
			<string>{198,35}</string>
		</dict>
		<key>images/Talisman/stryjfir1.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,984},{132,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,35}}</string>
			<key>sourceSize</key>
			<string>{132,35}</string>
		</dict>
		<key>images/Talisman/stryjfw.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,755},{105,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,27}}</string>
			<key>sourceSize</key>
			<string>{105,27}</string>
		</dict>
		<key>images/Talisman/title_shen.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,984},{130,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,35}}</string>
			<key>sourceSize</key>
			<string>{130,35}</string>
		</dict>
		<key>images/Talisman/title_yao.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,984},{130,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,35}}</string>
			<key>sourceSize</key>
			<string>{130,35}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Talisman0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b20e3c2f5de355d040e7cea51838030c:1/1$</string>
		<key>textureFileName</key>
		<string>Talisman0.png</string>
	</dict>
</dict>
</plist>
