<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/Talisman/btm.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{512,768}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,768}}</string>
				<key>sourceSize</key>
				<string>{512,768}</string>
			</dict>
			<key>images/Talisman/fabaohome.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,2},{481,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{481,455}}</string>
				<key>sourceSize</key>
				<string>{481,455}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Talisman_0.pkm</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:3c3815df6b37185235083b4747327d4d:1/2$</string>
			<key>textureFileName</key>
			<string>Talisman_0.pkm</string>
		</dict>
	</dict>
</plist>

