<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/uikxz/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,277},{1,1}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{5,5}</string>
		</dict>
		<key>images/Effect/uikxz/400400.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,281},{92,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{92,92}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/Effect/uikxz/A001.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,346},{237,201}}</string>
			<key>offset</key>
			<string>{-27,-57}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,120},{237,201}}</string>
			<key>sourceSize</key>
			<string>{387,327}</string>
		</dict>
		<key>images/Effect/uikxz/A002.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,219},{241,125}}</string>
			<key>offset</key>
			<string>{-29,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,106},{241,125}}</string>
			<key>sourceSize</key>
			<string>{387,327}</string>
		</dict>
		<key>images/Effect/uikxz/A003.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,2},{241,215}}</string>
			<key>offset</key>
			<string>{-29,-50}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,106},{241,215}}</string>
			<key>sourceSize</key>
			<string>{387,327}</string>
		</dict>
		<key>images/Effect/uikxz/A004.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,2},{315,273}}</string>
			<key>offset</key>
			<string>{0,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,47},{315,273}}</string>
			<key>sourceSize</key>
			<string>{387,327}</string>
		</dict>
		<key>images/Effect/uikxz/B001.png</key>
		<dict>
			<key>frame</key>
			<string>{{813,419},{233,157}}</string>
			<key>offset</key>
			<string>{-28,-78}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49,163},{233,157}}</string>
			<key>sourceSize</key>
			<string>{387,327}</string>
		</dict>
		<key>images/Effect/uikxz/B002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,281},{237,123}}</string>
			<key>offset</key>
			<string>{-26,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,109},{237,123}}</string>
			<key>sourceSize</key>
			<string>{387,327}</string>
		</dict>
		<key>images/Effect/uikxz/B003.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,277},{237,211}}</string>
			<key>offset</key>
			<string>{-26,-51}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,109},{237,211}}</string>
			<key>sourceSize</key>
			<string>{387,327}</string>
		</dict>
		<key>images/Effect/uikxz/B004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{331,277}}</string>
			<key>offset</key>
			<string>{-7,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,43},{331,277}}</string>
			<key>sourceSize</key>
			<string>{387,327}</string>
		</dict>
		<key>images/Effect/uikxz/qrq01.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,257},{127,75}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{127,75}}</string>
			<key>sourceSize</key>
			<string>{127,83}</string>
		</dict>
		<key>images/Effect/uikxz/qrq02.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,334},{125,83}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,83}}</string>
			<key>sourceSize</key>
			<string>{127,83}</string>
		</dict>
		<key>images/Effect/uikxz/qrq03.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,2},{127,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,83}}</string>
			<key>sourceSize</key>
			<string>{127,83}</string>
		</dict>
		<key>images/Effect/uikxz/qrq04.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,87},{127,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,83}}</string>
			<key>sourceSize</key>
			<string>{127,83}</string>
		</dict>
		<key>images/Effect/uikxz/qrq05.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,172},{127,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,83}}</string>
			<key>sourceSize</key>
			<string>{127,83}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>uikxz0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a0d20e91687f9869490de5b81335d1fd:1/1$</string>
		<key>textureFileName</key>
		<string>uikxz0.png</string>
	</dict>
</dict>
</plist>
