<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/UIMS2/000.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{425,93}}</string>
			<key>offset</key>
			<string>{4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,34},{425,93}}</string>
			<key>sourceSize</key>
			<string>{461,151}</string>
		</dict>
		<key>images/Effect/UIMS2/05.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,596},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/Effect/UIMS2/1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,201},{128,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{128,30}}</string>
			<key>sourceSize</key>
			<string>{128,32}</string>
		</dict>
		<key>images/Effect/UIMS2/8_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,140}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,59},{512,140}}</string>
			<key>sourceSize</key>
			<string>{512,256}</string>
		</dict>
		<key>images/Effect/UIMS2/D0.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,370},{128,58}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{128,58}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>images/Effect/UIMS2/D1.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,430},{128,58}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{128,58}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>images/Effect/UIMS2/D2.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,259},{128,58}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{128,58}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>images/Effect/UIMS2/D3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,596},{128,58}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{128,58}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>images/Effect/UIMS2/D4.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,596},{128,58}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{128,58}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>images/Effect/UIMS2/D5.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,596},{128,58}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{128,58}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>images/Effect/UIMS2/SH01.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,201},{200,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,22},{200,56}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
		<key>images/Effect/UIMS2/Z.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,2},{200,74}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{200,74}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
		<key>images/Effect/UIMS2/dga00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,144},{271,165}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{271,165}}</string>
			<key>sourceSize</key>
			<string>{277,171}</string>
		</dict>
		<key>images/Effect/UIMS2/dga01.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,97},{271,167}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{271,167}}</string>
			<key>sourceSize</key>
			<string>{277,171}</string>
		</dict>
		<key>images/Effect/UIMS2/dga02.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,266},{271,163}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{271,163}}</string>
			<key>sourceSize</key>
			<string>{277,171}</string>
		</dict>
		<key>images/Effect/UIMS2/dga03.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,97},{271,141}}</string>
			<key>offset</key>
			<string>{-1,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{271,141}}</string>
			<key>sourceSize</key>
			<string>{277,171}</string>
		</dict>
		<key>images/Effect/UIMS2/dga04.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,204},{271,65}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,48},{271,65}}</string>
			<key>sourceSize</key>
			<string>{277,171}</string>
		</dict>
		<key>images/Effect/UIMS2/dga05.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,144},{211,55}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,55},{211,55}}</string>
			<key>sourceSize</key>
			<string>{277,171}</string>
		</dict>
		<key>images/Effect/UIMS2/xdgs00.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,477},{255,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,108}}</string>
			<key>sourceSize</key>
			<string>{255,108}</string>
		</dict>
		<key>images/Effect/UIMS2/xdgs01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,734},{255,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,108}}</string>
			<key>sourceSize</key>
			<string>{255,108}</string>
		</dict>
		<key>images/Effect/UIMS2/xdgs02.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,734},{255,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,108}}</string>
			<key>sourceSize</key>
			<string>{255,108}</string>
		</dict>
		<key>images/Effect/UIMS2/xdgs03.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,331},{255,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,108}}</string>
			<key>sourceSize</key>
			<string>{255,108}</string>
		</dict>
		<key>images/Effect/UIMS2/xdgs04.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,734},{255,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,108}}</string>
			<key>sourceSize</key>
			<string>{255,108}</string>
		</dict>
		<key>images/Effect/UIMS2/xdgs05.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,734},{255,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,108}}</string>
			<key>sourceSize</key>
			<string>{255,108}</string>
		</dict>
		<key>images/Effect/UIMS2/xdgs06.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,734},{255,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,108}}</string>
			<key>sourceSize</key>
			<string>{255,108}</string>
		</dict>
		<key>images/Effect/UIMS2/xdgs07.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,734},{255,106}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{255,106}}</string>
			<key>sourceSize</key>
			<string>{255,108}</string>
		</dict>
		<key>images/Effect/UIMS2/xdgs08.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,431},{163,100}}</string>
			<key>offset</key>
			<string>{-45,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,8},{163,100}}</string>
			<key>sourceSize</key>
			<string>{255,108}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIMS20.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dfccb55059b03f256f9d673e46ffbc5e:1/1$</string>
		<key>textureFileName</key>
		<string>UIMS20.png</string>
	</dict>
</dict>
</plist>
