<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/HYES01/HYES01_00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,212},{84,92}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,58},{84,92}}</string>
			<key>sourceSize</key>
			<string>{244,198}</string>
		</dict>
		<key>images/Effect/HYES01/HYES01_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,2},{128,138}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{59,40},{128,138}}</string>
			<key>sourceSize</key>
			<string>{244,198}</string>
		</dict>
		<key>images/Effect/HYES01/HYES01_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,2},{122,132}}</string>
			<key>offset</key>
			<string>{-1,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{60,44},{122,132}}</string>
			<key>sourceSize</key>
			<string>{244,198}</string>
		</dict>
		<key>images/Effect/HYES01/HYES01_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,166},{74,96}}</string>
			<key>offset</key>
			<string>{-3,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,64},{74,96}}</string>
			<key>sourceSize</key>
			<string>{244,198}</string>
		</dict>
		<key>images/Effect/HYES01/HYES01_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,242},{78,92}}</string>
			<key>offset</key>
			<string>{-7,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,55},{78,92}}</string>
			<key>sourceSize</key>
			<string>{244,198}</string>
		</dict>
		<key>images/Effect/HYES01/HYES01_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{220,162}}</string>
			<key>offset</key>
			<string>{-5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,22},{220,162}}</string>
			<key>sourceSize</key>
			<string>{244,198}</string>
		</dict>
		<key>images/Effect/HYES01/HYES01_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,126},{90,124}}</string>
			<key>offset</key>
			<string>{-5,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{72,22},{90,124}}</string>
			<key>sourceSize</key>
			<string>{244,198}</string>
		</dict>
		<key>images/Effect/HYES01/HYES01_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,132},{60,104}}</string>
			<key>offset</key>
			<string>{-10,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,28},{60,104}}</string>
			<key>sourceSize</key>
			<string>{244,198}</string>
		</dict>
		<key>images/Effect/HYES01/HYES01_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,194},{56,94}}</string>
			<key>offset</key>
			<string>{-10,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,34},{56,94}}</string>
			<key>sourceSize</key>
			<string>{244,198}</string>
		</dict>
		<key>images/Effect/HYES01/HYES01_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,166},{44,96}}</string>
			<key>offset</key>
			<string>{-6,24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{94,27},{44,96}}</string>
			<key>sourceSize</key>
			<string>{244,198}</string>
		</dict>
		<key>images/Effect/HYES01/HYES01_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,132},{32,66}}</string>
			<key>offset</key>
			<string>{-2,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{104,51},{32,66}}</string>
			<key>sourceSize</key>
			<string>{244,198}</string>
		</dict>
		<key>images/Effect/HYES01/HYES01_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,194},{30,60}}</string>
			<key>offset</key>
			<string>{-2,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{105,50},{30,60}}</string>
			<key>sourceSize</key>
			<string>{244,198}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>HYES010.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6a48ca60aa0fbe8b69c788cc52bdfd67:1/1$</string>
		<key>textureFileName</key>
		<string>HYES010.png</string>
	</dict>
</dict>
</plist>
