<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/TempleSeekTreasure/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,213},{472,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,448}}</string>
			<key>sourceSize</key>
			<string>{472,448}</string>
		</dict>
		<key>images/TempleSeekTreasure/cover.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,2},{118,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,118}}</string>
			<key>sourceSize</key>
			<string>{118,118}</string>
		</dict>
		<key>images/TempleSeekTreasure/descBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{590,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{590,209}}</string>
			<key>sourceSize</key>
			<string>{590,209}</string>
		</dict>
		<key>images/TempleSeekTreasure/select.png</key>
		<dict>
			<key>frame</key>
			<string>{{594,39},{174,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,147}}</string>
			<key>sourceSize</key>
			<string>{174,147}</string>
		</dict>
		<key>images/TempleSeekTreasure/ttf_click.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,39},{121,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,33}}</string>
			<key>sourceSize</key>
			<string>{121,33}</string>
		</dict>
		<key>images/TempleSeekTreasure/ttf_lottery.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,74},{144,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,38}}</string>
			<key>sourceSize</key>
			<string>{144,38}</string>
		</dict>
		<key>images/TempleSeekTreasure/ttf_tip.png</key>
		<dict>
			<key>frame</key>
			<string>{{594,2},{306,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,35}}</string>
			<key>sourceSize</key>
			<string>{306,35}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TempleSeekTreasure0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e77284fbea9ec0b0c9c1f5f9bff3fcb8:1/1$</string>
		<key>textureFileName</key>
		<string>TempleSeekTreasure0.png</string>
	</dict>
</dict>
</plist>
