<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/BattleShow/btnCardTip1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{187,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,79}}</string>
			<key>sourceSize</key>
			<string>{187,79}</string>
		</dict>
		<key>images/BattleShow/btnCardTip2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,83},{187,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,79}}</string>
			<key>sourceSize</key>
			<string>{187,79}</string>
		</dict>
		<key>images/BattleShow/btnCardTip3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{187,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,79}}</string>
			<key>sourceSize</key>
			<string>{187,79}</string>
		</dict>
		<key>images/BattleShow/btnSkillTip1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,245},{187,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,79}}</string>
			<key>sourceSize</key>
			<string>{187,79}</string>
		</dict>
		<key>images/BattleShow/btnSkillTip2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,326},{187,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,79}}</string>
			<key>sourceSize</key>
			<string>{187,79}</string>
		</dict>
		<key>images/BattleShow/btnSkillTip3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,407},{187,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,79}}</string>
			<key>sourceSize</key>
			<string>{187,79}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BattleShow1.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a9775ab48dcaf6c97f98d6eb102f2ad5:2/2$</string>
		<key>textureFileName</key>
		<string>BattleShow1.png</string>
	</dict>
</dict>
</plist>
