<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/UIsqsj02/B01.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,2},{130,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,33}}</string>
			<key>sourceSize</key>
			<string>{130,33}</string>
		</dict>
		<key>images/Effect/UIsqsj02/B02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{76,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,39}}</string>
			<key>sourceSize</key>
			<string>{76,39}</string>
		</dict>
		<key>images/Effect/UIsqsj02/Z01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,43},{130,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,33}}</string>
			<key>sourceSize</key>
			<string>{130,33}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIsqsj020.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c5a2ed4f5d7d0a4242bff1c6e83d5aa1:1/1$</string>
		<key>textureFileName</key>
		<string>UIsqsj020.png</string>
	</dict>
</dict>
</plist>
