<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/HYPK03/HYPK_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,314},{201,97}}</string>
			<key>offset</key>
			<string>{-7,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,60},{201,97}}</string>
			<key>sourceSize</key>
			<string>{257,225}</string>
		</dict>
		<key>images/Effect/HYPK03/HYPK_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,189},{207,123}}</string>
			<key>offset</key>
			<string>{-5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,57},{207,123}}</string>
			<key>sourceSize</key>
			<string>{257,225}</string>
		</dict>
		<key>images/Effect/HYPK03/HYPK_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,179},{217,159}}</string>
			<key>offset</key>
			<string>{-6,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,52},{217,159}}</string>
			<key>sourceSize</key>
			<string>{257,225}</string>
		</dict>
		<key>images/Effect/HYPK03/HYPK_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{217,185}}</string>
			<key>offset</key>
			<string>{-7,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,25},{217,185}}</string>
			<key>sourceSize</key>
			<string>{257,225}</string>
		</dict>
		<key>images/Effect/HYPK03/HYPK_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,2},{217,175}}</string>
			<key>offset</key>
			<string>{-8,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,28},{217,175}}</string>
			<key>sourceSize</key>
			<string>{257,225}</string>
		</dict>
		<key>images/Effect/HYPK03/HYPK_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,340},{149,101}}</string>
			<key>offset</key>
			<string>{-28,36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,26},{149,101}}</string>
			<key>sourceSize</key>
			<string>{257,225}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>HYPK030.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7e4ce8f95be00eb8ea906c0f03ea5dd6:1/1$</string>
		<key>textureFileName</key>
		<string>HYPK030.png</string>
	</dict>
</dict>
</plist>
