<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/zhounianqing/ATK06A05.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,80},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/Effect/zhounianqing/G01.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,1060},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>images/Effect/zhounianqing/huodetoujiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{376,76}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{376,76}}</string>
			<key>sourceSize</key>
			<string>{380,80}</string>
		</dict>
		<key>images/Effect/zhounianqing/yanhua_00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,1081},{115,113}}</string>
			<key>offset</key>
			<string>{0,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{110,99},{115,113}}</string>
			<key>sourceSize</key>
			<string>{335,339}</string>
		</dict>
		<key>images/Effect/zhounianqing/yanhua_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,2},{335,339}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,339}}</string>
			<key>sourceSize</key>
			<string>{335,339}</string>
		</dict>
		<key>images/Effect/zhounianqing/yanhua_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,80},{335,339}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,339}}</string>
			<key>sourceSize</key>
			<string>{335,339}</string>
		</dict>
		<key>images/Effect/zhounianqing/yanhua_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,339},{335,339}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,339}}</string>
			<key>sourceSize</key>
			<string>{335,339}</string>
		</dict>
		<key>images/Effect/zhounianqing/yanhua_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,733},{331,325}}</string>
			<key>offset</key>
			<string>{2,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{331,325}}</string>
			<key>sourceSize</key>
			<string>{335,339}</string>
		</dict>
		<key>images/Effect/zhounianqing/yanhuhuangse_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,1013},{121,123}}</string>
			<key>offset</key>
			<string>{-3,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{104,98},{121,123}}</string>
			<key>sourceSize</key>
			<string>{335,339}</string>
		</dict>
		<key>images/Effect/zhounianqing/yanhuhuangse_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,417},{335,339}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,339}}</string>
			<key>sourceSize</key>
			<string>{335,339}</string>
		</dict>
		<key>images/Effect/zhounianqing/yanhuhuangse_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,392},{335,339}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,339}}</string>
			<key>sourceSize</key>
			<string>{335,339}</string>
		</dict>
		<key>images/Effect/zhounianqing/yanhuhuangse_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,676},{335,339}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,339}}</string>
			<key>sourceSize</key>
			<string>{335,339}</string>
		</dict>
		<key>images/Effect/zhounianqing/yanhuhuangse_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,754},{331,325}}</string>
			<key>offset</key>
			<string>{2,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{331,325}}</string>
			<key>sourceSize</key>
			<string>{335,339}</string>
		</dict>
		<key>images/Effect/zhounianqing/z02.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,1208},{180,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,9},{180,182}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>images/Effect/zhounianqing/ziselihua0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,2},{211,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,193}}</string>
			<key>sourceSize</key>
			<string>{211,193}</string>
		</dict>
		<key>images/Effect/zhounianqing/ziselihua0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,197},{211,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,193}}</string>
			<key>sourceSize</key>
			<string>{211,193}</string>
		</dict>
		<key>images/Effect/zhounianqing/ziselihua0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,1013},{211,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,193}}</string>
			<key>sourceSize</key>
			<string>{211,193}</string>
		</dict>
		<key>images/Effect/zhounianqing/ziselihua0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1081},{193,193}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,0},{193,193}}</string>
			<key>sourceSize</key>
			<string>{211,193}</string>
		</dict>
		<key>images/Effect/zhounianqing/ziselihua0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,1060},{193,189}}</string>
			<key>offset</key>
			<string>{5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,4},{193,189}}</string>
			<key>sourceSize</key>
			<string>{211,193}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zhounianqing0.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e1d532b24c380250051f456c17402e46:1/1$</string>
		<key>textureFileName</key>
		<string>zhounianqing0.png</string>
	</dict>
</dict>
</plist>
