<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/buff03/asd000.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,134},{32,28}}</string>
			<key>offset</key>
			<string>{-6,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,105},{32,28}}</string>
			<key>sourceSize</key>
			<string>{228,230}</string>
		</dict>
		<key>images/Effect/buff03/asd001.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,438},{62,52}}</string>
			<key>offset</key>
			<string>{-10,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{73,91},{62,52}}</string>
			<key>sourceSize</key>
			<string>{228,230}</string>
		</dict>
		<key>images/Effect/buff03/asd002.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,426},{78,74}}</string>
			<key>offset</key>
			<string>{-10,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{65,81},{78,74}}</string>
			<key>sourceSize</key>
			<string>{228,230}</string>
		</dict>
		<key>images/Effect/buff03/asd003.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,2},{88,90}}</string>
			<key>offset</key>
			<string>{-10,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{60,74},{88,90}}</string>
			<key>sourceSize</key>
			<string>{228,230}</string>
		</dict>
		<key>images/Effect/buff03/asd004.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,318},{100,106}}</string>
			<key>offset</key>
			<string>{-11,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,66},{100,106}}</string>
			<key>sourceSize</key>
			<string>{228,230}</string>
		</dict>
		<key>images/Effect/buff03/asd005.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,318},{112,118}}</string>
			<key>offset</key>
			<string>{-12,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,60},{112,118}}</string>
			<key>sourceSize</key>
			<string>{228,230}</string>
		</dict>
		<key>images/Effect/buff03/asd006.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,2},{124,130}}</string>
			<key>offset</key>
			<string>{-12,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,55},{124,130}}</string>
			<key>sourceSize</key>
			<string>{228,230}</string>
		</dict>
		<key>images/Effect/buff03/asd007.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,172},{134,144}}</string>
			<key>offset</key>
			<string>{-13,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,49},{134,144}}</string>
			<key>sourceSize</key>
			<string>{228,230}</string>
		</dict>
		<key>images/Effect/buff03/asd008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,334},{144,158}}</string>
			<key>offset</key>
			<string>{-13,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,42},{144,158}}</string>
			<key>sourceSize</key>
			<string>{228,230}</string>
		</dict>
		<key>images/Effect/buff03/asd009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{152,168}}</string>
			<key>offset</key>
			<string>{-13,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,36},{152,168}}</string>
			<key>sourceSize</key>
			<string>{228,230}</string>
		</dict>
		<key>images/Effect/buff03/asd010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,172},{142,160}}</string>
			<key>offset</key>
			<string>{-8,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,37},{142,160}}</string>
			<key>sourceSize</key>
			<string>{228,230}</string>
		</dict>
		<key>images/Effect/buff03/down.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,134},{20,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{20,30}}</string>
			<key>sourceSize</key>
			<string>{24,30}</string>
		</dict>
		<key>images/Effect/buff03/up.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,134},{20,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{20,30}}</string>
			<key>sourceSize</key>
			<string>{24,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>buff030.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0ce21c615d2c3ab1f5ba399320516d98:1/1$</string>
		<key>textureFileName</key>
		<string>buff030.png</string>
	</dict>
</dict>
</plist>
