<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/UIdl/kapai.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,2},{77,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,97}}</string>
			<key>sourceSize</key>
			<string>{77,97}</string>
		</dict>
		<key>images/Effect/UIdl/soul.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,234},{53,57}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,2},{53,57}}</string>
			<key>sourceSize</key>
			<string>{69,61}</string>
		</dict>
		<key>images/Effect/UIdl/suipian.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,101},{77,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,97}}</string>
			<key>sourceSize</key>
			<string>{77,97}</string>
		</dict>
		<key>images/Effect/UIdl/xiangzi22.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,125},{135,107}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,26},{135,107}}</string>
			<key>sourceSize</key>
			<string>{149,133}</string>
		</dict>
		<key>images/Effect/UIdl/xiangzi33.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{158,121}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{158,121}}</string>
			<key>sourceSize</key>
			<string>{158,133}</string>
		</dict>
		<key>images/Effect/UIdl/zhengka.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,200},{77,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,97}}</string>
			<key>sourceSize</key>
			<string>{77,97}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIdl0.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5ff7bf6886068ca329471bec0f9bac26:1/1$</string>
		<key>textureFileName</key>
		<string>UIdl0.png</string>
	</dict>
</dict>
</plist>
