<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/WeChat/fntLuckyDraw.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,961},{368,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,54}}</string>
			<key>sourceSize</key>
			<string>{368,54}</string>
		</dict>
		<key>images/WeChat/fox.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,537},{323,422}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{323,422}}</string>
			<key>sourceSize</key>
			<string>{323,422}</string>
		</dict>
		<key>images/WeChat/mouse.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,851},{71,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,95}}</string>
			<key>sourceSize</key>
			<string>{71,95}</string>
		</dict>
		<key>images/WeChat/mouseHead.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,961},{346,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{346,57}}</string>
			<key>sourceSize</key>
			<string>{346,57}</string>
		</dict>
		<key>images/WeChat/share.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,851},{67,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,35}}</string>
			<key>sourceSize</key>
			<string>{67,35}</string>
		</dict>
		<key>images/WeChat/share2WeChat.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,961},{148,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,37}}</string>
			<key>sourceSize</key>
			<string>{148,37}</string>
		</dict>
		<key>images/WeChat/share2facebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,537},{148,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,37}}</string>
			<key>sourceSize</key>
			<string>{148,37}</string>
		</dict>
		<key>images/WeChat/shareJade.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,614},{398,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{398,40}}</string>
			<key>sourceSize</key>
			<string>{398,40}</string>
		</dict>
		<key>images/WeChat/shareReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,576},{145,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,36}}</string>
			<key>sourceSize</key>
			<string>{145,36}</string>
		</dict>
		<key>images/WeChat/titleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,772},{512,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,77}}</string>
			<key>sourceSize</key>
			<string>{512,77}</string>
		</dict>
		<key>images/WeChat/turnTableShade.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{488,533}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{488,533}}</string>
			<key>sourceSize</key>
			<string>{488,533}</string>
		</dict>
		<key>images/WeChat/weChatBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,768}}</string>
			<key>sourceSize</key>
			<string>{512,768}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>WeChat0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f9e11c1ff13dc057fdc84e1ac85648bc:1/3$</string>
		<key>textureFileName</key>
		<string>WeChat0.png</string>
	</dict>
</dict>
</plist>
