<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/WeChat/turnTableShade.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{488,533}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{488,533}}</string>
			<key>sourceSize</key>
			<string>{488,533}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>WeChat2.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bd616bbf1d5cec2685d2eb56de3c9913:3/3$</string>
		<key>textureFileName</key>
		<string>WeChat2.png</string>
	</dict>
</dict>
</plist>
