<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/HLSF01/HLSF01_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,132},{70,96}}</string>
			<key>offset</key>
			<string>{-6,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,92},{70,96}}</string>
			<key>sourceSize</key>
			<string>{150,200}</string>
		</dict>
		<key>images/Effect/HLSF01/HLSF01_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{150,192}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{150,192}}</string>
			<key>sourceSize</key>
			<string>{150,200}</string>
		</dict>
		<key>images/Effect/HLSF01/HLSF01_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,196},{136,192}}</string>
			<key>offset</key>
			<string>{5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,8},{136,192}}</string>
			<key>sourceSize</key>
			<string>{150,200}</string>
		</dict>
		<key>images/Effect/HLSF01/HLSF01_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,390},{106,176}}</string>
			<key>offset</key>
			<string>{5,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,24},{106,176}}</string>
			<key>sourceSize</key>
			<string>{150,200}</string>
		</dict>
		<key>images/Effect/HLSF01/HLSF01_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,78},{96,134}}</string>
			<key>offset</key>
			<string>{4,-33}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,66},{96,134}}</string>
			<key>sourceSize</key>
			<string>{150,200}</string>
		</dict>
		<key>images/Effect/HLSF01/HLSF01_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,390},{108,128}}</string>
			<key>offset</key>
			<string>{-7,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,59},{108,128}}</string>
			<key>sourceSize</key>
			<string>{150,200}</string>
		</dict>
		<key>images/Effect/HLSF01/HLSF01_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,2},{74,128}}</string>
			<key>offset</key>
			<string>{0,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,54},{74,128}}</string>
			<key>sourceSize</key>
			<string>{150,200}</string>
		</dict>
		<key>images/Effect/HLSF01/HLSF01_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,2},{74,136}}</string>
			<key>offset</key>
			<string>{2,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{40,47},{74,136}}</string>
			<key>sourceSize</key>
			<string>{150,200}</string>
		</dict>
		<key>images/Effect/HLSF01/HLSF01_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,2},{76,144}}</string>
			<key>offset</key>
			<string>{2,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,40},{76,144}}</string>
			<key>sourceSize</key>
			<string>{150,200}</string>
		</dict>
		<key>images/Effect/HLSF01/HLSF01_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,196},{80,150}}</string>
			<key>offset</key>
			<string>{3,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,34},{80,150}}</string>
			<key>sourceSize</key>
			<string>{150,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>HLSF010.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:167e5a746b14db6dcdf223f7af8dc344:1/1$</string>
		<key>textureFileName</key>
		<string>HLSF010.png</string>
	</dict>
</dict>
</plist>
