<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Skill/trea_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{598,566}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{598,566}}</string>
			<key>sourceSize</key>
			<string>{598,566}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Skill_0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:184a01bd2960c599faa07e9dba6cc0e2:1/2$</string>
		<key>textureFileName</key>
		<string>Skill_0.png</string>
	</dict>
</dict>
</plist>
