<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/Skill/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>images/Skill/popTip.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,104},{93,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,79}}</string>
				<key>sourceSize</key>
				<string>{93,79}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Skill2.webp</string>
			<key>size</key>
			<string>{128,256}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:f0c0bd345bda8cac862c609206628ee3:3/3$</string>
			<key>textureFileName</key>
			<string>Skill2.webp</string>
		</dict>
	</dict>
</plist>

