<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Box/boxBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,2},{184,260}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,260}}</string>
			<key>sourceSize</key>
			<string>{184,260}</string>
		</dict>
		<key>images/Box/bronzeBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,258},{164,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,126}}</string>
			<key>sourceSize</key>
			<string>{164,126}</string>
		</dict>
		<key>images/Box/clickBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,35},{262,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,31}}</string>
			<key>sourceSize</key>
			<string>{262,31}</string>
		</dict>
		<key>images/Box/getKey.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{315,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,31}}</string>
			<key>sourceSize</key>
			<string>{315,31}</string>
		</dict>
		<key>images/Box/goldenBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,130},{165,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,126}}</string>
			<key>sourceSize</key>
			<string>{165,126}</string>
		</dict>
		<key>images/Box/silverBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,264},{165,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,127}}</string>
			<key>sourceSize</key>
			<string>{165,127}</string>
		</dict>
		<key>images/Box/sparShop.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,35},{93,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,25}}</string>
			<key>sourceSize</key>
			<string>{93,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Box0.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f2ad824c9a0a5efd10d7a16300157070:1/1$</string>
		<key>textureFileName</key>
		<string>Box0.png</string>
	</dict>
</dict>
</plist>
