<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/TreasureRoom/bgRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{429,432}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{429,432}}</string>
			<key>sourceSize</key>
			<string>{429,432}</string>
		</dict>
		<key>images/TreasureRoom/fntRefresh.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,473},{58,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,31}}</string>
			<key>sourceSize</key>
			<string>{58,31}</string>
		</dict>
		<key>images/TreasureRoom/rare.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,436},{96,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,72}}</string>
			<key>sourceSize</key>
			<string>{96,72}</string>
		</dict>
		<key>images/TreasureRoom/sellTreasure.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,436},{403,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{403,35}}</string>
			<key>sourceSize</key>
			<string>{403,35}</string>
		</dict>
		<key>images/TreasureRoom/treasureShow.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,473},{93,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,26}}</string>
			<key>sourceSize</key>
			<string>{93,26}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TreasureRoom0.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a10e4d4fa23d99f0a77c9b5cb92b72a2:1/2$</string>
		<key>textureFileName</key>
		<string>TreasureRoom0.png</string>
	</dict>
</dict>
</plist>
