<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Equip/ATTACK.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,447},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/GoldRATE_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,949},{70,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,34}}</string>
			<key>sourceSize</key>
			<string>{70,34}</string>
		</dict>
		<key>images/Equip/GoldRATE_DODGY.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,949},{73,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,38}}</string>
			<key>sourceSize</key>
			<string>{73,38}</string>
		</dict>
		<key>images/Equip/GoldRATE_HARM_M.png</key>
		<dict>
			<key>frame</key>
			<string>{{594,949},{74,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,38}}</string>
			<key>sourceSize</key>
			<string>{74,38}</string>
		</dict>
		<key>images/Equip/GoldRATE_HARM_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,949},{74,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,38}}</string>
			<key>sourceSize</key>
			<string>{74,38}</string>
		</dict>
		<key>images/Equip/GoldRATE_HIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,949},{74,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,38}}</string>
			<key>sourceSize</key>
			<string>{74,38}</string>
		</dict>
		<key>images/Equip/RATE_UNCRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,949},{67,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,24}}</string>
			<key>sourceSize</key>
			<string>{67,24}</string>
		</dict>
		<key>images/Equip/RATE_UNCRIT_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,949},{67,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,24}}</string>
			<key>sourceSize</key>
			<string>{67,24}</string>
		</dict>
		<key>images/Equip/RATE_UNHURT_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,949},{67,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,24}}</string>
			<key>sourceSize</key>
			<string>{67,24}</string>
		</dict>
		<key>images/Equip/RATE_UNHURT_CRIT_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,949},{67,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,24}}</string>
			<key>sourceSize</key>
			<string>{67,24}</string>
		</dict>
		<key>images/Equip/add.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,949},{36,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,37}}</string>
			<key>sourceSize</key>
			<string>{36,37}</string>
		</dict>
		<key>images/Equip/armor_sele_ttf.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,949},{145,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,49}}</string>
			<key>sourceSize</key>
			<string>{145,49}</string>
		</dict>
		<key>images/Equip/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,476},{471,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{471,447}}</string>
			<key>sourceSize</key>
			<string>{471,447}</string>
		</dict>
		<key>images/Equip/blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,218},{172,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,227}}</string>
			<key>sourceSize</key>
			<string>{172,227}</string>
		</dict>
		<key>images/Equip/btnEquipNor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{563,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,117}}</string>
			<key>sourceSize</key>
			<string>{563,117}</string>
		</dict>
		<key>images/Equip/descBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,121},{557,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{557,95}}</string>
			<key>sourceSize</key>
			<string>{557,95}</string>
		</dict>
		<key>images/Equip/leader.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,949},{47,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,29}}</string>
			<key>sourceSize</key>
			<string>{47,29}</string>
		</dict>
		<key>images/Equip/lottery_sure.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,949},{232,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,70}}</string>
			<key>sourceSize</key>
			<string>{232,70}</string>
		</dict>
		<key>images/Equip/mainBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,2},{472,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,447}}</string>
			<key>sourceSize</key>
			<string>{472,447}</string>
		</dict>
		<key>images/Equip/plus_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{594,989},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>images/Equip/purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,218},{172,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,227}}</string>
			<key>sourceSize</key>
			<string>{172,227}</string>
		</dict>
		<key>images/Equip/smelt_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,476},{471,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{471,447}}</string>
			<key>sourceSize</key>
			<string>{471,447}</string>
		</dict>
		<key>images/Equip/title_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,218},{212,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,40}}</string>
			<key>sourceSize</key>
			<string>{212,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Equip1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:43c7fb658d31658c5dfd122edcfb7ed4:2/3$</string>
		<key>textureFileName</key>
		<string>Equip1.png</string>
	</dict>
</dict>
</plist>
