<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Equip/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,594},{73,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,41}}</string>
			<key>sourceSize</key>
			<string>{73,41}</string>
		</dict>
		<key>images/Equip/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,598},{73,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,41}}</string>
			<key>sourceSize</key>
			<string>{73,41}</string>
		</dict>
		<key>images/Equip/ATTACK_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,997},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/GoldATTACK.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,905},{72,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,34}}</string>
			<key>sourceSize</key>
			<string>{72,34}</string>
		</dict>
		<key>images/Equip/GoldLIFE.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,831},{72,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,35}}</string>
			<key>sourceSize</key>
			<string>{72,35}</string>
		</dict>
		<key>images/Equip/GoldRATE_HURT_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,641},{74,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,38}}</string>
			<key>sourceSize</key>
			<string>{74,38}</string>
		</dict>
		<key>images/Equip/GoldRATE_UNCRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,717},{74,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,38}}</string>
			<key>sourceSize</key>
			<string>{74,38}</string>
		</dict>
		<key>images/Equip/GoldRATE_UNHARM_M.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,793},{74,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,38}}</string>
			<key>sourceSize</key>
			<string>{74,38}</string>
		</dict>
		<key>images/Equip/GoldRATE_UNHARM_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,869},{74,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,38}}</string>
			<key>sourceSize</key>
			<string>{74,38}</string>
		</dict>
		<key>images/Equip/GoldRATE_UNHURT_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,391},{104,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,38}}</string>
			<key>sourceSize</key>
			<string>{104,38}</string>
		</dict>
		<key>images/Equip/LIFE.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,997},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/LIFE_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,997},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/MysticShop.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,430},{97,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,30}}</string>
			<key>sourceSize</key>
			<string>{97,30}</string>
		</dict>
		<key>images/Equip/RATE_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,997},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_CRIT_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,997},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_DODGY.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,598},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_DODGY_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,598},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_HARM_M.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,598},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_HARM_M_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,598},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_HARM_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,598},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_HARM_P_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,598},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_HIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,426},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_HIT_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,669},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_HURT_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,696},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_HURT_CRIT_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,723},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_UNHARM_M.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,750},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_UNHARM_M_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,777},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_UNHARM_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,804},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/RATE_UNHARM_P_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,979},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>images/Equip/_star.png</key>
		<dict>
			<key>frame</key>
			<string>{{549,462},{57,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,30}}</string>
			<key>sourceSize</key>
			<string>{57,30}</string>
		</dict>
		<key>images/Equip/armorBag.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,641},{93,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,26}}</string>
			<key>sourceSize</key>
			<string>{93,26}</string>
		</dict>
		<key>images/Equip/armorbridle.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,881},{141,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,40}}</string>
			<key>sourceSize</key>
			<string>{141,40}</string>
		</dict>
		<key>images/Equip/armorlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,881},{141,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,40}}</string>
			<key>sourceSize</key>
			<string>{141,40}</string>
		</dict>
		<key>images/Equip/armorsmelt.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,497},{142,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,40}}</string>
			<key>sourceSize</key>
			<string>{142,40}</string>
		</dict>
		<key>images/Equip/bigStarBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,391},{79,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,43}}</string>
			<key>sourceSize</key>
			<string>{79,43}</string>
		</dict>
		<key>images/Equip/cardBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,391},{223,239}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,239}}</string>
			<key>sourceSize</key>
			<string>{223,239}</string>
		</dict>
		<key>images/Equip/cardProperty.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,641},{81,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,26}}</string>
			<key>sourceSize</key>
			<string>{81,26}</string>
		</dict>
		<key>images/Equip/cardlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,391},{101,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,33}}</string>
			<key>sourceSize</key>
			<string>{101,33}</string>
		</dict>
		<key>images/Equip/comboBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,2},{357,367}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{357,367}}</string>
			<key>sourceSize</key>
			<string>{357,367}</string>
		</dict>
		<key>images/Equip/compose.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,915},{151,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,93}}</string>
			<key>sourceSize</key>
			<string>{151,93}</string>
		</dict>
		<key>images/Equip/contentOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,641},{354,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{354,97}}</string>
			<key>sourceSize</key>
			<string>{354,97}</string>
		</dict>
		<key>images/Equip/contentOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,641},{354,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{354,97}}</string>
			<key>sourceSize</key>
			<string>{354,97}</string>
		</dict>
		<key>images/Equip/downArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,945},{49,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,36}}</string>
			<key>sourceSize</key>
			<string>{49,36}</string>
		</dict>
		<key>images/Equip/elite.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,391},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/Equip/equal.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,462},{32,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,30}}</string>
			<key>sourceSize</key>
			<string>{32,30}</string>
		</dict>
		<key>images/Equip/first_lottery.png</key>
		<dict>
			<key>frame</key>
			<string>{{985,2},{287,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,37}}</string>
			<key>sourceSize</key>
			<string>{287,37}</string>
		</dict>
		<key>images/Equip/gainBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,762},{557,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{557,117}}</string>
			<key>sourceSize</key>
			<string>{557,117}</string>
		</dict>
		<key>images/Equip/gx_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{612,387}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{612,387}}</string>
			<key>sourceSize</key>
			<string>{612,387}</string>
		</dict>
		<key>images/Equip/gx_bg3.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,497},{261,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{261,99}}</string>
			<key>sourceSize</key>
			<string>{261,99}</string>
		</dict>
		<key>images/Equip/gx_bg4.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,427},{165,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,41}}</string>
			<key>sourceSize</key>
			<string>{165,41}</string>
		</dict>
		<key>images/Equip/has_equip.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,881},{128,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,85}}</string>
			<key>sourceSize</key>
			<string>{128,85}</string>
		</dict>
		<key>images/Equip/kapaijieshao.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,915},{81,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,26}}</string>
			<key>sourceSize</key>
			<string>{81,26}</string>
		</dict>
		<key>images/Equip/line.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,831},{187,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,8}}</string>
			<key>sourceSize</key>
			<string>{187,8}</string>
		</dict>
		<key>images/Equip/lottery_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,361},{278,362}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,362}}</string>
			<key>sourceSize</key>
			<string>{278,362}</string>
		</dict>
		<key>images/Equip/lottery_free.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,881},{169,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,32}}</string>
			<key>sourceSize</key>
			<string>{169,32}</string>
		</dict>
		<key>images/Equip/lvup.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,426},{69,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,37}}</string>
			<key>sourceSize</key>
			<string>{69,37}</string>
		</dict>
		<key>images/Equip/melt.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,426},{69,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,37}}</string>
			<key>sourceSize</key>
			<string>{69,37}</string>
		</dict>
		<key>images/Equip/member.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,997},{43,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,25}}</string>
			<key>sourceSize</key>
			<string>{43,25}</string>
		</dict>
		<key>images/Equip/nonComboTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,669},{351,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{351,154}}</string>
			<key>sourceSize</key>
			<string>{351,154}</string>
		</dict>
		<key>images/Equip/not_enough.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,881},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/Equip/plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,598},{24,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,25}}</string>
			<key>sourceSize</key>
			<string>{24,25}</string>
		</dict>
		<key>images/Equip/propertyBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,641},{557,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{557,119}}</string>
			<key>sourceSize</key>
			<string>{557,119}</string>
		</dict>
		<key>images/Equip/remove.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,391},{65,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,33}}</string>
			<key>sourceSize</key>
			<string>{65,33}</string>
		</dict>
		<key>images/Equip/smelt_add.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,881},{133,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,37}}</string>
			<key>sourceSize</key>
			<string>{133,37}</string>
		</dict>
		<key>images/Equip/smelt_begin.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,881},{133,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,37}}</string>
			<key>sourceSize</key>
			<string>{133,37}</string>
		</dict>
		<key>images/Equip/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,430},{59,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,32}}</string>
			<key>sourceSize</key>
			<string>{59,32}</string>
		</dict>
		<key>images/Equip/title_armorMain.png</key>
		<dict>
			<key>frame</key>
			<string>{{985,291},{134,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,37}}</string>
			<key>sourceSize</key>
			<string>{134,37}</string>
		</dict>
		<key>images/Equip/title_pack.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,497},{142,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,40}}</string>
			<key>sourceSize</key>
			<string>{142,40}</string>
		</dict>
		<key>images/Equip/title_upgrade.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,497},{142,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,40}}</string>
			<key>sourceSize</key>
			<string>{142,40}</string>
		</dict>
		<key>images/Equip/totalProperty.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,391},{100,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,28}}</string>
			<key>sourceSize</key>
			<string>{100,28}</string>
		</dict>
		<key>images/Equip/upgrade.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,391},{129,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,37}}</string>
			<key>sourceSize</key>
			<string>{129,37}</string>
		</dict>
		<key>images/Equip/zhuangbeilianhua.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,881},{141,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,40}}</string>
			<key>sourceSize</key>
			<string>{141,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Equip0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:43c7fb658d31658c5dfd122edcfb7ed4:1/3$</string>
		<key>textureFileName</key>
		<string>Equip0.png</string>
	</dict>
</dict>
</plist>
