<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/smelt/bg_one.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{592,305}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{592,305}}</string>
			<key>sourceSize</key>
			<string>{592,305}</string>
		</dict>
		<key>images/smelt/bg_two.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,476},{546,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{546,105}}</string>
			<key>sourceSize</key>
			<string>{546,105}</string>
		</dict>
		<key>images/smelt/box_1_tip.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,445},{339,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,32}}</string>
			<key>sourceSize</key>
			<string>{339,32}</string>
		</dict>
		<key>images/smelt/box_1_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,895},{117,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,36}}</string>
			<key>sourceSize</key>
			<string>{117,36}</string>
		</dict>
		<key>images/smelt/box_2_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{701,952},{117,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,36}}</string>
			<key>sourceSize</key>
			<string>{117,36}</string>
		</dict>
		<key>images/smelt/btn_green_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,649},{121,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,39}}</string>
			<key>sourceSize</key>
			<string>{121,39}</string>
		</dict>
		<key>images/smelt/btn_green_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,772},{121,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,39}}</string>
			<key>sourceSize</key>
			<string>{121,39}</string>
		</dict>
		<key>images/smelt/btn_nor_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,421},{170,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,53}}</string>
			<key>sourceSize</key>
			<string>{170,53}</string>
		</dict>
		<key>images/smelt/btn_nor_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,309},{170,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,54}}</string>
			<key>sourceSize</key>
			<string>{170,54}</string>
		</dict>
		<key>images/smelt/btn_sel_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,952},{170,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,53}}</string>
			<key>sourceSize</key>
			<string>{170,53}</string>
		</dict>
		<key>images/smelt/btn_sel_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,365},{170,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,54}}</string>
			<key>sourceSize</key>
			<string>{170,54}</string>
		</dict>
		<key>images/smelt/buyTimes.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,801},{93,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,28}}</string>
			<key>sourceSize</key>
			<string>{93,28}</string>
		</dict>
		<key>images/smelt/cardBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,479},{199,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,210}}</string>
			<key>sourceSize</key>
			<string>{199,210}</string>
		</dict>
		<key>images/smelt/coin1.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,991},{80,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,30}}</string>
			<key>sourceSize</key>
			<string>{80,30}</string>
		</dict>
		<key>images/smelt/coin2.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,718},{81,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,29}}</string>
			<key>sourceSize</key>
			<string>{81,29}</string>
		</dict>
		<key>images/smelt/exchange.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,309},{61,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,30}}</string>
			<key>sourceSize</key>
			<string>{61,30}</string>
		</dict>
		<key>images/smelt/font_chaijie.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,645},{71,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,33}}</string>
			<key>sourceSize</key>
			<string>{71,33}</string>
		</dict>
		<key>images/smelt/font_chaijie_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,309},{131,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,37}}</string>
			<key>sourceSize</key>
			<string>{131,37}</string>
		</dict>
		<key>images/smelt/font_my_coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,991},{103,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,29}}</string>
			<key>sourceSize</key>
			<string>{103,29}</string>
		</dict>
		<key>images/smelt/font_shop_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,309},{134,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,39}}</string>
			<key>sourceSize</key>
			<string>{134,39}</string>
		</dict>
		<key>images/smelt/goodTipBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,309},{163,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,77}}</string>
			<key>sourceSize</key>
			<string>{163,77}</string>
		</dict>
		<key>images/smelt/icon1.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,2},{45,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,46}}</string>
			<key>sourceSize</key>
			<string>{45,46}</string>
		</dict>
		<key>images/smelt/icon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,49},{45,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,46}}</string>
			<key>sourceSize</key>
			<string>{45,46}</string>
		</dict>
		<key>images/smelt/img1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,479},{185,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,164}}</string>
			<key>sourceSize</key>
			<string>{185,164}</string>
		</dict>
		<key>images/smelt/img2.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,309},{190,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,127}}</string>
			<key>sourceSize</key>
			<string>{190,127}</string>
		</dict>
		<key>images/smelt/img_bg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,479},{471,442}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{471,442}}</string>
			<key>sourceSize</key>
			<string>{471,442}</string>
		</dict>
		<key>images/smelt/img_bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,2},{475,378}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{475,378}}</string>
			<key>sourceSize</key>
			<string>{475,378}</string>
		</dict>
		<key>images/smelt/img_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,96},{551,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{551,45}}</string>
			<key>sourceSize</key>
			<string>{551,45}</string>
		</dict>
		<key>images/smelt/smelt1.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,952},{89,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,35}}</string>
			<key>sourceSize</key>
			<string>{89,35}</string>
		</dict>
		<key>images/smelt/smelt2.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,680},{89,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,35}}</string>
			<key>sourceSize</key>
			<string>{89,35}</string>
		</dict>
		<key>images/smelt/tip.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,680},{319,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,30}}</string>
			<key>sourceSize</key>
			<string>{319,30}</string>
		</dict>
		<key>images/smelt/tip1.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,341},{102,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,30}}</string>
			<key>sourceSize</key>
			<string>{102,30}</string>
		</dict>
		<key>images/smelt/tip2.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,680},{309,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{309,30}}</string>
			<key>sourceSize</key>
			<string>{309,30}</string>
		</dict>
		<key>images/smelt/tip3.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,341},{102,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,30}}</string>
			<key>sourceSize</key>
			<string>{102,30}</string>
		</dict>
		<key>images/smelt/tip4.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,680},{309,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{309,30}}</string>
			<key>sourceSize</key>
			<string>{309,30}</string>
		</dict>
		<key>images/smelt/tipBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,649},{367,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,55}}</string>
			<key>sourceSize</key>
			<string>{367,55}</string>
		</dict>
		<key>images/smelt/tipBg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,649},{373,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{373,60}}</string>
			<key>sourceSize</key>
			<string>{373,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>smelt0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5979c2c98b9794236bfab4539bd78a11:1/2$</string>
		<key>textureFileName</key>
		<string>smelt0.png</string>
	</dict>
</dict>
</plist>
