<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Devil/ExchangBig.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,858},{76,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,35}}</string>
			<key>sourceSize</key>
			<string>{76,35}</string>
		</dict>
		<key>images/Devil/ExchangeSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,582},{114,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,31}}</string>
			<key>sourceSize</key>
			<string>{114,31}</string>
		</dict>
		<key>images/Devil/MyPrim.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,514},{115,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,32}}</string>
			<key>sourceSize</key>
			<string>{115,32}</string>
		</dict>
		<key>images/Devil/OnceExchange.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,615},{77,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,72}}</string>
			<key>sourceSize</key>
			<string>{77,72}</string>
		</dict>
		<key>images/Devil/PrimExchange.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,433},{139,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,43}}</string>
			<key>sourceSize</key>
			<string>{139,43}</string>
		</dict>
		<key>images/Devil/PrimIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,964},{57,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,70}}</string>
			<key>sourceSize</key>
			<string>{57,70}</string>
		</dict>
		<key>images/Devil/arrowDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,553},{100,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,30}}</string>
			<key>sourceSize</key>
			<string>{100,30}</string>
		</dict>
		<key>images/Devil/btnAttNormal2.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,301},{165,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,177}}</string>
			<key>sourceSize</key>
			<string>{165,177}</string>
		</dict>
		<key>images/Devil/btnAttSelect2.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,691},{165,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,177}}</string>
			<key>sourceSize</key>
			<string>{165,177}</string>
		</dict>
		<key>images/Devil/btnDamageNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,139},{187,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,79}}</string>
			<key>sourceSize</key>
			<string>{187,79}</string>
		</dict>
		<key>images/Devil/btnDamageSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,220},{187,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,79}}</string>
			<key>sourceSize</key>
			<string>{187,79}</string>
		</dict>
		<key>images/Devil/btnPraiseNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,940},{81,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,90}}</string>
			<key>sourceSize</key>
			<string>{81,90}</string>
		</dict>
		<key>images/Devil/btnPraiseSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,39},{81,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,90}}</string>
			<key>sourceSize</key>
			<string>{81,90}</string>
		</dict>
		<key>images/Devil/butEnergy.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,478},{132,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,37}}</string>
			<key>sourceSize</key>
			<string>{132,37}</string>
		</dict>
		<key>images/Devil/damageRank.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,895},{117,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,34}}</string>
			<key>sourceSize</key>
			<string>{117,34}</string>
		</dict>
		<key>images/Devil/damageRankTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,301},{141,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,43}}</string>
			<key>sourceSize</key>
			<string>{141,43}</string>
		</dict>
		<key>images/Devil/demogDamageRank.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,80},{260,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,36}}</string>
			<key>sourceSize</key>
			<string>{260,36}</string>
		</dict>
		<key>images/Devil/devilInvade.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,391},{140,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,40}}</string>
			<key>sourceSize</key>
			<string>{140,40}</string>
		</dict>
		<key>images/Devil/devilList.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,964},{143,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,44}}</string>
			<key>sourceSize</key>
			<string>{143,44}</string>
		</dict>
		<key>images/Devil/devilName.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,811},{123,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,30}}</string>
			<key>sourceSize</key>
			<string>{123,30}</string>
		</dict>
		<key>images/Devil/devilNotFound.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,964},{288,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,44}}</string>
			<key>sourceSize</key>
			<string>{288,44}</string>
		</dict>
		<key>images/Devil/devilRank.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,960}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,960}}</string>
			<key>sourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>images/Devil/drawCard.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,481},{150,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,31}}</string>
			<key>sourceSize</key>
			<string>{150,31}</string>
		</dict>
		<key>images/Devil/epicDevilInvade.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,615},{194,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,35}}</string>
			<key>sourceSize</key>
			<string>{194,35}</string>
		</dict>
		<key>images/Devil/featsRank.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,346},{141,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,43}}</string>
			<key>sourceSize</key>
			<string>{141,43}</string>
		</dict>
		<key>images/Devil/featsRankSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{979,895},{117,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,34}}</string>
			<key>sourceSize</key>
			<string>{117,34}</string>
		</dict>
		<key>images/Devil/finder.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,726},{79,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,29}}</string>
			<key>sourceSize</key>
			<string>{79,29}</string>
		</dict>
		<key>images/Devil/fntDrawAll.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,585},{98,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,30}}</string>
			<key>sourceSize</key>
			<string>{98,30}</string>
		</dict>
		<key>images/Devil/fontResetReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,514},{424,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{424,38}}</string>
			<key>sourceSize</key>
			<string>{424,38}</string>
		</dict>
		<key>images/Devil/fullAttack.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,964},{107,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,51}}</string>
			<key>sourceSize</key>
			<string>{107,51}</string>
		</dict>
		<key>images/Devil/getFeatReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,39},{196,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,39}}</string>
			<key>sourceSize</key>
			<string>{196,39}</string>
		</dict>
		<key>images/Devil/gongxunbaodian.png</key>
		<dict>
			<key>frame</key>
			<string>{{879,553},{113,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,30}}</string>
			<key>sourceSize</key>
			<string>{113,30}</string>
		</dict>
		<key>images/Devil/gongxunbi.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,964},{48,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,42}}</string>
			<key>sourceSize</key>
			<string>{48,42}</string>
		</dict>
		<key>images/Devil/gongxunbihuoqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,249},{230,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,29}}</string>
			<key>sourceSize</key>
			<string>{230,29}</string>
		</dict>
		<key>images/Devil/imgBeAtt.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,858},{158,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,112}}</string>
			<key>sourceSize</key>
			<string>{158,112}</string>
		</dict>
		<key>images/Devil/life.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,35},{66,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,28}}</string>
			<key>sourceSize</key>
			<string>{66,28}</string>
		</dict>
		<key>images/Devil/myRanking.png</key>
		<dict>
			<key>frame</key>
			<string>{{879,517},{117,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,34}}</string>
			<key>sourceSize</key>
			<string>{117,34}</string>
		</dict>
		<key>images/Devil/normalAttack.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,811},{118,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,34}}</string>
			<key>sourceSize</key>
			<string>{118,34}</string>
		</dict>
		<key>images/Devil/progress_energy.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,118},{255,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,19}}</string>
			<key>sourceSize</key>
			<string>{255,19}</string>
		</dict>
		<key>images/Devil/progress_energyBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,249},{255,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,19}}</string>
			<key>sourceSize</key>
			<string>{255,19}</string>
		</dict>
		<key>images/Devil/progress_life.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{510,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{510,15}}</string>
			<key>sourceSize</key>
			<string>{510,15}</string>
		</dict>
		<key>images/Devil/rankReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,726},{197,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,42}}</string>
			<key>sourceSize</key>
			<string>{197,42}</string>
		</dict>
		<key>images/Devil/rankRewardCard.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,2},{288,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,35}}</string>
			<key>sourceSize</key>
			<string>{288,35}</string>
		</dict>
		<key>images/Devil/rankTop.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,689},{77,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,35}}</string>
			<key>sourceSize</key>
			<string>{77,35}</string>
		</dict>
		<key>images/Devil/ranking.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,2},{66,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,31}}</string>
			<key>sourceSize</key>
			<string>{66,31}</string>
		</dict>
		<key>images/Devil/runAwayTime.png</key>
		<dict>
			<key>frame</key>
			<string>{{778,139},{101,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,31}}</string>
			<key>sourceSize</key>
			<string>{101,31}</string>
		</dict>
		<key>images/Devil/setRein.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,249},{118,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,36}}</string>
			<key>sourceSize</key>
			<string>{118,36}</string>
		</dict>
		<key>images/Devil/singleDamageRank.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,480},{209,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,43}}</string>
			<key>sourceSize</key>
			<string>{209,43}</string>
		</dict>
		<key>images/Devil/starUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,514},{418,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{418,31}}</string>
			<key>sourceSize</key>
			<string>{418,31}</string>
		</dict>
		<key>images/Devil/totalDamageRank.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,139},{106,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,28}}</string>
			<key>sourceSize</key>
			<string>{106,28}</string>
		</dict>
		<key>images/Devil/win.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,122},{125,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,85}}</string>
			<key>sourceSize</key>
			<string>{125,85}</string>
		</dict>
		<key>images/Devil/wodegongxun.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,548},{115,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,32}}</string>
			<key>sourceSize</key>
			<string>{115,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Devil0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bc4161ebfc5416d9adb0a473f8684af0:1/5$</string>
		<key>textureFileName</key>
		<string>Devil0.png</string>
	</dict>
</dict>
</plist>
