<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Devil/btnAttNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,2},{166,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,165}}</string>
			<key>sourceSize</key>
			<string>{166,165}</string>
		</dict>
		<key>images/Devil/btnAttSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,46},{166,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,165}}</string>
			<key>sourceSize</key>
			<string>{166,165}</string>
		</dict>
		<key>images/Devil/btnDrawNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,169},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>images/Devil/btnDrawSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,213},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>images/Devil/btnReinLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,321},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>images/Devil/btnReinNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,365},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>images/Devil/btnReinSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,473},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>images/Devil/damageRankReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,2},{197,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,42}}</string>
			<key>sourceSize</key>
			<string>{197,42}</string>
		</dict>
		<key>images/Devil/featReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,2},{113,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,30}}</string>
			<key>sourceSize</key>
			<string>{113,30}</string>
		</dict>
		<key>images/Devil/progress_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,2},{510,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{510,15}}</string>
			<key>sourceSize</key>
			<string>{510,15}</string>
		</dict>
		<key>images/Devil/rankItemBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,321},{553,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{553,80}}</string>
			<key>sourceSize</key>
			<string>{553,80}</string>
		</dict>
		<key>images/Devil/rewardBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{602,564}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{602,564}}</string>
			<key>sourceSize</key>
			<string>{602,564}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Devil1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bc4161ebfc5416d9adb0a473f8684af0:2/5$</string>
		<key>textureFileName</key>
		<string>Devil1.png</string>
	</dict>
</dict>
</plist>
