<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/uizdsl/0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,466},{142,78}}</string>
			<key>offset</key>
			<string>{-115,-51}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{134,312},{142,78}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,140},{196,102}}</string>
			<key>offset</key>
			<string>{61,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{283,260},{196,102}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,234},{198,110}}</string>
			<key>offset</key>
			<string>{-81,-46}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{140,291},{198,110}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,236},{190,120}}</string>
			<key>offset</key>
			<string>{66,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{291,251},{190,120}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,498},{182,134}}</string>
			<key>offset</key>
			<string>{-79,-39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{150,272},{182,134}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,364},{188,134}}</string>
			<key>offset</key>
			<string>{69,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{295,242},{188,134}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,358},{180,134}}</string>
			<key>offset</key>
			<string>{-79,-39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{151,272},{180,134}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/001.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,302},{162,78}}</string>
			<key>offset</key>
			<string>{-102,-52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{137,313},{162,78}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,140},{196,94}}</string>
			<key>offset</key>
			<string>{76,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{298,258},{196,94}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,140},{160,90}}</string>
			<key>offset</key>
			<string>{-143,-49}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{97,304},{160,90}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/002.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,130},{210,102}}</string>
			<key>offset</key>
			<string>{-74,-48}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{141,297},{210,102}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,236},{186,116}}</string>
			<key>offset</key>
			<string>{81,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{308,241},{186,116}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,130},{290,104}}</string>
			<key>offset</key>
			<string>{-79,-42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,290},{290,104}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/003.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,236},{190,126}}</string>
			<key>offset</key>
			<string>{-73,-42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{152,279},{190,126}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,244},{190,124}}</string>
			<key>offset</key>
			<string>{81,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{306,235},{190,124}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/0033.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,2},{448,126}}</string>
			<key>offset</key>
			<string>{1,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97,268},{448,126}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,370},{186,126}}</string>
			<key>offset</key>
			<string>{-76,-42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{151,279},{186,126}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/0044.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{504,136}}</string>
			<key>offset</key>
			<string>{29,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97,258},{504,136}}</string>
			<key>sourceSize</key>
			<string>{640,600}</string>
		</dict>
		<key>images/Effect/uizdsl/MB01.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,500},{130,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{130,134}}</string>
			<key>sourceSize</key>
			<string>{130,136}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>uizdsl0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:91072e1de0351184b2ea1bd9482d32b5:1/1$</string>
		<key>textureFileName</key>
		<string>uizdsl0.png</string>
	</dict>
</dict>
</plist>
