<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/26AKzl/26AKszij1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{184,184}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,12},{184,184}}</string>
			<key>sourceSize</key>
			<string>{212,208}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>26AKzl0.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b8987a3390263fef6874715c4d0c9d0e:1/1$</string>
		<key>textureFileName</key>
		<string>26AKzl0.png</string>
	</dict>
</dict>
</plist>
