<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Activity/ActivityTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,531},{66,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,35}}</string>
			<key>sourceSize</key>
			<string>{66,35}</string>
		</dict>
		<key>images/Activity/activity_d2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{594,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{594,189}}</string>
			<key>sourceSize</key>
			<string>{594,189}</string>
		</dict>
		<key>images/Activity/activity_hightevo_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,642},{561,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{561,121}}</string>
			<key>sourceSize</key>
			<string>{561,121}</string>
		</dict>
		<key>images/Activity/activity_level_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,765},{561,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{561,121}}</string>
			<key>sourceSize</key>
			<string>{561,121}</string>
		</dict>
		<key>images/Activity/activty_arr.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,119},{77,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,63}}</string>
			<key>sourceSize</key>
			<string>{77,63}</string>
		</dict>
		<key>images/Activity/affordable.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,84},{85,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,49}}</string>
			<key>sourceSize</key>
			<string>{85,49}</string>
		</dict>
		<key>images/Activity/affordable98.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,256},{158,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,36}}</string>
			<key>sourceSize</key>
			<string>{158,36}</string>
		</dict>
		<key>images/Activity/b.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,47},{139,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,38}}</string>
			<key>sourceSize</key>
			<string>{139,38}</string>
		</dict>
		<key>images/Activity/buy.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,979},{77,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,34}}</string>
			<key>sourceSize</key>
			<string>{77,34}</string>
		</dict>
		<key>images/Activity/buyVip.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,888},{126,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,33}}</string>
			<key>sourceSize</key>
			<string>{126,33}</string>
		</dict>
		<key>images/Activity/buyWeekVip.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,888},{126,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,33}}</string>
			<key>sourceSize</key>
			<string>{126,33}</string>
		</dict>
		<key>images/Activity/campaignLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,2},{527,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{527,89}}</string>
			<key>sourceSize</key>
			<string>{527,89}</string>
		</dict>
		<key>images/Activity/duration.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,531},{104,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,27}}</string>
			<key>sourceSize</key>
			<string>{104,27}</string>
		</dict>
		<key>images/Activity/gbuy.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,84},{125,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,33}}</string>
			<key>sourceSize</key>
			<string>{125,33}</string>
		</dict>
		<key>images/Activity/giftTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,888},{216,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,43}}</string>
			<key>sourceSize</key>
			<string>{216,43}</string>
		</dict>
		<key>images/Activity/gifttip.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,979},{120,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,42}}</string>
			<key>sourceSize</key>
			<string>{120,42}</string>
		</dict>
		<key>images/Activity/huaAmazing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,226},{274,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,31}}</string>
			<key>sourceSize</key>
			<string>{274,31}</string>
		</dict>
		<key>images/Activity/huaBuy.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,568},{69,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,34}}</string>
			<key>sourceSize</key>
			<string>{69,34}</string>
		</dict>
		<key>images/Activity/huaBuyOnce.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,193},{444,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{444,31}}</string>
			<key>sourceSize</key>
			<string>{444,31}</string>
		</dict>
		<key>images/Activity/huaCanGet.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,226},{159,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,28}}</string>
			<key>sourceSize</key>
			<string>{159,28}</string>
		</dict>
		<key>images/Activity/huaLastDays.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,47},{139,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,32}}</string>
			<key>sourceSize</key>
			<string>{139,32}</string>
		</dict>
		<key>images/Activity/huaSuanBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,531},{473,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{473,447}}</string>
			<key>sourceSize</key>
			<string>{473,447}</string>
		</dict>
		<key>images/Activity/keepOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,226},{188,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,40}}</string>
			<key>sourceSize</key>
			<string>{188,40}</string>
		</dict>
		<key>images/Activity/materialGiftBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,193},{473,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{473,447}}</string>
			<key>sourceSize</key>
			<string>{473,447}</string>
		</dict>
		<key>images/Activity/materialLvup.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,2},{329,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{329,43}}</string>
			<key>sourceSize</key>
			<string>{329,43}</string>
		</dict>
		<key>images/Activity/pass.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,888},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/Activity/price.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,47},{138,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,42}}</string>
			<key>sourceSize</key>
			<string>{138,42}</string>
		</dict>
		<key>images/Activity/progress.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,888},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/Activity/s.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,84},{99,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,27}}</string>
			<key>sourceSize</key>
			<string>{99,27}</string>
		</dict>
		<key>images/Activity/select.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,256},{122,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,122}}</string>
			<key>sourceSize</key>
			<string>{122,122}</string>
		</dict>
		<key>images/Activity/small_fight.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,441},{83,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,83}}</string>
			<key>sourceSize</key>
			<string>{83,83}</string>
		</dict>
		<key>images/Activity/ttfGbuy.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,226},{213,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,51}}</string>
			<key>sourceSize</key>
			<string>{213,51}</string>
		</dict>
		<key>images/Activity/ttfGift.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,47},{198,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,35}}</string>
			<key>sourceSize</key>
			<string>{198,35}</string>
		</dict>
		<key>images/Activity/ttfTimes.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,888},{130,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,25}}</string>
			<key>sourceSize</key>
			<string>{130,25}</string>
		</dict>
		<key>images/Activity/unstart_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,888},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/Activity/vipRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,416},{152,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,49}}</string>
			<key>sourceSize</key>
			<string>{152,49}</string>
		</dict>
		<key>images/Activity/welfare.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,933},{214,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,44}}</string>
			<key>sourceSize</key>
			<string>{214,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Activity0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:23e08b9f13bf21287a768882979a8225:1/3$</string>
		<key>textureFileName</key>
		<string>Activity0.png</string>
	</dict>
</dict>
</plist>
