<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Artifact/hulu1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{251,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,194}}</string>
			<key>sourceSize</key>
			<string>{251,194}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Artifact1.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e49592c254c3c9ce33276b0319ca0605:2/2$</string>
		<key>textureFileName</key>
		<string>Artifact1.png</string>
	</dict>
</dict>
</plist>
