<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/buff05/X.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,477},{124,124}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,11},{124,124}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>images/Effect/buff05/we00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,157},{161,164}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{161,164}}</string>
			<key>sourceSize</key>
			<string>{161,204}</string>
		</dict>
		<key>images/Effect/buff05/we01.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,302},{161,164}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,18},{161,164}}</string>
			<key>sourceSize</key>
			<string>{161,204}</string>
		</dict>
		<key>images/Effect/buff05/we02.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,302},{161,162}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,20},{161,162}}</string>
			<key>sourceSize</key>
			<string>{161,204}</string>
		</dict>
		<key>images/Effect/buff05/we03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,320},{155,164}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,18},{155,164}}</string>
			<key>sourceSize</key>
			<string>{161,204}</string>
		</dict>
		<key>images/Effect/buff05/we04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{153,168}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{153,168}}</string>
			<key>sourceSize</key>
			<string>{161,204}</string>
		</dict>
		<key>images/Effect/buff05/we05.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,147},{153,166}}</string>
			<key>offset</key>
			<string>{-4,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,12},{153,166}}</string>
			<key>sourceSize</key>
			<string>{161,204}</string>
		</dict>
		<key>images/Effect/buff05/we06.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,2},{147,168}}</string>
			<key>offset</key>
			<string>{-6,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,11},{147,168}}</string>
			<key>sourceSize</key>
			<string>{161,204}</string>
		</dict>
		<key>images/Effect/buff05/we07.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,2},{143,168}}</string>
			<key>offset</key>
			<string>{-4,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,12},{143,168}}</string>
			<key>sourceSize</key>
			<string>{161,204}</string>
		</dict>
		<key>images/Effect/buff05/we08.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,151},{149,166}}</string>
			<key>offset</key>
			<string>{-3,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,13},{149,166}}</string>
			<key>sourceSize</key>
			<string>{161,204}</string>
		</dict>
		<key>images/Effect/buff05/we09.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,465},{155,158}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,20},{155,158}}</string>
			<key>sourceSize</key>
			<string>{161,204}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>buff050.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bfeff2c50d11f3d7c15550cdb7cfac8d:1/1$</string>
		<key>textureFileName</key>
		<string>buff050.png</string>
	</dict>
</dict>
</plist>
