<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/buff01/jgfy00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{225,102}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,0},{225,102}}</string>
			<key>sourceSize</key>
			<string>{265,102}</string>
		</dict>
		<key>images/Effect/buff01/jgfy01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,106},{219,102}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,0},{219,102}}</string>
			<key>sourceSize</key>
			<string>{265,102}</string>
		</dict>
		<key>images/Effect/buff01/jgfy02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,327},{219,102}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,0},{219,102}}</string>
			<key>sourceSize</key>
			<string>{265,102}</string>
		</dict>
		<key>images/Effect/buff01/jgfy03.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,106},{215,102}}</string>
			<key>offset</key>
			<string>{-10,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,0},{215,102}}</string>
			<key>sourceSize</key>
			<string>{265,102}</string>
		</dict>
		<key>images/Effect/buff01/jgfy04.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,106},{215,102}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{215,102}}</string>
			<key>sourceSize</key>
			<string>{265,102}</string>
		</dict>
		<key>images/Effect/buff01/jgfy05.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,2},{221,102}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,0},{221,102}}</string>
			<key>sourceSize</key>
			<string>{265,102}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>buff010.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fcce9aa8158eecf68a19bc56e28fba1b:1/1$</string>
		<key>textureFileName</key>
		<string>buff010.pvr.ccz</string>
	</dict>
</dict>
</plist>
