<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Corps/beijing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,768}}</string>
			<key>sourceSize</key>
			<string>{512,768}</string>
		</dict>
		<key>images/Corps/bloodback.png</key>
		<dict>
			<key>frame</key>
			<string>{{1003,2},{138,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,19}}</string>
			<key>sourceSize</key>
			<string>{138,19}</string>
		</dict>
		<key>images/Corps/bloodred.png</key>
		<dict>
			<key>frame</key>
			<string>{{1003,142},{138,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,19}}</string>
			<key>sourceSize</key>
			<string>{138,19}</string>
		</dict>
		<key>images/Corps/box.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,949},{74,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,66}}</string>
			<key>sourceSize</key>
			<string>{74,66}</string>
		</dict>
		<key>images/Corps/bpcfIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,949},{50,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,35}}</string>
			<key>sourceSize</key>
			<string>{50,35}</string>
		</dict>
		<key>images/Corps/chengzhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,739},{55,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,25}}</string>
			<key>sourceSize</key>
			<string>{55,25}</string>
		</dict>
		<key>images/Corps/cs.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,772},{242,283}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,283}}</string>
			<key>sourceSize</key>
			<string>{242,283}</string>
		</dict>
		<key>images/Corps/daojishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,675},{142,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,33}}</string>
			<key>sourceSize</key>
			<string>{142,33}</string>
		</dict>
		<key>images/Corps/fayankuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,949},{128,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,62}}</string>
			<key>sourceSize</key>
			<string>{128,62}</string>
		</dict>
		<key>images/Corps/fayanweiba.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,1001},{16,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,28}}</string>
			<key>sourceSize</key>
			<string>{16,28}</string>
		</dict>
		<key>images/Corps/gfxz.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,772},{186,237}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,237}}</string>
			<key>sourceSize</key>
			<string>{186,237}</string>
		</dict>
		<key>images/Corps/gjgf.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,463},{160,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,210}}</string>
			<key>sourceSize</key>
			<string>{160,210}</string>
		</dict>
		<key>images/Corps/gmgBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{485,459}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{485,459}}</string>
			<key>sourceSize</key>
			<string>{485,459}</string>
		</dict>
		<key>images/Corps/liaotian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,675},{90,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,93}}</string>
			<key>sourceSize</key>
			<string>{90,93}</string>
		</dict>
		<key>images/Corps/maohao.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,1011},{9,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,19}}</string>
			<key>sourceSize</key>
			<string>{9,19}</string>
		</dict>
		<key>images/Corps/pray1.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,675},{93,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,34}}</string>
			<key>sourceSize</key>
			<string>{93,34}</string>
		</dict>
		<key>images/Corps/pray10.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,675},{93,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,34}}</string>
			<key>sourceSize</key>
			<string>{93,34}</string>
		</dict>
		<key>images/Corps/title_bz.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,592},{78,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,34}}</string>
			<key>sourceSize</key>
			<string>{78,34}</string>
		</dict>
		<key>images/Corps/tongyongyun.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,463},{223,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,80}}</string>
			<key>sourceSize</key>
			<string>{223,80}</string>
		</dict>
		<key>images/Corps/ttf_bpxy.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,528},{97,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,24}}</string>
			<key>sourceSize</key>
			<string>{97,24}</string>
		</dict>
		<key>images/Corps/ttf_cj.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,949},{63,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,34}}</string>
			<key>sourceSize</key>
			<string>{63,34}</string>
		</dict>
		<key>images/Corps/ttf_gg.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,949},{36,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,72}}</string>
			<key>sourceSize</key>
			<string>{36,72}</string>
		</dict>
		<key>images/Corps/ttf_gx.png</key>
		<dict>
			<key>frame</key>
			<string>{{681,949},{64,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,27}}</string>
			<key>sourceSize</key>
			<string>{64,27}</string>
		</dict>
		<key>images/Corps/ttf_jj.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,949},{63,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,34}}</string>
			<key>sourceSize</key>
			<string>{63,34}</string>
		</dict>
		<key>images/Corps/ttf_jx.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,949},{70,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,34}}</string>
			<key>sourceSize</key>
			<string>{70,34}</string>
		</dict>
		<key>images/Corps/ttf_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,772},{537,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{537,175}}</string>
			<key>sourceSize</key>
			<string>{537,175}</string>
		</dict>
		<key>images/Corps/ttf_lq.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,949},{63,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,34}}</string>
			<key>sourceSize</key>
			<string>{63,34}</string>
		</dict>
		<key>images/Corps/ttf_max.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,949},{66,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,27}}</string>
			<key>sourceSize</key>
			<string>{66,27}</string>
		</dict>
		<key>images/Corps/ttf_sy.png</key>
		<dict>
			<key>frame</key>
			<string>{{958,592},{62,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,33}}</string>
			<key>sourceSize</key>
			<string>{62,33}</string>
		</dict>
		<key>images/Corps/ttf_ty.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,710},{60,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,34}}</string>
			<key>sourceSize</key>
			<string>{60,34}</string>
		</dict>
		<key>images/Corps/ttf_zh.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,949},{62,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,34}}</string>
			<key>sourceSize</key>
			<string>{62,34}</string>
		</dict>
		<key>images/Corps/ttf_zhz.png</key>
		<dict>
			<key>frame</key>
			<string>{{549,949},{70,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,25}}</string>
			<key>sourceSize</key>
			<string>{70,25}</string>
		</dict>
		<key>images/Corps/ttf_zl.png</key>
		<dict>
			<key>frame</key>
			<string>{{958,627},{62,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,33}}</string>
			<key>sourceSize</key>
			<string>{62,33}</string>
		</dict>
		<key>images/Corps/up.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,739},{24,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,30}}</string>
			<key>sourceSize</key>
			<string>{24,30}</string>
		</dict>
		<key>images/Corps/weikaiqi_da.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,463},{98,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,36}}</string>
			<key>sourceSize</key>
			<string>{98,36}</string>
		</dict>
		<key>images/Corps/yibaoming_da.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,554},{96,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,36}}</string>
			<key>sourceSize</key>
			<string>{96,36}</string>
		</dict>
		<key>images/Corps/zhanglao.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,688},{198,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,80}}</string>
			<key>sourceSize</key>
			<string>{198,80}</string>
		</dict>
		<key>images/Corps/zhanlingbangpai.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,501},{97,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,25}}</string>
			<key>sourceSize</key>
			<string>{97,25}</string>
		</dict>
		<key>images/Corps/zhanlingjiangli_xiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,710},{106,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,27}}</string>
			<key>sourceSize</key>
			<string>{106,27}</string>
		</dict>
		<key>images/Corps/zzgf.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,463},{160,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,210}}</string>
			<key>sourceSize</key>
			<string>{160,210}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Corps0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e63ae507f8030da1fa3badc08759498c:1/3$</string>
		<key>textureFileName</key>
		<string>Corps0.png</string>
	</dict>
</dict>
</plist>
