<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/CS01/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,82},{86,74}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{86,74}}</string>
			<key>sourceSize</key>
			<string>{100,96}</string>
		</dict>
		<key>images/Effect/CS01/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{138,110}}</string>
			<key>offset</key>
			<string>{-1,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,34},{138,110}}</string>
			<key>sourceSize</key>
			<string>{150,144}</string>
		</dict>
		<key>images/Effect/CS01/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,2},{78,88}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,6},{78,88}}</string>
			<key>sourceSize</key>
			<string>{100,96}</string>
		</dict>
		<key>images/Effect/CS01/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,158},{82,81}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,16},{82,81}}</string>
			<key>sourceSize</key>
			<string>{120,115}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>CS010.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6eadc01e71d343385fab13e3372cd99b:1/1$</string>
		<key>textureFileName</key>
		<string>CS010.png</string>
	</dict>
</dict>
</plist>
