<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/CShhe02/CShhe02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{134,144}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,13},{134,144}}</string>
			<key>sourceSize</key>
			<string>{166,170}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>CShhe020.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1e9e5a81b6cf166ea04e2ea5f08a9009:1/1$</string>
		<key>textureFileName</key>
		<string>CShhe020.png</string>
	</dict>
</dict>
</plist>
