<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Cultivate/P_ATTACK.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,914},{108,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,69}}</string>
			<key>sourceSize</key>
			<string>{108,69}</string>
		</dict>
		<key>images/Cultivate/P_LIFE.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,914},{108,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,69}}</string>
			<key>sourceSize</key>
			<string>{108,69}</string>
		</dict>
		<key>images/Cultivate/P_RATE_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,914},{108,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,69}}</string>
			<key>sourceSize</key>
			<string>{108,69}</string>
		</dict>
		<key>images/Cultivate/P_RATE_DODGY.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,914},{108,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,69}}</string>
			<key>sourceSize</key>
			<string>{108,69}</string>
		</dict>
		<key>images/Cultivate/P_RATE_HARM_M.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,914},{108,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,69}}</string>
			<key>sourceSize</key>
			<string>{108,69}</string>
		</dict>
		<key>images/Cultivate/P_RATE_HARM_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,914},{108,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,69}}</string>
			<key>sourceSize</key>
			<string>{108,69}</string>
		</dict>
		<key>images/Cultivate/P_RATE_HIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,914},{108,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,69}}</string>
			<key>sourceSize</key>
			<string>{108,69}</string>
		</dict>
		<key>images/Cultivate/chongxiuCost.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,966},{125,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,37}}</string>
			<key>sourceSize</key>
			<string>{125,37}</string>
		</dict>
		<key>images/Cultivate/chongxiukapai.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,33},{202,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,40}}</string>
			<key>sourceSize</key>
			<string>{202,40}</string>
		</dict>
		<key>images/Cultivate/dj_liebiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,608},{585,304}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{585,304}}</string>
			<key>sourceSize</key>
			<string>{585,304}</string>
		</dict>
		<key>images/Cultivate/fb_baita.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,337},{132,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,200}}</string>
			<key>sourceSize</key>
			<string>{132,200}</string>
		</dict>
		<key>images/Cultivate/fb_battle_dis.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,608},{356,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,210}}</string>
			<key>sourceSize</key>
			<string>{356,210}</string>
		</dict>
		<key>images/Cultivate/fb_battle_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,608},{356,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,210}}</string>
			<key>sourceSize</key>
			<string>{356,210}</string>
		</dict>
		<key>images/Cultivate/fb_camp_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,604}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,604}}</string>
			<key>sourceSize</key>
			<string>{512,604}</string>
		</dict>
		<key>images/Cultivate/fb_camp_lian.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,75},{201,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,129}}</string>
			<key>sourceSize</key>
			<string>{201,129}</string>
		</dict>
		<key>images/Cultivate/fb_camp_liandark.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,206},{201,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,129}}</string>
			<key>sourceSize</key>
			<string>{201,129}</string>
		</dict>
		<key>images/Cultivate/fntAutoRefresh.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,2},{203,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,29}}</string>
			<key>sourceSize</key>
			<string>{203,29}</string>
		</dict>
		<key>images/Cultivate/font_swallow.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,953},{69,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,26}}</string>
			<key>sourceSize</key>
			<string>{69,26}</string>
		</dict>
		<key>images/Cultivate/icon_Bag.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,953},{65,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,70}}</string>
			<key>sourceSize</key>
			<string>{65,70}</string>
		</dict>
		<key>images/Cultivate/pack_pillsel.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,557},{89,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,41}}</string>
			<key>sourceSize</key>
			<string>{89,41}</string>
		</dict>
		<key>images/Cultivate/state8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,966},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state8_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,966},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state9.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,471},{142,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,41}}</string>
			<key>sourceSize</key>
			<string>{142,41}</string>
		</dict>
		<key>images/Cultivate/state9_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,514},{142,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,41}}</string>
			<key>sourceSize</key>
			<string>{142,41}</string>
		</dict>
		<key>images/Cultivate/state_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,471},{134,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,76}}</string>
			<key>sourceSize</key>
			<string>{134,76}</string>
		</dict>
		<key>images/Cultivate/xiuxingta.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,914},{99,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,37}}</string>
			<key>sourceSize</key>
			<string>{99,37}</string>
		</dict>
		<key>images/Cultivate/xx_liebiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{585,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{585,284}}</string>
			<key>sourceSize</key>
			<string>{585,284}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Cultivate4.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d1036144800837b5525a8b4e5d0ac074:5/7$</string>
		<key>textureFileName</key>
		<string>Cultivate4.pvr.ccz</string>
	</dict>
</dict>
</plist>
