<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Cultivate/RATE_CRIT_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,333},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_CRIT_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,417},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_DODGY_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,519},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_DODGY_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,319},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_HARM_M.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,698},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HARM_M_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,354},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_HARM_M_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,663},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HARM_M_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,421},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_HARM_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,698},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HARM_P_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,523},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_HARM_P_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,698},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HARM_P_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,625},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_HIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,727},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HIT_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,917},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_HIT_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,727},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HIT_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,917},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_HURT_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,727},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HURT_CRIT_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,917},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_HURT_CRIT_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,727},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_HURT_CRIT_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,621},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_UNCRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,131},{104,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,38}}</string>
			<key>sourceSize</key>
			<string>{104,38}</string>
		</dict>
		<key>images/Cultivate/RATE_UNCRIT_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,621},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_UNCRIT_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,171},{104,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,38}}</string>
			<key>sourceSize</key>
			<string>{104,38}</string>
		</dict>
		<key>images/Cultivate/RATE_UNCRIT_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,794},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_M.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,794},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_M_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,794},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_M_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{933,794},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,833},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHARM_P_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,872},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHURT_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,211},{104,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,38}}</string>
			<key>sourceSize</key>
			<string>{104,38}</string>
		</dict>
		<key>images/Cultivate/RATE_UNHURT_CRIT_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,297},{104,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,38}}</string>
			<key>sourceSize</key>
			<string>{104,38}</string>
		</dict>
		<key>images/Cultivate/attr_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,230},{185,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,300}}</string>
			<key>sourceSize</key>
			<string>{185,300}</string>
		</dict>
		<key>images/Cultivate/bt_yitongguan.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,149},{70,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,29}}</string>
			<key>sourceSize</key>
			<string>{70,29}</string>
		</dict>
		<key>images/Cultivate/count_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,727},{93,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,27}}</string>
			<key>sourceSize</key>
			<string>{93,27}</string>
		</dict>
		<key>images/Cultivate/dark_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,637},{100,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,59}}</string>
			<key>sourceSize</key>
			<string>{100,59}</string>
		</dict>
		<key>images/Cultivate/dujiekaishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,403},{75,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,37}}</string>
			<key>sourceSize</key>
			<string>{75,37}</string>
		</dict>
		<key>images/Cultivate/fb_camp_node.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,917},{148,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,100}}</string>
			<key>sourceSize</key>
			<string>{148,100}</string>
		</dict>
		<key>images/Cultivate/fb_tipbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,131},{430,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{430,97}}</string>
			<key>sourceSize</key>
			<string>{430,97}</string>
		</dict>
		<key>images/Cultivate/item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{541,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{541,127}}</string>
			<key>sourceSize</key>
			<string>{541,127}</string>
		</dict>
		<key>images/Cultivate/job1.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,129},{443,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,28}}</string>
			<key>sourceSize</key>
			<string>{443,28}</string>
		</dict>
		<key>images/Cultivate/light_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,621},{197,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,40}}</string>
			<key>sourceSize</key>
			<string>{197,40}</string>
		</dict>
		<key>images/Cultivate/light_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{993,2},{145,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,29}}</string>
			<key>sourceSize</key>
			<string>{145,29}</string>
		</dict>
		<key>images/Cultivate/number_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,727},{93,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,27}}</string>
			<key>sourceSize</key>
			<string>{93,27}</string>
		</dict>
		<key>images/Cultivate/pack_leftnor.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,159},{308,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,78}}</string>
			<key>sourceSize</key>
			<string>{308,78}</string>
		</dict>
		<key>images/Cultivate/pack_leftsel.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,239},{308,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,78}}</string>
			<key>sourceSize</key>
			<string>{308,78}</string>
		</dict>
		<key>images/Cultivate/state1.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,388},{143,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,41}}</string>
			<key>sourceSize</key>
			<string>{143,41}</string>
		</dict>
		<key>images/Cultivate/state1_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,431},{143,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,41}}</string>
			<key>sourceSize</key>
			<string>{143,41}</string>
		</dict>
		<key>images/Cultivate/state2.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,319},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state2_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,465},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state3.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,480},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state3_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,611},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state4.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,665},{143,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,41}}</string>
			<key>sourceSize</key>
			<string>{143,41}</string>
		</dict>
		<key>images/Cultivate/state4_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,708},{143,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,41}}</string>
			<key>sourceSize</key>
			<string>{143,41}</string>
		</dict>
		<key>images/Cultivate/state5.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,751},{143,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,41}}</string>
			<key>sourceSize</key>
			<string>{143,41}</string>
		</dict>
		<key>images/Cultivate/state5_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{979,772},{143,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,41}}</string>
			<key>sourceSize</key>
			<string>{143,41}</string>
		</dict>
		<key>images/Cultivate/state6.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,757},{143,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,41}}</string>
			<key>sourceSize</key>
			<string>{143,41}</string>
		</dict>
		<key>images/Cultivate/state6_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,757},{143,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,41}}</string>
			<key>sourceSize</key>
			<string>{143,41}</string>
		</dict>
		<key>images/Cultivate/state7.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,622},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state7_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,626},{144,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,41}}</string>
			<key>sourceSize</key>
			<string>{144,41}</string>
		</dict>
		<key>images/Cultivate/state_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,474},{145,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,66}}</string>
			<key>sourceSize</key>
			<string>{145,66}</string>
		</dict>
		<key>images/Cultivate/state_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,159},{134,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,76}}</string>
			<key>sourceSize</key>
			<string>{134,76}</string>
		</dict>
		<key>images/Cultivate/state_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,542},{144,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,78}}</string>
			<key>sourceSize</key>
			<string>{144,78}</string>
		</dict>
		<key>images/Cultivate/state_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,314},{131,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,72}}</string>
			<key>sourceSize</key>
			<string>{131,72}</string>
		</dict>
		<key>images/Cultivate/state_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,237},{131,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,75}}</string>
			<key>sourceSize</key>
			<string>{131,75}</string>
		</dict>
		<key>images/Cultivate/stuff_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,2},{446,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{446,125}}</string>
			<key>sourceSize</key>
			<string>{446,125}</string>
		</dict>
		<key>images/Cultivate/tishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,663},{75,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,41}}</string>
			<key>sourceSize</key>
			<string>{75,41}</string>
		</dict>
		<key>images/Cultivate/tunshi_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,221},{74,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,36}}</string>
			<key>sourceSize</key>
			<string>{74,36}</string>
		</dict>
		<key>images/Cultivate/xiuxing_bg_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,727},{65,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,68}}</string>
			<key>sourceSize</key>
			<string>{65,68}</string>
		</dict>
		<key>images/Cultivate/xx_icon_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,230},{102,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,101}}</string>
			<key>sourceSize</key>
			<string>{102,101}</string>
		</dict>
		<key>images/Cultivate/xx_icon_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,251},{102,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,101}}</string>
			<key>sourceSize</key>
			<string>{102,101}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Cultivate5.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d1036144800837b5525a8b4e5d0ac074:6/7$</string>
		<key>textureFileName</key>
		<string>Cultivate5.pvr.ccz</string>
	</dict>
</dict>
</plist>
