<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Cultivate/ATTACK.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,2},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/ATTACK_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/ATTACK_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,2},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/ATTACK_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,2},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/LIFE.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,41},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/LIFE_DOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/LIFE_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,77},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/LIFE_UP.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,206},{281,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,100}}</string>
			<key>sourceSize</key>
			<string>{281,100}</string>
		</dict>
		<key>images/Cultivate/RATE_CRIT.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,80},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_CRIT_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,119},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_DODGY.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,152},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/RATE_DODGY_OFF.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,158},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/Cultivate/cailiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,197},{73,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,36}}</string>
			<key>sourceSize</key>
			<string>{73,36}</string>
		</dict>
		<key>images/Cultivate/danyao.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,235},{73,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,36}}</string>
			<key>sourceSize</key>
			<string>{73,36}</string>
		</dict>
		<key>images/Cultivate/icon_xiuxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,273},{72,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,71}}</string>
			<key>sourceSize</key>
			<string>{72,71}</string>
		</dict>
		<key>images/Cultivate/xiuxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,227},{67,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,37}}</string>
			<key>sourceSize</key>
			<string>{67,37}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Cultivate6.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d1036144800837b5525a8b4e5d0ac074:7/7$</string>
		<key>textureFileName</key>
		<string>Cultivate6.pvr.ccz</string>
	</dict>
</dict>
</plist>
