<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Devil/devilMainBg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{600,572}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{600,572}}</string>
			<key>sourceSize</key>
			<string>{600,572}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Devil3.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bc4161ebfc5416d9adb0a473f8684af0:4/5$</string>
		<key>textureFileName</key>
		<string>Devil3.pvr.ccz</string>
	</dict>
</dict>
</plist>
