<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/dumpling/blueDumpOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,2},{155,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,87}}</string>
			<key>sourceSize</key>
			<string>{155,87}</string>
		</dict>
		<key>images/dumpling/bluePan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,217},{186,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,113}}</string>
			<key>sourceSize</key>
			<string>{186,113}</string>
		</dict>
		<key>images/dumpling/gas.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{213,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,145}}</string>
			<key>sourceSize</key>
			<string>{213,145}</string>
		</dict>
		<key>images/dumpling/greenDumpOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,405},{104,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,86}}</string>
			<key>sourceSize</key>
			<string>{104,86}</string>
		</dict>
		<key>images/dumpling/greenPan.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,217},{186,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,113}}</string>
			<key>sourceSize</key>
			<string>{186,113}</string>
		</dict>
		<key>images/dumpling/purpleDumpOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,405},{155,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,105}}</string>
			<key>sourceSize</key>
			<string>{155,105}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dumpling2.pvr.ccz</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:db2da6124b5964c73fe600cd5b12abad:3/3$</string>
		<key>textureFileName</key>
		<string>dumpling2.pvr.ccz</string>
	</dict>
</dict>
</plist>
