<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Explore/conditionSingleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{627,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{627,71}}</string>
			<key>sourceSize</key>
			<string>{627,71}</string>
		</dict>
		<key>images/Explore/fntFriendDesr.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,2},{511,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{511,65}}</string>
			<key>sourceSize</key>
			<string>{511,65}</string>
		</dict>
		<key>images/Explore/fntNpcDesr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,588},{425,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{425,27}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>images/Explore/selectBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,75},{511,609}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{511,609}}</string>
			<key>sourceSize</key>
			<string>{511,609}</string>
		</dict>
		<key>images/Explore/successBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,2},{514,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{514,139}}</string>
			<key>sourceSize</key>
			<string>{514,139}</string>
		</dict>
		<key>images/Explore/successBg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,2},{514,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{514,139}}</string>
			<key>sourceSize</key>
			<string>{514,139}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Explore2.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ba2e2d0c479c7d3684518b0dbea282bd:3/3$</string>
		<key>textureFileName</key>
		<string>Explore2.pvr.ccz</string>
	</dict>
</dict>
</plist>
