<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/FireWorks/font_One.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{111,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,37}}</string>
			<key>sourceSize</key>
			<string>{111,37}</string>
		</dict>
		<key>images/FireWorks/font_Ten.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,124},{130,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,37}}</string>
			<key>sourceSize</key>
			<string>{130,37}</string>
		</dict>
		<key>images/FireWorks/img_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,41},{82,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,81}}</string>
			<key>sourceSize</key>
			<string>{82,81}</string>
		</dict>
		<key>images/FireWorks/img_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{41,124},{56,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,57}}</string>
			<key>sourceSize</key>
			<string>{56,57}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FireWorks1.pvr.ccz</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9b2b53ba8b5494171eced7c2f4bdbb2e:2/2$</string>
		<key>textureFileName</key>
		<string>FireWorks1.pvr.ccz</string>
	</dict>
</dict>
</plist>
