<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Football/ball.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,556},{66,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,66}}</string>
			<key>sourceSize</key>
			<string>{66,66}</string>
		</dict>
		<key>images/Football/ball2.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,354},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/Football/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{501,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{501,350}}</string>
			<key>sourceSize</key>
			<string>{501,350}</string>
		</dict>
		<key>images/Football/btnDis.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,456},{172,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,65}}</string>
			<key>sourceSize</key>
			<string>{172,65}</string>
		</dict>
		<key>images/Football/btnNor.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,455},{172,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,65}}</string>
			<key>sourceSize</key>
			<string>{172,65}</string>
		</dict>
		<key>images/Football/btnNorRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,673},{167,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,70}}</string>
			<key>sourceSize</key>
			<string>{167,70}</string>
		</dict>
		<key>images/Football/btnSel.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,417},{172,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,65}}</string>
			<key>sourceSize</key>
			<string>{172,65}</string>
		</dict>
		<key>images/Football/btnSelRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,484},{167,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,70}}</string>
			<key>sourceSize</key>
			<string>{167,70}</string>
		</dict>
		<key>images/Football/gainReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,417},{139,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,42}}</string>
			<key>sourceSize</key>
			<string>{139,42}</string>
		</dict>
		<key>images/Football/kuang_xiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,456},{192,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,38}}</string>
			<key>sourceSize</key>
			<string>{192,38}</string>
		</dict>
		<key>images/Football/left.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,417},{98,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,36}}</string>
			<key>sourceSize</key>
			<string>{98,36}</string>
		</dict>
		<key>images/Football/leftRewardBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,772},{307,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{307,229}}</string>
			<key>sourceSize</key>
			<string>{307,229}</string>
		</dict>
		<key>images/Football/leftRewards.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,456},{215,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,41}}</string>
			<key>sourceSize</key>
			<string>{215,41}</string>
		</dict>
		<key>images/Football/mainBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,768}}</string>
			<key>sourceSize</key>
			<string>{512,768}</string>
		</dict>
		<key>images/Football/return.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,556},{66,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,35}}</string>
			<key>sourceSize</key>
			<string>{66,35}</string>
		</dict>
		<key>images/Football/right.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,630},{98,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,36}}</string>
			<key>sourceSize</key>
			<string>{98,36}</string>
		</dict>
		<key>images/Football/rightRewardBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,772},{313,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,248}}</string>
			<key>sourceSize</key>
			<string>{313,248}</string>
		</dict>
		<key>images/Football/rightRewards.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,456},{210,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,48}}</string>
			<key>sourceSize</key>
			<string>{210,48}</string>
		</dict>
		<key>images/Football/rule.png</key>
		<dict>
			<key>frame</key>
			<string>{{618,417},{66,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,37}}</string>
			<key>sourceSize</key>
			<string>{66,37}</string>
		</dict>
		<key>images/Football/title.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,354},{376,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{376,61}}</string>
			<key>sourceSize</key>
			<string>{376,61}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Football0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f617cf4c9cbca120c93eeb4bcd84836d:1/2$</string>
		<key>textureFileName</key>
		<string>Football0.png</string>
	</dict>
</dict>
</plist>
