<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Hallowmas/allIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{526,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{526,141}}</string>
			<key>sourceSize</key>
			<string>{526,141}</string>
		</dict>
		<key>images/Hallowmas/exchangeBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,229},{470,444}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{470,444}}</string>
			<key>sourceSize</key>
			<string>{470,444}</string>
		</dict>
		<key>images/Hallowmas/font_desc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,675},{329,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{329,56}}</string>
			<key>sourceSize</key>
			<string>{329,56}</string>
		</dict>
		<key>images/Hallowmas/goodsBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,830},{126,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,169}}</string>
			<key>sourceSize</key>
			<string>{126,169}</string>
		</dict>
		<key>images/Hallowmas/gourpBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,145},{501,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{501,82}}</string>
			<key>sourceSize</key>
			<string>{501,82}</string>
		</dict>
		<key>images/Hallowmas/heroIcon1.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,675},{151,252}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,252}}</string>
			<key>sourceSize</key>
			<string>{151,252}</string>
		</dict>
		<key>images/Hallowmas/heroIcon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,828},{144,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,194}}</string>
			<key>sourceSize</key>
			<string>{144,194}</string>
		</dict>
		<key>images/Hallowmas/iconSmall1.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,867},{259,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,141}}</string>
			<key>sourceSize</key>
			<string>{259,141}</string>
		</dict>
		<key>images/Hallowmas/iconSmall2.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,675},{149,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,112}}</string>
			<key>sourceSize</key>
			<string>{149,112}</string>
		</dict>
		<key>images/Hallowmas/iconSmall3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,2},{12,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,16}}</string>
			<key>sourceSize</key>
			<string>{12,16}</string>
		</dict>
		<key>images/Hallowmas/icon_sweet_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,229},{59,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,50}}</string>
			<key>sourceSize</key>
			<string>{59,50}</string>
		</dict>
		<key>images/Hallowmas/icon_sweet_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,290},{59,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,50}}</string>
			<key>sourceSize</key>
			<string>{59,50}</string>
		</dict>
		<key>images/Hallowmas/icon_sweet_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,351},{59,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,50}}</string>
			<key>sourceSize</key>
			<string>{59,50}</string>
		</dict>
		<key>images/Hallowmas/material.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,841},{92,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,72}}</string>
			<key>sourceSize</key>
			<string>{92,72}</string>
		</dict>
		<key>images/Hallowmas/shopBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,2},{470,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{470,447}}</string>
			<key>sourceSize</key>
			<string>{470,447}</string>
		</dict>
		<key>images/Hallowmas/shopTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,451},{388,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{388,108}}</string>
			<key>sourceSize</key>
			<string>{388,108}</string>
		</dict>
		<key>images/Hallowmas/showTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,412},{416,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{416,39}}</string>
			<key>sourceSize</key>
			<string>{416,39}</string>
		</dict>
		<key>images/Hallowmas/sweet.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,826},{135,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,39}}</string>
			<key>sourceSize</key>
			<string>{135,39}</string>
		</dict>
		<key>images/Hallowmas/sweetShop.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,675},{134,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,39}}</string>
			<key>sourceSize</key>
			<string>{134,39}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Hallowmas0.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bbe4be02923a4a9c1e3518d971719ee7:1/1$</string>
		<key>textureFileName</key>
		<string>Hallowmas0.pvr.ccz</string>
	</dict>
</dict>
</plist>
