<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/hit01/ADA01.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,348},{144,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,104},{144,92}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA02.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,460},{164,104}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,97},{164,104}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA03.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,2},{198,126}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,87},{198,126}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA04.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,566},{226,144}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,78},{226,144}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,566},{246,156}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,72},{246,156}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA06.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,202},{256,164}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,68},{256,164}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA07.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,174},{258,164}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,68},{258,164}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA08.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,340},{252,162}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,71},{252,162}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA09.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,176},{270,170}}</string>
			<key>offset</key>
			<string>{15,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,65},{270,170}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA10.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,174},{274,172}}</string>
			<key>offset</key>
			<string>{13,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,64},{274,172}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA11.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,2},{288,170}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,65},{288,170}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA12.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,2},{300,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,65},{300,170}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{300,172}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,63},{300,172}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,348},{144,154}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,75},{144,154}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,814},{158,158}}</string>
			<key>offset</key>
			<string>{-7,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,74},{158,158}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA16.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,348},{148,150}}</string>
			<key>offset</key>
			<string>{-3,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,85},{148,150}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA17.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,570},{120,126}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{89,91},{120,126}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA18.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,348},{122,150}}</string>
			<key>offset</key>
			<string>{-1,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,87},{122,150}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA19.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,794},{126,126}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,85},{126,126}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA20.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,794},{128,126}}</string>
			<key>offset</key>
			<string>{-2,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,82},{128,126}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/hit01/ADA21.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,442},{130,126}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{84,82},{130,126}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hit010.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c3a3977f9fe327e24ceea8fae48bfb01:1/1$</string>
		<key>textureFileName</key>
		<string>hit010.pvr.ccz</string>
	</dict>
</dict>
</plist>
