<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/HLEF03/1_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,381},{93,39}}</string>
			<key>offset</key>
			<string>{-5,-32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,73},{93,39}}</string>
			<key>sourceSize</key>
			<string>{115,121}</string>
		</dict>
		<key>images/Effect/HLEF03/1_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,149},{115,117}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{115,117}}</string>
			<key>sourceSize</key>
			<string>{115,121}</string>
		</dict>
		<key>images/Effect/HLEF03/1_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,264},{115,117}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{115,117}}</string>
			<key>sourceSize</key>
			<string>{115,121}</string>
		</dict>
		<key>images/Effect/HLEF03/1_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,381},{115,117}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{115,117}}</string>
			<key>sourceSize</key>
			<string>{115,121}</string>
		</dict>
		<key>images/Effect/HLEF03/1_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,149},{113,119}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{113,119}}</string>
			<key>sourceSize</key>
			<string>{115,121}</string>
		</dict>
		<key>images/Effect/HLEF03/shui_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{250,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,145}}</string>
			<key>sourceSize</key>
			<string>{250,145}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>HLEF030.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6f420828b2770354af6301124b0e10b8:1/1$</string>
		<key>textureFileName</key>
		<string>HLEF030.png</string>
	</dict>
</dict>
</plist>
