<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/JXzx01/JXzx1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,374},{88,266}}</string>
			<key>offset</key>
			<string>{1,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,30},{88,266}}</string>
			<key>sourceSize</key>
			<string>{150,300}</string>
		</dict>
		<key>images/Effect/JXzx01/JXzx2.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,272},{100,280}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,20},{100,280}}</string>
			<key>sourceSize</key>
			<string>{150,300}</string>
		</dict>
		<key>images/Effect/JXzx01/JXzx3.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,152},{118,292}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,8},{118,292}}</string>
			<key>sourceSize</key>
			<string>{150,300}</string>
		</dict>
		<key>images/Effect/JXzx01/JXzx4.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,2},{148,300}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{148,300}}</string>
			<key>sourceSize</key>
			<string>{150,300}</string>
		</dict>
		<key>images/Effect/JXzx01/JXzx5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{150,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,300}}</string>
			<key>sourceSize</key>
			<string>{150,300}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>JXzx010.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:03ff9e5e2d9ae188e4cc82b65baaada8:1/1$</string>
		<key>textureFileName</key>
		<string>JXzx010.png</string>
	</dict>
</dict>
</plist>
