<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/KJzbj03/KJzbj031.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,2},{134,152}}</string>
			<key>offset</key>
			<string>{0,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,76},{134,152}}</string>
			<key>sourceSize</key>
			<string>{154,256}</string>
		</dict>
		<key>images/Effect/KJzbj03/KJzbj032.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,192},{144,118}}</string>
			<key>offset</key>
			<string>{-1,-42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,111},{144,118}}</string>
			<key>sourceSize</key>
			<string>{154,256}</string>
		</dict>
		<key>images/Effect/KJzbj03/KJzbj033.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,312},{126,176}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,52},{126,176}}</string>
			<key>sourceSize</key>
			<string>{154,256}</string>
		</dict>
		<key>images/Effect/KJzbj03/KJzbj034.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,192},{106,196}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,31},{106,196}}</string>
			<key>sourceSize</key>
			<string>{154,256}</string>
		</dict>
		<key>images/Effect/KJzbj03/KJzbj035.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{116,188}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,39},{116,188}}</string>
			<key>sourceSize</key>
			<string>{154,256}</string>
		</dict>
		<key>images/Effect/KJzbj03/KJzbj036.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,156},{22,92}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,17},{22,92}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>KJzbj030.pvr.ccz</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e772ed78207fbb5db01ccb12396c7089:1/1$</string>
		<key>textureFileName</key>
		<string>KJzbj030.pvr.ccz</string>
	</dict>
</dict>
</plist>
