<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Lineup/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,606}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,606}}</string>
			<key>sourceSize</key>
			<string>{512,606}</string>
		</dict>
		<key>images/Lineup/bntLineup.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,610},{599,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{599,114}}</string>
			<key>sourceSize</key>
			<string>{599,114}</string>
		</dict>
		<key>images/Lineup/btnChangeName.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,610},{111,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,94}}</string>
			<key>sourceSize</key>
			<string>{111,94}</string>
		</dict>
		<key>images/Lineup/fntChangeLineupName.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,974},{194,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,37}}</string>
			<key>sourceSize</key>
			<string>{194,37}</string>
		</dict>
		<key>images/Lineup/fntChangeName.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,723},{49,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,27}}</string>
			<key>sourceSize</key>
			<string>{49,27}</string>
		</dict>
		<key>images/Lineup/fntSave.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,610},{69,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,34}}</string>
			<key>sourceSize</key>
			<string>{69,34}</string>
		</dict>
		<key>images/Lineup/fntSaveLineup.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,768},{155,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,32}}</string>
			<key>sourceSize</key>
			<string>{155,32}</string>
		</dict>
		<key>images/Lineup/fntSelectedLineup.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,610},{156,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,32}}</string>
			<key>sourceSize</key>
			<string>{156,32}</string>
		</dict>
		<key>images/Lineup/fntTitleSave.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,681},{130,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,37}}</string>
			<key>sourceSize</key>
			<string>{130,37}</string>
		</dict>
		<key>images/Lineup/fntTitleSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,925},{131,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,37}}</string>
			<key>sourceSize</key>
			<string>{131,37}</string>
		</dict>
		<key>images/Lineup/imgUpArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,964},{54,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,56}}</string>
			<key>sourceSize</key>
			<string>{54,56}</string>
		</dict>
		<key>images/Lineup/nameBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,610},{362,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,79}}</string>
			<key>sourceSize</key>
			<string>{362,79}</string>
		</dict>
		<key>images/Lineup/shiningBreath.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{598,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{598,113}}</string>
			<key>sourceSize</key>
			<string>{598,113}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Lineup0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0d9035992999dc435340bba99e785bb4:1/1$</string>
		<key>textureFileName</key>
		<string>Lineup0.png</string>
	</dict>
</dict>
</plist>
