<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/LSSZ01/LSSZ01_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,2},{100,186}}</string>
			<key>offset</key>
			<string>{1,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,54},{100,186}}</string>
			<key>sourceSize</key>
			<string>{130,250}</string>
		</dict>
		<key>images/Effect/LSSZ01/LSSZ01_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{130,250}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,250}}</string>
			<key>sourceSize</key>
			<string>{130,250}</string>
		</dict>
		<key>images/Effect/LSSZ01/LSSZ01_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,254},{128,250}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,250}}</string>
			<key>sourceSize</key>
			<string>{130,250}</string>
		</dict>
		<key>images/Effect/LSSZ01/LSSZ01_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,254},{86,204}}</string>
			<key>offset</key>
			<string>{-1,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,8},{86,204}}</string>
			<key>sourceSize</key>
			<string>{130,250}</string>
		</dict>
		<key>images/Effect/LSSZ01/LSSZ01_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,2},{66,186}}</string>
			<key>offset</key>
			<string>{-1,30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,2},{66,186}}</string>
			<key>sourceSize</key>
			<string>{130,250}</string>
		</dict>
		<key>images/Effect/LSSZ01/LSSZ01_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,162},{70,136}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,54},{70,136}}</string>
			<key>sourceSize</key>
			<string>{130,250}</string>
		</dict>
		<key>images/Effect/LSSZ01/LSSZ01_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,148},{72,142}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,49},{72,142}}</string>
			<key>sourceSize</key>
			<string>{130,250}</string>
		</dict>
		<key>images/Effect/LSSZ01/LSSZ01_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,70},{76,150}}</string>
			<key>offset</key>
			<string>{-1,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,42},{76,150}}</string>
			<key>sourceSize</key>
			<string>{130,250}</string>
		</dict>
		<key>images/Effect/LSSZ01/LSSZ01_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,2},{80,158}}</string>
			<key>offset</key>
			<string>{-1,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,36},{80,158}}</string>
			<key>sourceSize</key>
			<string>{130,250}</string>
		</dict>
		<key>images/Effect/LSSZ01/LSSZ01_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,460},{40,78}}</string>
			<key>offset</key>
			<string>{-2,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,100},{40,78}}</string>
			<key>sourceSize</key>
			<string>{130,250}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>LSSZ010.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:80ba5be65e02ac9f3e9503a851585b19:1/1$</string>
		<key>textureFileName</key>
		<string>LSSZ010.pvr.ccz</string>
	</dict>
</dict>
</plist>
