<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Main/btnBattleLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,874},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnBattleNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,874},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnBattleSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,874},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnEmailNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,442},{72,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,71}}</string>
			<key>sourceSize</key>
			<string>{72,71}</string>
		</dict>
		<key>images/Main/btnEmailSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,316},{72,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,71}}</string>
			<key>sourceSize</key>
			<string>{72,71}</string>
		</dict>
		<key>images/Main/btnEvovleLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,723},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnEvovleNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,723},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnEvovleSeleck.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,723},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnFragmentSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnFriendNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{801,2},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnFriendSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,159},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnGradeupLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,723},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnGradeupNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,473},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnGradeupSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,473},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnHomeNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,570},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnHomeSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,667},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnMissionNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,570},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnMissionSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,570},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnPackNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{801,159},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnPackSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,252},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnPvpNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,316},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnPvpSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,409},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnRewardsNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,252},{93,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,75}}</string>
			<key>sourceSize</key>
			<string>{93,75}</string>
		</dict>
		<key>images/Main/btnRewardsSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,347},{93,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,75}}</string>
			<key>sourceSize</key>
			<string>{93,75}</string>
		</dict>
		<key>images/Main/btnShopLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,667},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnShopNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,764},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnShopSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,861},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnSkillLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,316},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnSkillNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,566},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnSkillSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,820},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnSoaringLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,566},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnSoaringNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,820},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnSoaringSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,820},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/heroLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,874},{104,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,105}}</string>
			<key>sourceSize</key>
			<string>{104,105}</string>
		</dict>
		<key>images/Main/imgRoleInfo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,252},{620,380}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,380}}</string>
			<key>sourceSize</key>
			<string>{620,380}</string>
		</dict>
		<key>images/Main/imgTopFrame.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,131}}</string>
			<key>sourceSize</key>
			<string>{640,131}</string>
		</dict>
		<key>images/Main/up_plank.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,135},{640,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,115}}</string>
			<key>sourceSize</key>
			<string>{640,115}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Main1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6e37fee259d7ba72c64512aa21b83ce7:2/3$</string>
		<key>textureFileName</key>
		<string>Main1.png</string>
	</dict>
</dict>
</plist>
