<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Main/Bang_dis.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/Bang_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,159},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/Bang_sele.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,316},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnActivityLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,473},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnActivityNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,630},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnActivitySelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,787},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnArmorLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,2},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnArmorNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,2},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnArmorSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,2},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnArtifactNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,2},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnArtifactSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{787,2},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnCultivateLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,159},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnCultivateNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,316},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnCultivateSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,473},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnDevilLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,630},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnDevilNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,787},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnDevilNormal2.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,159},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnDevilSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,159},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnDevilSelect2.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,159},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnFragmentNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{787,159},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Main2.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6e37fee259d7ba72c64512aa21b83ce7:3/3$</string>
		<key>textureFileName</key>
		<string>Main2.pvr.ccz</string>
	</dict>
</dict>
</plist>
