<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Mall/bencibide.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,38},{188,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,76}}</string>
			<key>sourceSize</key>
			<string>{188,76}</string>
		</dict>
		<key>images/Mall/btnTenDrawDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,307},{175,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,67}}</string>
			<key>sourceSize</key>
			<string>{175,67}</string>
		</dict>
		<key>images/Mall/btnTenDrawNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,376},{175,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,67}}</string>
			<key>sourceSize</key>
			<string>{175,67}</string>
		</dict>
		<key>images/Mall/btnTenDrawSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,445},{175,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,67}}</string>
			<key>sourceSize</key>
			<string>{175,67}</string>
		</dict>
		<key>images/Mall/currency.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,964},{49,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,56}}</string>
			<key>sourceSize</key>
			<string>{49,56}</string>
		</dict>
		<key>images/Mall/fontRecommend.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,2},{154,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,28}}</string>
			<key>sourceSize</key>
			<string>{154,28}</string>
		</dict>
		<key>images/Mall/fontTripleDraw.png</key>
		<dict>
			<key>frame</key>
			<string>{{714,681},{98,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,35}}</string>
			<key>sourceSize</key>
			<string>{98,35}</string>
		</dict>
		<key>images/Mall/hasBuy.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,158},{128,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,85}}</string>
			<key>sourceSize</key>
			<string>{128,85}</string>
		</dict>
		<key>images/Mall/iconBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,116},{563,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,186}}</string>
			<key>sourceSize</key>
			<string>{563,186}</string>
		</dict>
		<key>images/Mall/iconCoin.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,964},{53,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,48}}</string>
			<key>sourceSize</key>
			<string>{53,48}</string>
		</dict>
		<key>images/Mall/iconDiamond.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,718},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/Mall/iconGold.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,750},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/Mall/iconJiNian.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,782},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/Mall/iconSpar.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,881},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>images/Mall/iconTaichu.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,908},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>images/Mall/lianhuahuode.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{215,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,34}}</string>
			<key>sourceSize</key>
			<string>{215,34}</string>
		</dict>
		<key>images/Mall/line.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,1015},{160,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,4}}</string>
			<key>sourceSize</key>
			<string>{160,4}</string>
		</dict>
		<key>images/Mall/lotteryBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,960}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,960}}</string>
			<key>sourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>images/Mall/nextrefresh.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,573},{259,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,31}}</string>
			<key>sourceSize</key>
			<string>{259,31}</string>
		</dict>
		<key>images/Mall/onlyBuyOnce.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,38},{267,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,25}}</string>
			<key>sourceSize</key>
			<string>{267,25}</string>
		</dict>
		<key>images/Mall/overLimit.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,32},{146,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,85}}</string>
			<key>sourceSize</key>
			<string>{146,85}</string>
		</dict>
		<key>images/Mall/own.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,514},{174,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,32}}</string>
			<key>sourceSize</key>
			<string>{174,32}</string>
		</dict>
		<key>images/Mall/panellight.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,548},{408,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,131}}</string>
			<key>sourceSize</key>
			<string>{408,131}</string>
		</dict>
		<key>images/Mall/price.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,814},{65,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,29}}</string>
			<key>sourceSize</key>
			<string>{65,29}</string>
		</dict>
		<key>images/Mall/price2.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,548},{47,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,23}}</string>
			<key>sourceSize</key>
			<string>{47,23}</string>
		</dict>
		<key>images/Mall/refresh.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,158},{69,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,37}}</string>
			<key>sourceSize</key>
			<string>{69,37}</string>
		</dict>
		<key>images/Mall/saleTip2.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,681},{277,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,68}}</string>
			<key>sourceSize</key>
			<string>{277,68}</string>
		</dict>
		<key>images/Mall/saleTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,119},{144,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,37}}</string>
			<key>sourceSize</key>
			<string>{144,37}</string>
		</dict>
		<key>images/Mall/tip1.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,964},{272,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{272,48}}</string>
			<key>sourceSize</key>
			<string>{272,48}</string>
		</dict>
		<key>images/Mall/tip2.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,964},{234,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{234,49}}</string>
			<key>sourceSize</key>
			<string>{234,49}</string>
		</dict>
		<key>images/Mall/tip3.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,964},{246,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,49}}</string>
			<key>sourceSize</key>
			<string>{246,49}</string>
		</dict>
		<key>images/Mall/tipBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{714,718},{225,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,78}}</string>
			<key>sourceSize</key>
			<string>{225,78}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Mall0.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bdf95dd06f9c193a00e9d90da3bf5dc5:1/3$</string>
		<key>textureFileName</key>
		<string>Mall0.pvr.ccz</string>
	</dict>
</dict>
</plist>
