<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/newfont/ActivityTime.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,92},{158,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,31}}</string>
			<key>sourceSize</key>
			<string>{158,31}</string>
		</dict>
		<key>images/newfont/BeChoiceAmount.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,34},{156,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,38}}</string>
			<key>sourceSize</key>
			<string>{156,38}</string>
		</dict>
		<key>images/newfont/BeginEveolve.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,344},{151,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,45}}</string>
			<key>sourceSize</key>
			<string>{151,45}</string>
		</dict>
		<key>images/newfont/ChiceHeroUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,316},{187,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,38}}</string>
			<key>sourceSize</key>
			<string>{187,38}</string>
		</dict>
		<key>images/newfont/Close1.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,445},{64,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,37}}</string>
			<key>sourceSize</key>
			<string>{64,37}</string>
		</dict>
		<key>images/newfont/EnterTime.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,92},{158,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,31}}</string>
			<key>sourceSize</key>
			<string>{158,31}</string>
		</dict>
		<key>images/newfont/HeroSplit.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,312},{131,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,35}}</string>
			<key>sourceSize</key>
			<string>{131,35}</string>
		</dict>
		<key>images/newfont/OpenChick.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,445},{65,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,67}}</string>
			<key>sourceSize</key>
			<string>{65,67}</string>
		</dict>
		<key>images/newfont/OpenTime.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,125},{158,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,31}}</string>
			<key>sourceSize</key>
			<string>{158,31}</string>
		</dict>
		<key>images/newfont/PreUnChip.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,109},{165,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,37}}</string>
			<key>sourceSize</key>
			<string>{165,37}</string>
		</dict>
		<key>images/newfont/SillUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,158},{126,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,38}}</string>
			<key>sourceSize</key>
			<string>{126,38}</string>
		</dict>
		<key>images/newfont/TechUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,198},{126,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,38}}</string>
			<key>sourceSize</key>
			<string>{126,38}</string>
		</dict>
		<key>images/newfont/TodayTime.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,109},{164,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,36}}</string>
			<key>sourceSize</key>
			<string>{164,36}</string>
		</dict>
		<key>images/newfont/WeaponHero.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,316},{187,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,38}}</string>
			<key>sourceSize</key>
			<string>{187,38}</string>
		</dict>
		<key>images/newfont/addition.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,312},{152,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,30}}</string>
			<key>sourceSize</key>
			<string>{152,30}</string>
		</dict>
		<key>images/newfont/buySoulStone.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,34},{280,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,43}}</string>
			<key>sourceSize</key>
			<string>{280,43}</string>
		</dict>
		<key>images/newfont/choiceSwallow.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,316},{189,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,40}}</string>
			<key>sourceSize</key>
			<string>{189,40}</string>
		</dict>
		<key>images/newfont/dailyCheck.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,34},{241,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,44}}</string>
			<key>sourceSize</key>
			<string>{241,44}</string>
		</dict>
		<key>images/newfont/dailyCheckSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,277},{203,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,37}}</string>
			<key>sourceSize</key>
			<string>{203,37}</string>
		</dict>
		<key>images/newfont/dailyLoginDesr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{505,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{505,30}}</string>
			<key>sourceSize</key>
			<string>{505,30}</string>
		</dict>
		<key>images/newfont/dailyReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,74},{198,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,34}}</string>
			<key>sourceSize</key>
			<string>{198,34}</string>
		</dict>
		<key>images/newfont/del.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,445},{65,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,33}}</string>
			<key>sourceSize</key>
			<string>{65,33}</string>
		</dict>
		<key>images/newfont/energyCost.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,34},{215,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,24}}</string>
			<key>sourceSize</key>
			<string>{215,24}</string>
		</dict>
		<key>images/newfont/energySmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,391},{51,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,24}}</string>
			<key>sourceSize</key>
			<string>{51,24}</string>
		</dict>
		<key>images/newfont/firstLoginDesr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,34},{416,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{416,30}}</string>
			<key>sourceSize</key>
			<string>{416,30}</string>
		</dict>
		<key>images/newfont/fntChargeReach.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,316},{134,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,29}}</string>
			<key>sourceSize</key>
			<string>{134,29}</string>
		</dict>
		<key>images/newfont/fntSelectSoaring.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,274},{204,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,36}}</string>
			<key>sourceSize</key>
			<string>{204,36}</string>
		</dict>
		<key>images/newfont/fontStrategy.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,158},{113,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,31}}</string>
			<key>sourceSize</key>
			<string>{113,31}</string>
		</dict>
		<key>images/newfont/giveCallFee.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,312},{197,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,35}}</string>
			<key>sourceSize</key>
			<string>{197,35}</string>
		</dict>
		<key>images/newfont/hulu.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,60},{180,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,30}}</string>
			<key>sourceSize</key>
			<string>{180,30}</string>
		</dict>
		<key>images/newfont/inject50.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,238},{125,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,33}}</string>
			<key>sourceSize</key>
			<string>{125,33}</string>
		</dict>
		<key>images/newfont/myTaichu.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,316},{188,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,30}}</string>
			<key>sourceSize</key>
			<string>{188,30}</string>
		</dict>
		<key>images/newfont/pvpRecord.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,74},{120,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,33}}</string>
			<key>sourceSize</key>
			<string>{120,33}</string>
		</dict>
		<key>images/newfont/pvpTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,316},{185,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,45}}</string>
			<key>sourceSize</key>
			<string>{185,45}</string>
		</dict>
		<key>images/newfont/sell.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,445},{60,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,32}}</string>
			<key>sourceSize</key>
			<string>{60,32}</string>
		</dict>
		<key>images/newfont/share.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,452},{54,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,31}}</string>
			<key>sourceSize</key>
			<string>{54,31}</string>
		</dict>
		<key>images/newfont/soulStoneExchange.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,60},{212,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,33}}</string>
			<key>sourceSize</key>
			<string>{212,33}</string>
		</dict>
		<key>images/newfont/stoneExchange.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,109},{165,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,36}}</string>
			<key>sourceSize</key>
			<string>{165,36}</string>
		</dict>
		<key>images/newfont/totalSell.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,391},{126,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,38}}</string>
			<key>sourceSize</key>
			<string>{126,38}</string>
		</dict>
		<key>images/newfont/winGet.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,452},{58,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,28}}</string>
			<key>sourceSize</key>
			<string>{58,28}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>newfont0.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c2d520c480c5221eaec1e470f841436d:1/2$</string>
		<key>textureFileName</key>
		<string>newfont0.pvr.ccz</string>
	</dict>
</dict>
</plist>
