<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/newfont/Acquire.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,260},{67,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,39}}</string>
			<key>sourceSize</key>
			<string>{67,39}</string>
		</dict>
		<key>images/newfont/Advance.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,273},{83,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,33}}</string>
			<key>sourceSize</key>
			<string>{83,33}</string>
		</dict>
		<key>images/newfont/Amount.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,239},{94,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,33}}</string>
			<key>sourceSize</key>
			<string>{94,33}</string>
		</dict>
		<key>images/newfont/Artifact.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,273},{78,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,37}}</string>
			<key>sourceSize</key>
			<string>{78,37}</string>
		</dict>
		<key>images/newfont/AutoCheck.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,252},{100,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,29}}</string>
			<key>sourceSize</key>
			<string>{100,29}</string>
		</dict>
		<key>images/newfont/BeCustoms.png</key>
		<dict>
			<key>frame</key>
			<string>{{41,404},{94,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,37}}</string>
			<key>sourceSize</key>
			<string>{94,37}</string>
		</dict>
		<key>images/newfont/BeOpen.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,404},{94,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,37}}</string>
			<key>sourceSize</key>
			<string>{94,37}</string>
		</dict>
		<key>images/newfont/BeginFight.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,111},{128,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,41}}</string>
			<key>sourceSize</key>
			<string>{128,41}</string>
		</dict>
		<key>images/newfont/BeginSkip8.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,76},{128,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,39}}</string>
			<key>sourceSize</key>
			<string>{128,39}</string>
		</dict>
		<key>images/newfont/Cancel.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,404},{74,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,36}}</string>
			<key>sourceSize</key>
			<string>{74,36}</string>
		</dict>
		<key>images/newfont/Enter.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,329},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/newfont/FriendLimit.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,201},{118,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,36}}</string>
			<key>sourceSize</key>
			<string>{118,36}</string>
		</dict>
		<key>images/newfont/Get.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,274},{74,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,37}}</string>
			<key>sourceSize</key>
			<string>{74,37}</string>
		</dict>
		<key>images/newfont/HeroUp2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,154},{126,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,38}}</string>
			<key>sourceSize</key>
			<string>{126,38}</string>
		</dict>
		<key>images/newfont/Lottery.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,404},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>images/newfont/Lotteryonce.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,315},{96,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,37}}</string>
			<key>sourceSize</key>
			<string>{96,37}</string>
		</dict>
		<key>images/newfont/OnceAchieve.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,117},{127,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,40}}</string>
			<key>sourceSize</key>
			<string>{127,40}</string>
		</dict>
		<key>images/newfont/Oncemanage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,159},{125,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,40}}</string>
			<key>sourceSize</key>
			<string>{125,40}</string>
		</dict>
		<key>images/newfont/SkipFight.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,74},{129,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,41}}</string>
			<key>sourceSize</key>
			<string>{129,41}</string>
		</dict>
		<key>images/newfont/SkipFightSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,45},{92,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,26}}</string>
			<key>sourceSize</key>
			<string>{92,26}</string>
		</dict>
		<key>images/newfont/Stamina.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{69,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,31}}</string>
			<key>sourceSize</key>
			<string>{69,31}</string>
		</dict>
		<key>images/newfont/SystemVoice.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,194},{125,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,37}}</string>
			<key>sourceSize</key>
			<string>{125,37}</string>
		</dict>
		<key>images/newfont/TenLottery.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,404},{95,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,37}}</string>
			<key>sourceSize</key>
			<string>{95,37}</string>
		</dict>
		<key>images/newfont/ToLotteryOnce.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,117},{126,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,37}}</string>
			<key>sourceSize</key>
			<string>{126,37}</string>
		</dict>
		<key>images/newfont/ToLotteryTen.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,156},{126,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,37}}</string>
			<key>sourceSize</key>
			<string>{126,37}</string>
		</dict>
		<key>images/newfont/UnChip.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,108},{112,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,37}}</string>
			<key>sourceSize</key>
			<string>{112,37}</string>
		</dict>
		<key>images/newfont/WeaponEng.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,217},{109,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,33}}</string>
			<key>sourceSize</key>
			<string>{109,33}</string>
		</dict>
		<key>images/newfont/addProgress.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,232},{98,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,24}}</string>
			<key>sourceSize</key>
			<string>{98,24}</string>
		</dict>
		<key>images/newfont/addSoul.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,332},{69,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,33}}</string>
			<key>sourceSize</key>
			<string>{69,33}</string>
		</dict>
		<key>images/newfont/agree.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,354},{75,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,38}}</string>
			<key>sourceSize</key>
			<string>{75,38}</string>
		</dict>
		<key>images/newfont/autoSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,195},{123,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,35}}</string>
			<key>sourceSize</key>
			<string>{123,35}</string>
		</dict>
		<key>images/newfont/chargeQuickly.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,38},{131,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,36}}</string>
			<key>sourceSize</key>
			<string>{131,36}</string>
		</dict>
		<key>images/newfont/checkRank.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,147},{121,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,33}}</string>
			<key>sourceSize</key>
			<string>{121,33}</string>
		</dict>
		<key>images/newfont/close2.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,354},{72,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,37}}</string>
			<key>sourceSize</key>
			<string>{72,37}</string>
		</dict>
		<key>images/newfont/dailyDraw.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,2},{132,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,34}}</string>
			<key>sourceSize</key>
			<string>{132,34}</string>
		</dict>
		<key>images/newfont/delete.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,308},{94,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,29}}</string>
			<key>sourceSize</key>
			<string>{94,29}</string>
		</dict>
		<key>images/newfont/fntBeingSoaring.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,182},{121,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,33}}</string>
			<key>sourceSize</key>
			<string>{121,33}</string>
		</dict>
		<key>images/newfont/fntDiamondShop.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,283},{98,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,30}}</string>
			<key>sourceSize</key>
			<string>{98,30}</string>
		</dict>
		<key>images/newfont/fntGo2Charge.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,232},{103,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,39}}</string>
			<key>sourceSize</key>
			<string>{103,39}</string>
		</dict>
		<key>images/newfont/fntHeroSoaring.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{143,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,36}}</string>
			<key>sourceSize</key>
			<string>{143,36}</string>
		</dict>
		<key>images/newfont/leftTimes.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,233},{113,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,25}}</string>
			<key>sourceSize</key>
			<string>{113,25}</string>
		</dict>
		<key>images/newfont/needTaichu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,79},{129,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,30}}</string>
			<key>sourceSize</key>
			<string>{129,30}</string>
		</dict>
		<key>images/newfont/rankSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,252},{54,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,24}}</string>
			<key>sourceSize</key>
			<string>{54,24}</string>
		</dict>
		<key>images/newfont/refresh.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,2},{91,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,41}}</string>
			<key>sourceSize</key>
			<string>{91,41}</string>
		</dict>
		<key>images/newfont/reset.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,274},{77,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,33}}</string>
			<key>sourceSize</key>
			<string>{77,33}</string>
		</dict>
		<key>images/newfont/smeltSuccess.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,2},{136,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,39}}</string>
			<key>sourceSize</key>
			<string>{136,39}</string>
		</dict>
		<key>images/newfont/soulStone.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,73},{91,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,33}}</string>
			<key>sourceSize</key>
			<string>{91,33}</string>
		</dict>
		<key>images/newfont/split.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,332},{67,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,35}}</string>
			<key>sourceSize</key>
			<string>{67,35}</string>
		</dict>
		<key>images/newfont/splitDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,260},{67,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,35}}</string>
			<key>sourceSize</key>
			<string>{67,35}</string>
		</dict>
		<key>images/newfont/titleReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,40},{133,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,37}}</string>
			<key>sourceSize</key>
			<string>{133,37}</string>
		</dict>
		<key>images/newfont/wishYouGet.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,43},{131,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,29}}</string>
			<key>sourceSize</key>
			<string>{131,29}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>newfont1.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c2d520c480c5221eaec1e470f841436d:2/2$</string>
		<key>textureFileName</key>
		<string>newfont1.pvr.ccz</string>
	</dict>
</dict>
</plist>
