<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/nuqi/vsdf00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{225,259}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,26},{225,259}}</string>
			<key>sourceSize</key>
			<string>{227,295}</string>
		</dict>
		<key>images/Effect/nuqi/vsdf01.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,777},{205,237}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,37},{205,237}}</string>
			<key>sourceSize</key>
			<string>{227,295}</string>
		</dict>
		<key>images/Effect/nuqi/vsdf02.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,767},{201,233}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,40},{201,233}}</string>
			<key>sourceSize</key>
			<string>{227,295}</string>
		</dict>
		<key>images/Effect/nuqi/vsdf03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,777},{207,239}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,36},{207,239}}</string>
			<key>sourceSize</key>
			<string>{227,295}</string>
		</dict>
		<key>images/Effect/nuqi/vsdf04.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,771},{217,247}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,32},{217,247}}</string>
			<key>sourceSize</key>
			<string>{227,295}</string>
		</dict>
		<key>images/Effect/nuqi/vsdf05.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,263},{223,253}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,29},{223,253}}</string>
			<key>sourceSize</key>
			<string>{227,295}</string>
		</dict>
		<key>images/Effect/nuqi/vsdf06.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,263},{223,255}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{223,255}}</string>
			<key>sourceSize</key>
			<string>{227,295}</string>
		</dict>
		<key>images/Effect/nuqi/vsdf07.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,518},{219,251}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,30},{219,251}}</string>
			<key>sourceSize</key>
			<string>{227,295}</string>
		</dict>
		<key>images/Effect/nuqi/vsdf08.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,518},{215,247}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,33},{215,247}}</string>
			<key>sourceSize</key>
			<string>{227,295}</string>
		</dict>
		<key>images/Effect/nuqi/vsdf09.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,520},{223,255}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,28},{223,255}}</string>
			<key>sourceSize</key>
			<string>{227,295}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>nuqi0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4fbe6567180f1eb5bd3541dc73097e6d:1/1$</string>
		<key>textureFileName</key>
		<string>nuqi0.png</string>
	</dict>
</dict>
</plist>
