<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Other/tokenCoin.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/Other/type_fa.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,206},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>images/Other/type_ji.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,206},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>images/Other/universalDice.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/Other/weekVip.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/Other/xianyu.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Other0.pvr.ccz</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dc71f11fd22477396230b51d3c80325f:1/14$</string>
		<key>textureFileName</key>
		<string>Other0.pvr.ccz</string>
	</dict>
</dict>
</plist>
