<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/public/KO.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,2},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/public/btnAgreeDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,963},{100,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,59}}</string>
			<key>sourceSize</key>
			<string>{100,59}</string>
		</dict>
		<key>images/public/btnAgreeNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,591},{100,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,59}}</string>
			<key>sourceSize</key>
			<string>{100,59}</string>
		</dict>
		<key>images/public/btnAgreeSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,652},{100,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,59}}</string>
			<key>sourceSize</key>
			<string>{100,59}</string>
		</dict>
		<key>images/public/btnCanGetNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,591},{121,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,59}}</string>
			<key>sourceSize</key>
			<string>{121,59}</string>
		</dict>
		<key>images/public/btnCanGetSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,591},{121,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,59}}</string>
			<key>sourceSize</key>
			<string>{121,59}</string>
		</dict>
		<key>images/public/btnCommonDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{714,591},{107,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,52}}</string>
			<key>sourceSize</key>
			<string>{107,52}</string>
		</dict>
		<key>images/public/btnCommonNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{714,645},{107,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,52}}</string>
			<key>sourceSize</key>
			<string>{107,52}</string>
		</dict>
		<key>images/public/btnGreenDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,964},{94,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,56}}</string>
			<key>sourceSize</key>
			<string>{94,56}</string>
		</dict>
		<key>images/public/btnGreenNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,713},{94,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,56}}</string>
			<key>sourceSize</key>
			<string>{94,56}</string>
		</dict>
		<key>images/public/btnGreenSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,771},{94,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,56}}</string>
			<key>sourceSize</key>
			<string>{94,56}</string>
		</dict>
		<key>images/public/btnRejectDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{787,828},{100,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,59}}</string>
			<key>sourceSize</key>
			<string>{100,59}</string>
		</dict>
		<key>images/public/btnRejectNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,713},{100,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,59}}</string>
			<key>sourceSize</key>
			<string>{100,59}</string>
		</dict>
		<key>images/public/btnSeekDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,748},{78,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,61}}</string>
			<key>sourceSize</key>
			<string>{78,61}</string>
		</dict>
		<key>images/public/btnSeekNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,748},{78,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,61}}</string>
			<key>sourceSize</key>
			<string>{78,61}</string>
		</dict>
		<key>images/public/btn_short_dis.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,576},{588,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{588,138}}</string>
			<key>sourceSize</key>
			<string>{588,138}</string>
		</dict>
		<key>images/public/card_bkg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,716},{124,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,125}}</string>
			<key>sourceSize</key>
			<string>{124,125}</string>
		</dict>
		<key>images/public/card_hero_info_exp.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,968},{518,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{518,52}}</string>
			<key>sourceSize</key>
			<string>{518,52}</string>
		</dict>
		<key>images/public/dropbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,131},{561,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{561,82}}</string>
			<key>sourceSize</key>
			<string>{561,82}</string>
		</dict>
		<key>images/public/eliteBattleNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,843},{579,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{579,123}}</string>
			<key>sourceSize</key>
			<string>{579,123}</string>
		</dict>
		<key>images/public/eliteBattleSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,716},{579,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{579,123}}</string>
			<key>sourceSize</key>
			<string>{579,123}</string>
		</dict>
		<key>images/public/embattle_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{598,572}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{598,572}}</string>
			<key>sourceSize</key>
			<string>{598,572}</string>
		</dict>
		<key>images/public/newNum.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,930},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/public/recv_point_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,841},{121,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,59}}</string>
			<key>sourceSize</key>
			<string>{121,59}</string>
		</dict>
		<key>images/public/recv_point_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,841},{121,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,59}}</string>
			<key>sourceSize</key>
			<string>{121,59}</string>
		</dict>
		<key>images/public/red_com_dis.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{587,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{587,162}}</string>
			<key>sourceSize</key>
			<string>{587,162}</string>
		</dict>
		<key>images/public/red_com_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{766,2},{587,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{587,162}}</string>
			<key>sourceSize</key>
			<string>{587,162}</string>
		</dict>
		<key>images/public/selcet1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,968},{54,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,52}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>images/public/selcet2.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,968},{54,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,52}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>images/public/text_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{714,699},{101,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,47}}</string>
			<key>sourceSize</key>
			<string>{101,47}</string>
		</dict>
		<key>images/public/tip.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,829},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/public/transparent80.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,841},{80,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,120}}</string>
			<key>sourceSize</key>
			<string>{80,120}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>public5.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:947afe06836b8c74e39939230577fd62:6/8$</string>
		<key>textureFileName</key>
		<string>public5.pvr.ccz</string>
	</dict>
</dict>
</plist>
