<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/public/BigCardBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,819},{148,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,191}}</string>
			<key>sourceSize</key>
			<string>{148,191}</string>
		</dict>
		<key>images/public/MiddleCardBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,642},{100,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,99}}</string>
			<key>sourceSize</key>
			<string>{100,99}</string>
		</dict>
		<key>images/public/VIP.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,673},{55,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,26}}</string>
			<key>sourceSize</key>
			<string>{55,26}</string>
		</dict>
		<key>images/public/activity_group_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,819},{588,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{588,172}}</string>
			<key>sourceSize</key>
			<string>{588,172}</string>
		</dict>
		<key>images/public/captainStar.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,681},{53,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,54}}</string>
			<key>sourceSize</key>
			<string>{53,54}</string>
		</dict>
		<key>images/public/card_hero_info_samll_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,819},{174,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,105}}</string>
			<key>sourceSize</key>
			<string>{174,105}</string>
		</dict>
		<key>images/public/comment_gift.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,540},{99,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,100}}</string>
			<key>sourceSize</key>
			<string>{99,100}</string>
		</dict>
		<key>images/public/complete.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,2},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/public/compose_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,222},{120,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,28}}</string>
			<key>sourceSize</key>
			<string>{120,28}</string>
		</dict>
		<key>images/public/cover_h.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,130},{640,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,90}}</string>
			<key>sourceSize</key>
			<string>{640,90}</string>
		</dict>
		<key>images/public/evolution_arrrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,681},{135,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,144}}</string>
			<key>sourceSize</key>
			<string>{135,144}</string>
		</dict>
		<key>images/public/font_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,2},{285,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,38}}</string>
			<key>sourceSize</key>
			<string>{285,38}</string>
		</dict>
		<key>images/public/friendInviteInput.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,344},{132,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,27}}</string>
			<key>sourceSize</key>
			<string>{132,27}</string>
		</dict>
		<key>images/public/heroCard1.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,42},{637,271}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{637,271}}</string>
			<key>sourceSize</key>
			<string>{637,271}</string>
		</dict>
		<key>images/public/hero_confirm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{646,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{646,126}}</string>
			<key>sourceSize</key>
			<string>{646,126}</string>
		</dict>
		<key>images/public/materialEvo.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,478},{96,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,27}}</string>
			<key>sourceSize</key>
			<string>{96,27}</string>
		</dict>
		<key>images/public/moneyEvo.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,576},{95,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,27}}</string>
			<key>sourceSize</key>
			<string>{95,27}</string>
		</dict>
		<key>images/public/page_left_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,744},{45,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,98}}</string>
			<key>sourceSize</key>
			<string>{45,98}</string>
		</dict>
		<key>images/public/page_left_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,791},{45,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,98}}</string>
			<key>sourceSize</key>
			<string>{45,98}</string>
		</dict>
		<key>images/public/page_left_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,838},{45,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,98}}</string>
			<key>sourceSize</key>
			<string>{45,98}</string>
		</dict>
		<key>images/public/page_right_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,885},{45,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,98}}</string>
			<key>sourceSize</key>
			<string>{45,98}</string>
		</dict>
		<key>images/public/page_right_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,977},{45,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,98}}</string>
			<key>sourceSize</key>
			<string>{45,98}</string>
		</dict>
		<key>images/public/progress1.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,995},{405,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{405,19}}</string>
			<key>sourceSize</key>
			<string>{405,19}</string>
		</dict>
		<key>images/public/promptTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,131},{407,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{407,99}}</string>
			<key>sourceSize</key>
			<string>{407,99}</string>
		</dict>
		<key>images/public/selcet3.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,736},{54,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,52}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>images/public/treasure.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,222},{615,595}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{615,595}}</string>
			<key>sourceSize</key>
			<string>{615,595}</string>
		</dict>
		<key>images/public/twitterNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,681},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>images/public/twitterSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,755},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>images/public/vsinsDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,829},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>images/public/vsinsNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,903},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>images/public/vsinsSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,932},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>public3.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:947afe06836b8c74e39939230577fd62:4/8$</string>
		<key>textureFileName</key>
		<string>public3.pvr.ccz</string>
	</dict>
</dict>
</plist>
