<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/public/LV.png</key>
		<dict>
			<key>frame</key>
			<string>{{999,619},{35,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,23}}</string>
			<key>sourceSize</key>
			<string>{35,23}</string>
		</dict>
		<key>images/public/add.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,963},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>images/public/arrowUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,688},{147,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,117}}</string>
			<key>sourceSize</key>
			<string>{147,117}</string>
		</dict>
		<key>images/public/btnRaceNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,964},{185,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,56}}</string>
			<key>sourceSize</key>
			<string>{185,56}</string>
		</dict>
		<key>images/public/btnRaceSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,964},{185,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,56}}</string>
			<key>sourceSize</key>
			<string>{185,56}</string>
		</dict>
		<key>images/public/btnRedSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,816},{94,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,56}}</string>
			<key>sourceSize</key>
			<string>{94,56}</string>
		</dict>
		<key>images/public/confirm_tips_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{615,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{615,361}}</string>
			<key>sourceSize</key>
			<string>{615,361}</string>
		</dict>
		<key>images/public/emailbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,960}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,960}}</string>
			<key>sourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>images/public/embattle_leader.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,925},{36,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,41}}</string>
			<key>sourceSize</key>
			<string>{36,41}</string>
		</dict>
		<key>images/public/exp_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1007,2},{248,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,12}}</string>
			<key>sourceSize</key>
			<string>{248,12}</string>
		</dict>
		<key>images/public/exp_mid.png</key>
		<dict>
			<key>frame</key>
			<string>{{1007,252},{248,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,12}}</string>
			<key>sourceSize</key>
			<string>{248,12}</string>
		</dict>
		<key>images/public/fight_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,832},{150,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,130}}</string>
			<key>sourceSize</key>
			<string>{150,130}</string>
		</dict>
		<key>images/public/get_phy_click.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,688},{90,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,98}}</string>
			<key>sourceSize</key>
			<string>{90,98}</string>
		</dict>
		<key>images/public/get_phy_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,780},{90,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,98}}</string>
			<key>sourceSize</key>
			<string>{90,98}</string>
		</dict>
		<key>images/public/gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,729},{51,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,41}}</string>
			<key>sourceSize</key>
			<string>{51,41}</string>
		</dict>
		<key>images/public/heroName.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,688},{126,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,56}}</string>
			<key>sourceSize</key>
			<string>{126,56}</string>
		</dict>
		<key>images/public/hero_add.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,925},{37,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,36}}</string>
			<key>sourceSize</key>
			<string>{37,36}</string>
		</dict>
		<key>images/public/hero_bigstar.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,964},{60,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,57}}</string>
			<key>sourceSize</key>
			<string>{60,57}</string>
		</dict>
		<key>images/public/hero_heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{991,925},{35,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>sourceSize</key>
			<string>{35,31}</string>
		</dict>
		<key>images/public/hero_sword.png</key>
		<dict>
			<key>frame</key>
			<string>{{991,962},{31,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,32}}</string>
			<key>sourceSize</key>
			<string>{31,32}</string>
		</dict>
		<key>images/public/imgSlider.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,807},{18,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,44}}</string>
			<key>sourceSize</key>
			<string>{18,44}</string>
		</dict>
		<key>images/public/inviteItem.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,619},{353,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{353,67}}</string>
			<key>sourceSize</key>
			<string>{353,67}</string>
		</dict>
		<key>images/public/jade.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,782},{39,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,41}}</string>
			<key>sourceSize</key>
			<string>{39,41}</string>
		</dict>
		<key>images/public/longBtnDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,964},{170,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,56}}</string>
			<key>sourceSize</key>
			<string>{170,56}</string>
		</dict>
		<key>images/public/longBtnGreenNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,964},{170,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,56}}</string>
			<key>sourceSize</key>
			<string>{170,56}</string>
		</dict>
		<key>images/public/longBtnSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,964},{170,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,56}}</string>
			<key>sourceSize</key>
			<string>{170,56}</string>
		</dict>
		<key>images/public/net_wait.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,912},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>images/public/notVip.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,996},{55,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,26}}</string>
			<key>sourceSize</key>
			<string>{55,26}</string>
		</dict>
		<key>images/public/page_bkg.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,925},{60,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,37}}</string>
			<key>sourceSize</key>
			<string>{60,37}</string>
		</dict>
		<key>images/public/page_right_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,872},{45,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,98}}</string>
			<key>sourceSize</key>
			<string>{45,98}</string>
		</dict>
		<key>images/public/stra_Info.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,688},{42,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,39}}</string>
			<key>sourceSize</key>
			<string>{42,39}</string>
		</dict>
		<key>images/public/upgrade_prg_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{999,656},{174,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,20}}</string>
			<key>sourceSize</key>
			<string>{174,20}</string>
		</dict>
		<key>images/public/vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,832},{91,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,67}}</string>
			<key>sourceSize</key>
			<string>{91,67}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>public1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:947afe06836b8c74e39939230577fd62:2/8$</string>
		<key>textureFileName</key>
		<string>public1.png</string>
	</dict>
</dict>
</plist>
