<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/public/achiment.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/public/activity_cost_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,637},{187,292}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,292}}</string>
			<key>sourceSize</key>
			<string>{187,292}</string>
		</dict>
		<key>images/public/bg_lottery.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,2},{514,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{514,277}}</string>
			<key>sourceSize</key>
			<string>{514,277}</string>
		</dict>
		<key>images/public/btnCommonSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,957},{107,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,52}}</string>
			<key>sourceSize</key>
			<string>{107,52}</string>
		</dict>
		<key>images/public/btnSeekSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,838},{78,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,61}}</string>
			<key>sourceSize</key>
			<string>{78,61}</string>
		</dict>
		<key>images/public/btn_long_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,957},{170,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,65}}</string>
			<key>sourceSize</key>
			<string>{170,65}</string>
		</dict>
		<key>images/public/btn_long_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,666},{170,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,65}}</string>
			<key>sourceSize</key>
			<string>{170,65}</string>
		</dict>
		<key>images/public/commonNoTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,654},{615,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{615,361}}</string>
			<key>sourceSize</key>
			<string>{615,361}</string>
		</dict>
		<key>images/public/dikuang_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{622,650}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{622,650}}</string>
			<key>sourceSize</key>
			<string>{622,650}</string>
		</dict>
		<key>images/public/embattle_friend.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,918},{36,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,41}}</string>
			<key>sourceSize</key>
			<string>{36,41}</string>
		</dict>
		<key>images/public/fish25.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,918},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>images/public/hero.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/public/herobg.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,206},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/public/leaderAddtion.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,441},{510,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{510,30}}</string>
			<key>sourceSize</key>
			<string>{510,30}</string>
		</dict>
		<key>images/public/max.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,637},{66,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,27}}</string>
			<key>sourceSize</key>
			<string>{66,27}</string>
		</dict>
		<key>images/public/no_swallow_card.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,518},{254,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,36}}</string>
			<key>sourceSize</key>
			<string>{254,36}</string>
		</dict>
		<key>images/public/progress2.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,550},{405,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{405,19}}</string>
			<key>sourceSize</key>
			<string>{405,19}</string>
		</dict>
		<key>images/public/progress_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,654},{306,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,19}}</string>
			<key>sourceSize</key>
			<string>{306,19}</string>
		</dict>
		<key>images/public/progress_blood_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,654},{306,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,19}}</string>
			<key>sourceSize</key>
			<string>{306,19}</string>
		</dict>
		<key>images/public/progress_blood_bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,654},{306,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,19}}</string>
			<key>sourceSize</key>
			<string>{306,19}</string>
		</dict>
		<key>images/public/progress_ft2.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,654},{306,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,19}}</string>
			<key>sourceSize</key>
			<string>{306,19}</string>
		</dict>
		<key>images/public/recv_point_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,962},{121,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,59}}</string>
			<key>sourceSize</key>
			<string>{121,59}</string>
		</dict>
		<key>images/public/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,410},{29,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,32}}</string>
			<key>sourceSize</key>
			<string>{29,32}</string>
		</dict>
		<key>images/public/strageItem1.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,410},{242,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,79}}</string>
			<key>sourceSize</key>
			<string>{242,79}</string>
		</dict>
		<key>images/public/strageItem2.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,556},{242,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,79}}</string>
			<key>sourceSize</key>
			<string>{242,79}</string>
		</dict>
		<key>images/public/systemEmail.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,308},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/public/upgrade_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,518},{30,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,24}}</string>
			<key>sourceSize</key>
			<string>{30,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>public2.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:947afe06836b8c74e39939230577fd62:3/8$</string>
		<key>textureFileName</key>
		<string>public2.pvr.ccz</string>
	</dict>
</dict>
</plist>
