<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Richer/AdvDiceTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,1199},{489,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,96}}</string>
			<key>sourceSize</key>
			<string>{489,96}</string>
		</dict>
		<key>images/Richer/advDice.png</key>
		<dict>
			<key>frame</key>
			<string>{{1072,1632},{72,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,77}}</string>
			<key>sourceSize</key>
			<string>{72,77}</string>
		</dict>
		<key>images/Richer/advDice1.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,1307},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/advDice2.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,1199},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/advDice3.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,1791},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/advDice4.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,1888},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/advDice5.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,1671},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/advDice6.png</key>
		<dict>
			<key>frame</key>
			<string>{{837,1560},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/arrowGreen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1976,626},{40,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,28}}</string>
			<key>sourceSize</key>
			<string>{40,28}</string>
		</dict>
		<key>images/Richer/arrowRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1690},{58,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,61}}</string>
			<key>sourceSize</key>
			<string>{58,61}</string>
		</dict>
		<key>images/Richer/back1.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,1404},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>images/Richer/back2.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,1404},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>images/Richer/back3.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,1144},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>images/Richer/back4.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,1985},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>images/Richer/back5.png</key>
		<dict>
			<key>frame</key>
			<string>{{813,1985},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>images/Richer/back6.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,1985},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>images/Richer/blueBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,1754},{93,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,79}}</string>
			<key>sourceSize</key>
			<string>{93,79}</string>
		</dict>
		<key>images/Richer/blueBoxEmpty.png</key>
		<dict>
			<key>frame</key>
			<string>{{991,1657},{93,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,79}}</string>
			<key>sourceSize</key>
			<string>{93,79}</string>
		</dict>
		<key>images/Richer/blueBoxOpen.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,1849},{93,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,79}}</string>
			<key>sourceSize</key>
			<string>{93,79}</string>
		</dict>
		<key>images/Richer/boxBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1848,626},{516,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{516,126}}</string>
			<key>sourceSize</key>
			<string>{516,126}</string>
		</dict>
		<key>images/Richer/btnAdvDiceNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,1326},{106,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,123}}</string>
			<key>sourceSize</key>
			<string>{106,123}</string>
		</dict>
		<key>images/Richer/btnAdvDiceSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,1199},{106,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,123}}</string>
			<key>sourceSize</key>
			<string>{106,123}</string>
		</dict>
		<key>images/Richer/btnDiceNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1881,2},{140,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,158}}</string>
			<key>sourceSize</key>
			<string>{140,158}</string>
		</dict>
		<key>images/Richer/btnDiceSelected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1881,144},{140,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,158}}</string>
			<key>sourceSize</key>
			<string>{140,158}</string>
		</dict>
		<key>images/Richer/buffBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,1199},{488,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{488,300}}</string>
			<key>sourceSize</key>
			<string>{488,300}</string>
		</dict>
		<key>images/Richer/buffIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1976,839},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/crossing.png</key>
		<dict>
			<key>frame</key>
			<string>{{1976,911},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/currLattice.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,1199},{125,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,76}}</string>
			<key>sourceSize</key>
			<string>{125,76}</string>
		</dict>
		<key>images/Richer/dice.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,1768},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/dice1.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,1657},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/dice2.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,1560},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/dice3.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,1440},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/dice4.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,1296},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/dice5.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,1199},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/dice6.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,1865},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Richer/diceBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1752},{268,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,212}}</string>
			<key>sourceSize</key>
			<string>{268,212}</string>
		</dict>
		<key>images/Richer/doubleReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{1976,983},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/fast.png</key>
		<dict>
			<key>frame</key>
			<string>{{1976,1055},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/fntAcceptNow.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,1199},{106,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,32}}</string>
			<key>sourceSize</key>
			<string>{106,32}</string>
		</dict>
		<key>images/Richer/fntAcceptTask.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,1451},{118,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,34}}</string>
			<key>sourceSize</key>
			<string>{118,34}</string>
		</dict>
		<key>images/Richer/fntAdvDice.png</key>
		<dict>
			<key>frame</key>
			<string>{{1976,777},{59,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,25}}</string>
			<key>sourceSize</key>
			<string>{59,25}</string>
		</dict>
		<key>images/Richer/fntBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1752},{76,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,25}}</string>
			<key>sourceSize</key>
			<string>{76,25}</string>
		</dict>
		<key>images/Richer/fntBoxTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,1629},{205,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,42}}</string>
			<key>sourceSize</key>
			<string>{205,42}</string>
		</dict>
		<key>images/Richer/fntBtnBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,1443},{117,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,35}}</string>
			<key>sourceSize</key>
			<string>{117,35}</string>
		</dict>
		<key>images/Richer/fntBtnIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,1673},{116,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,34}}</string>
			<key>sourceSize</key>
			<string>{116,34}</string>
		</dict>
		<key>images/Richer/fntBtnShop.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,1443},{117,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,34}}</string>
			<key>sourceSize</key>
			<string>{117,34}</string>
		</dict>
		<key>images/Richer/fntBtnTask.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,1451},{118,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,35}}</string>
			<key>sourceSize</key>
			<string>{118,35}</string>
		</dict>
		<key>images/Richer/fntBuff.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,2007},{121,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,37}}</string>
			<key>sourceSize</key>
			<string>{121,37}</string>
		</dict>
		<key>images/Richer/fntComplete.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,1571},{117,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,36}}</string>
			<key>sourceSize</key>
			<string>{117,36}</string>
		</dict>
		<key>images/Richer/fntDice.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2022},{59,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,24}}</string>
			<key>sourceSize</key>
			<string>{59,24}</string>
		</dict>
		<key>images/Richer/fntDrawReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,1324},{117,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,36}}</string>
			<key>sourceSize</key>
			<string>{117,36}</string>
		</dict>
		<key>images/Richer/fntDrawRewardDis.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,1324},{113,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,31}}</string>
			<key>sourceSize</key>
			<string>{113,31}</string>
		</dict>
		<key>images/Richer/fntExchangeRule.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,1673},{368,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,34}}</string>
			<key>sourceSize</key>
			<string>{368,34}</string>
		</dict>
		<key>images/Richer/fntForkA.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,1609},{72,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,32}}</string>
			<key>sourceSize</key>
			<string>{72,32}</string>
		</dict>
		<key>images/Richer/fntForkB.png</key>
		<dict>
			<key>frame</key>
			<string>{{1025,1393},{70,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,32}}</string>
			<key>sourceSize</key>
			<string>{70,32}</string>
		</dict>
		<key>images/Richer/fntForkChoose.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,690},{385,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{385,33}}</string>
			<key>sourceSize</key>
			<string>{385,33}</string>
		</dict>
		<key>images/Richer/fntForkTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,1199},{417,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{417,32}}</string>
			<key>sourceSize</key>
			<string>{417,32}</string>
		</dict>
		<key>images/Richer/fntGoToTask.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,1324},{117,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,35}}</string>
			<key>sourceSize</key>
			<string>{117,35}</string>
		</dict>
		<key>images/Richer/fntGoldBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1830},{76,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,25}}</string>
			<key>sourceSize</key>
			<string>{76,25}</string>
		</dict>
		<key>images/Richer/fntLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,1689},{61,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,30}}</string>
			<key>sourceSize</key>
			<string>{61,30}</string>
		</dict>
		<key>images/Richer/fntProgress.png</key>
		<dict>
			<key>frame</key>
			<string>{{1059,1144},{68,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,31}}</string>
			<key>sourceSize</key>
			<string>{68,31}</string>
		</dict>
		<key>images/Richer/fntRicherTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1881,370},{130,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,36}}</string>
			<key>sourceSize</key>
			<string>{130,36}</string>
		</dict>
		<key>images/Richer/fntShop.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1908},{76,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,25}}</string>
			<key>sourceSize</key>
			<string>{76,25}</string>
		</dict>
		<key>images/Richer/fntShopTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,1562},{109,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,33}}</string>
			<key>sourceSize</key>
			<string>{109,33}</string>
		</dict>
		<key>images/Richer/fntSkip.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,1451},{118,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,34}}</string>
			<key>sourceSize</key>
			<string>{118,34}</string>
		</dict>
		<key>images/Richer/fntStrategy.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,695},{437,391}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{437,391}}</string>
			<key>sourceSize</key>
			<string>{437,391}</string>
		</dict>
		<key>images/Richer/fntSubstituteCard.png</key>
		<dict>
			<key>frame</key>
			<string>{{1097,1391},{83,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,31}}</string>
			<key>sourceSize</key>
			<string>{83,31}</string>
		</dict>
		<key>images/Richer/fntSubstituteTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,1199},{419,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{419,32}}</string>
			<key>sourceSize</key>
			<string>{419,32}</string>
		</dict>
		<key>images/Richer/fntTask.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,2021},{76,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,25}}</string>
			<key>sourceSize</key>
			<string>{76,25}</string>
		</dict>
		<key>images/Richer/fntTaskTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1881,329},{136,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,39}}</string>
			<key>sourceSize</key>
			<string>{136,39}</string>
		</dict>
		<key>images/Richer/fntTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{1976,656},{75,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,38}}</string>
			<key>sourceSize</key>
			<string>{75,38}</string>
		</dict>
		<key>images/Richer/fntUseSubstitute.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,1562},{107,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,32}}</string>
			<key>sourceSize</key>
			<string>{107,32}</string>
		</dict>
		<key>images/Richer/fntWantDice.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,1673},{332,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{332,29}}</string>
			<key>sourceSize</key>
			<string>{332,29}</string>
		</dict>
		<key>images/Richer/forward1.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,1404},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>images/Richer/forward2.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,1393},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>images/Richer/forward3.png</key>
		<dict>
			<key>frame</key>
			<string>{{993,1393},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>images/Richer/forward4.png</key>
		<dict>
			<key>frame</key>
			<string>{{963,1144},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>images/Richer/forward5.png</key>
		<dict>
			<key>frame</key>
			<string>{{995,1144},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>images/Richer/forward6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1027,1144},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>images/Richer/goldBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{963,1944},{93,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,79}}</string>
			<key>sourceSize</key>
			<string>{93,79}</string>
		</dict>
		<key>images/Richer/goldBoxEmpty.png</key>
		<dict>
			<key>frame</key>
			<string>{{1017,1537},{93,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,79}}</string>
			<key>sourceSize</key>
			<string>{93,79}</string>
		</dict>
		<key>images/Richer/goldBoxOpen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,1429},{93,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,79}}</string>
			<key>sourceSize</key>
			<string>{93,79}</string>
		</dict>
		<key>images/Richer/gonggaotiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,1199},{535,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{535,56}}</string>
			<key>sourceSize</key>
			<string>{535,56}</string>
		</dict>
		<key>images/Richer/gossip.png</key>
		<dict>
			<key>frame</key>
			<string>{{1976,1127},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/greenBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{1045,1296},{93,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,79}}</string>
			<key>sourceSize</key>
			<string>{93,79}</string>
		</dict>
		<key>images/Richer/greenBoxEmpty.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049,1199},{93,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,79}}</string>
			<key>sourceSize</key>
			<string>{93,79}</string>
		</dict>
		<key>images/Richer/greenBoxOpen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1126,1294},{93,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,79}}</string>
			<key>sourceSize</key>
			<string>{93,79}</string>
		</dict>
		<key>images/Richer/heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{1099,1424},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/hover.png</key>
		<dict>
			<key>frame</key>
			<string>{{1117,1711},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/jinbi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1976,733},{42,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,35}}</string>
			<key>sourceSize</key>
			<string>{42,35}</string>
		</dict>
		<key>images/Richer/lattice.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,1134},{104,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,63}}</string>
			<key>sourceSize</key>
			<string>{104,63}</string>
		</dict>
		<key>images/Richer/leftBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,1144},{107,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,37}}</string>
			<key>sourceSize</key>
			<string>{107,37}</string>
		</dict>
		<key>images/Richer/leftDice.png</key>
		<dict>
			<key>frame</key>
			<string>{{1881,286},{136,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,41}}</string>
			<key>sourceSize</key>
			<string>{136,41}</string>
		</dict>
		<key>images/Richer/lose.png</key>
		<dict>
			<key>frame</key>
			<string>{{1146,1598},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/lucky.png</key>
		<dict>
			<key>frame</key>
			<string>{{1168,1496},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/myGold.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1144},{282,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,53}}</string>
			<key>sourceSize</key>
			<string>{282,53}</string>
		</dict>
		<key>images/Richer/normalSelected.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,1962},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,84}}</string>
			<key>sourceSize</key>
			<string>{84,84}</string>
		</dict>
		<key>images/Richer/proBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2019,286},{551,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{551,25}}</string>
			<key>sourceSize</key>
			<string>{551,25}</string>
		</dict>
		<key>images/Richer/proGreen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1199},{551,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{551,25}}</string>
			<key>sourceSize</key>
			<string>{551,25}</string>
		</dict>
		<key>images/Richer/progressBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1284,514},{577,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,63}}</string>
			<key>sourceSize</key>
			<string>{577,63}</string>
		</dict>
		<key>images/Richer/purpleBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{1130,1199},{93,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,79}}</string>
			<key>sourceSize</key>
			<string>{93,79}</string>
		</dict>
		<key>images/Richer/purpleBoxEmpty.png</key>
		<dict>
			<key>frame</key>
			<string>{{1036,1752},{93,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,79}}</string>
			<key>sourceSize</key>
			<string>{93,79}</string>
		</dict>
		<key>images/Richer/purpleBoxOpen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1036,1847},{93,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,79}}</string>
			<key>sourceSize</key>
			<string>{93,79}</string>
		</dict>
		<key>images/Richer/random.png</key>
		<dict>
			<key>frame</key>
			<string>{{1171,1424},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/redoubleDice.png</key>
		<dict>
			<key>frame</key>
			<string>{{1207,1294},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/richerBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1284,2},{510,595}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{510,595}}</string>
			<key>sourceSize</key>
			<string>{510,595}</string>
		</dict>
		<key>images/Richer/scaleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,1199},{428,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,92}}</string>
			<key>sourceSize</key>
			<string>{428,92}</string>
		</dict>
		<key>images/Richer/shopBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,1689},{375,354}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{375,354}}</string>
			<key>sourceSize</key>
			<string>{375,354}</string>
		</dict>
		<key>images/Richer/shopIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,1690},{59,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,61}}</string>
			<key>sourceSize</key>
			<string>{59,61}</string>
		</dict>
		<key>images/Richer/shopItemBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,1673},{319,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,84}}</string>
			<key>sourceSize</key>
			<string>{319,84}</string>
		</dict>
		<key>images/Richer/slow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1211,1199},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/startSelected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1881,408},{129,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,107}}</string>
			<key>sourceSize</key>
			<string>{129,107}</string>
		</dict>
		<key>images/Richer/strategyBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,690},{474,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{474,448}}</string>
			<key>sourceSize</key>
			<string>{474,448}</string>
		</dict>
		<key>images/Richer/taskIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1098,1524},{68,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,72}}</string>
			<key>sourceSize</key>
			<string>{68,72}</string>
		</dict>
		<key>images/Richer/taskRewardBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1284,579},{562,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{562,114}}</string>
			<key>sourceSize</key>
			<string>{562,114}</string>
		</dict>
		<key>images/Richer/taskScaleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,1443},{115,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,95}}</string>
			<key>sourceSize</key>
			<string>{115,95}</string>
		</dict>
		<key>images/Richer/taskShadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,1144},{428,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,44}}</string>
			<key>sourceSize</key>
			<string>{428,44}</string>
		</dict>
		<key>images/Richer/toxicosis.png</key>
		<dict>
			<key>frame</key>
			<string>{{1117,1783},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/transfer.png</key>
		<dict>
			<key>frame</key>
			<string>{{1117,1855},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/trapBack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1130,1927},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/trapForward.png</key>
		<dict>
			<key>frame</key>
			<string>{{1189,1670},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/valeBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1280,686}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,686}}</string>
			<key>sourceSize</key>
			<string>{1280,686}</string>
		</dict>
		<key>images/Richer/valeLattice.png</key>
		<dict>
			<key>frame</key>
			<string>{{1044,1942},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,84}}</string>
			<key>sourceSize</key>
			<string>{84,84}</string>
		</dict>
		<key>images/Richer/valeShop.png</key>
		<dict>
			<key>frame</key>
			<string>{{1218,1568},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/Richer/valeStart.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863,517},{129,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,107}}</string>
			<key>sourceSize</key>
			<string>{129,107}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Richer0.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cc8b2ffa48fd82199978889a642794c4:1/1$</string>
		<key>textureFileName</key>
		<string>Richer0.png</string>
	</dict>
</dict>
</plist>
