<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Slot/cover1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{553,554}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{553,554}}</string>
			<key>sourceSize</key>
			<string>{553,554}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Slot3.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8848d2e0ae733e8029a17abc24a5ae89:4/4$</string>
		<key>textureFileName</key>
		<string>Slot3.pvr.ccz</string>
	</dict>
</dict>
</plist>
