<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Swap/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{479,455}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{479,455}}</string>
			<key>sourceSize</key>
			<string>{479,455}</string>
		</dict>
		<key>images/Swap/heroSwap.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,459},{123,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,34}}</string>
			<key>sourceSize</key>
			<string>{123,34}</string>
		</dict>
		<key>images/Swap/selectHero.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,459},{183,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,34}}</string>
			<key>sourceSize</key>
			<string>{183,34}</string>
		</dict>
		<key>images/Swap/targetHero.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,459},{183,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,34}}</string>
			<key>sourceSize</key>
			<string>{183,34}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Swap0.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b227f90eb2ff9edb631067a662cb9880:1/2$</string>
		<key>textureFileName</key>
		<string>Swap0.pvr.ccz</string>
	</dict>
</dict>
</plist>
