<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Swap/beginSwap.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{122,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,33}}</string>
			<key>sourceSize</key>
			<string>{122,33}</string>
		</dict>
		<key>images/Swap/race.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,37},{74,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,34}}</string>
			<key>sourceSize</key>
			<string>{74,34}</string>
		</dict>
		<key>images/Swap/swap.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,37},{63,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,34}}</string>
			<key>sourceSize</key>
			<string>{63,34}</string>
		</dict>
		<key>images/Swap/swapDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,73},{63,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,34}}</string>
			<key>sourceSize</key>
			<string>{63,34}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Swap1.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b227f90eb2ff9edb631067a662cb9880:2/2$</string>
		<key>textureFileName</key>
		<string>Swap1.png</string>
	</dict>
</dict>
</plist>
