<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Talisman/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,923},{79,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,27}}</string>
			<key>sourceSize</key>
			<string>{79,27}</string>
		</dict>
		<key>images/Talisman/baoku.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,923},{84,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,35}}</string>
			<key>sourceSize</key>
			<string>{84,35}</string>
		</dict>
		<key>images/Talisman/bmplinsan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,923},{140,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,96}}</string>
			<key>sourceSize</key>
			<string>{140,96}</string>
		</dict>
		<key>images/Talisman/bmplinsan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,923},{140,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,96}}</string>
			<key>sourceSize</key>
			<string>{140,96}</string>
		</dict>
		<key>images/Talisman/bmplinxiao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,911},{130,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,111}}</string>
			<key>sourceSize</key>
			<string>{130,111}</string>
		</dict>
		<key>images/Talisman/bmpmap280.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,459},{481,270}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{481,270}}</string>
			<key>sourceSize</key>
			<string>{481,270}</string>
		</dict>
		<key>images/Talisman/bmpxiadi80.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,731},{472,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,190}}</string>
			<key>sourceSize</key>
			<string>{472,190}</string>
		</dict>
		<key>images/Talisman/bmpyaochi.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,772},{125,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,143}}</string>
			<key>sourceSize</key>
			<string>{125,143}</string>
		</dict>
		<key>images/Talisman/bmpyaochi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,772},{125,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,143}}</string>
			<key>sourceSize</key>
			<string>{125,143}</string>
		</dict>
		<key>images/Talisman/btm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,768}}</string>
			<key>sourceSize</key>
			<string>{512,768}</string>
		</dict>
		<key>images/Talisman/btmfbsps.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,919},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>images/Talisman/btnxunxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,846},{92,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,63}}</string>
			<key>sourceSize</key>
			<string>{92,63}</string>
		</dict>
		<key>images/Talisman/btnxunxianon.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,846},{92,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,63}}</string>
			<key>sourceSize</key>
			<string>{92,63}</string>
		</dict>
		<key>images/Talisman/fabaohome.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{481,455}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{481,455}}</string>
			<key>sourceSize</key>
			<string>{481,455}</string>
		</dict>
		<key>images/Talisman/fntFragCost.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,979},{216,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,35}}</string>
			<key>sourceSize</key>
			<string>{216,35}</string>
		</dict>
		<key>images/Talisman/fntGetFrag.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,923},{326,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{326,34}}</string>
			<key>sourceSize</key>
			<string>{326,34}</string>
		</dict>
		<key>images/Talisman/fntTalismanFrag.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,731},{116,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,32}}</string>
			<key>sourceSize</key>
			<string>{116,32}</string>
		</dict>
		<key>images/Talisman/leiBiIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,949},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>images/Talisman/strattr.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,949},{53,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,27}}</string>
			<key>sourceSize</key>
			<string>{53,27}</string>
		</dict>
		<key>images/Talisman/strcheck.png</key>
		<dict>
			<key>frame</key>
			<string>{{629,949},{53,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,27}}</string>
			<key>sourceSize</key>
			<string>{53,27}</string>
		</dict>
		<key>images/Talisman/strcsfb.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,772},{198,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,35}}</string>
			<key>sourceSize</key>
			<string>{198,35}</string>
		</dict>
		<key>images/Talisman/strfbdh.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,923},{91,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,25}}</string>
			<key>sourceSize</key>
			<string>{91,25}</string>
		</dict>
		<key>images/Talisman/strfbdht.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,988},{123,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,34}}</string>
			<key>sourceSize</key>
			<string>{123,34}</string>
		</dict>
		<key>images/Talisman/strfbjs.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,911},{109,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,28}}</string>
			<key>sourceSize</key>
			<string>{109,28}</string>
		</dict>
		<key>images/Talisman/strhqtj.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,917},{105,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,27}}</string>
			<key>sourceSize</key>
			<string>{105,27}</string>
		</dict>
		<key>images/Talisman/strtype.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,911},{109,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,28}}</string>
			<key>sourceSize</key>
			<string>{109,28}</string>
		</dict>
		<key>images/Talisman/strxunxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,849},{68,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,32}}</string>
			<key>sourceSize</key>
			<string>{68,32}</string>
		</dict>
		<key>images/Talisman/strxzfb.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,772},{145,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,49}}</string>
			<key>sourceSize</key>
			<string>{145,49}</string>
		</dict>
		<key>images/Talisman/strxztsfb.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,809},{198,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,35}}</string>
			<key>sourceSize</key>
			<string>{198,35}</string>
		</dict>
		<key>images/Talisman/stryjfw.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,959},{105,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,27}}</string>
			<key>sourceSize</key>
			<string>{105,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Talisman0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8646dc8dc0b2dbdd663c95225017031b:1/2$</string>
		<key>textureFileName</key>
		<string>Talisman0.png</string>
	</dict>
</dict>
</plist>
