<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/UIBOSScm/01.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,2},{139,165}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,12},{139,165}}</string>
			<key>sourceSize</key>
			<string>{139,177}</string>
		</dict>
		<key>images/Effect/UIBOSScm/02.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,143},{183,217}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,0},{183,217}}</string>
			<key>sourceSize</key>
			<string>{211,219}</string>
		</dict>
		<key>images/Effect/UIBOSScm/03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{134,326}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{134,326}}</string>
			<key>sourceSize</key>
			<string>{138,330}</string>
		</dict>
		<key>images/Effect/UIBOSScm/04.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,457},{102,131}}</string>
			<key>offset</key>
			<string>{7,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,12},{102,131}}</string>
			<key>sourceSize</key>
			<string>{124,151}</string>
		</dict>
		<key>images/Effect/UIBOSScm/05.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,457},{14,22}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,17},{14,22}}</string>
			<key>sourceSize</key>
			<string>{42,54}</string>
		</dict>
		<key>images/Effect/UIBOSScm/06.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,2},{70,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,14},{70,8}}</string>
			<key>sourceSize</key>
			<string>{102,36}</string>
		</dict>
		<key>images/Effect/UIBOSScm/07.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,74},{23,7}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,26},{23,7}}</string>
			<key>sourceSize</key>
			<string>{77,51}</string>
		</dict>
		<key>images/Effect/UIBOSScm/08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,218},{308,189}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,10},{308,189}}</string>
			<key>sourceSize</key>
			<string>{334,219}</string>
		</dict>
		<key>images/Effect/UIBOSScm/09.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,362},{194,93}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,16},{194,93}}</string>
			<key>sourceSize</key>
			<string>{226,127}</string>
		</dict>
		<key>images/Effect/UIBOSScm/BOSScmlb.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,457},{279,49}}</string>
			<key>offset</key>
			<string>{-5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,2},{279,49}}</string>
			<key>sourceSize</key>
			<string>{335,51}</string>
		</dict>
		<key>images/Effect/UIBOSScm/UIBOSScmbj.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,597},{286,125}}</string>
			<key>offset</key>
			<string>{10,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,66},{286,125}}</string>
			<key>sourceSize</key>
			<string>{356,191}</string>
		</dict>
		<key>images/Effect/UIBOSScm/UIBOSScmyz.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,409},{297,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{297,186}}</string>
			<key>sourceSize</key>
			<string>{297,186}</string>
		</dict>
		<key>images/Effect/UIBOSScm/UIBOSScmzt3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,138},{321,78}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,23},{321,78}}</string>
			<key>sourceSize</key>
			<string>{383,124}</string>
		</dict>
		<key>images/Effect/UIBOSScm/UIBOSScmzz.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,689},{124,87}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,87}}</string>
			<key>sourceSize</key>
			<string>{128,87}</string>
		</dict>
		<key>images/Effect/UIBOSScm/yj.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,561},{128,126}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{128,126}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIBOSScm0.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a6216942dd316d8bd77dc7cf300caee8:1/1$</string>
		<key>textureFileName</key>
		<string>UIBOSScm0.png</string>
	</dict>
</dict>
</plist>
