<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/UIcjsc/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,2},{55,55}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,57}</string>
		</dict>
		<key>images/Effect/UIcjsc/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,59},{55,55}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/Effect/UIcjsc/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,2},{55,55}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,57}</string>
		</dict>
		<key>images/Effect/UIcjsc/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,59},{55,55}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/Effect/UIcjsc/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,116},{54,55}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{54,55}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
		<key>images/Effect/UIcjsc/kapibei.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,172},{143,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,186}}</string>
			<key>sourceSize</key>
			<string>{143,186}</string>
		</dict>
		<key>images/Effect/UIcjsc/ygbhh.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,172},{80,235}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,13},{80,235}}</string>
			<key>sourceSize</key>
			<string>{118,259}</string>
		</dict>
		<key>images/Effect/UIcjsc/ygbhk.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{433,120}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,11},{433,120}}</string>
			<key>sourceSize</key>
			<string>{439,136}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIcjsc0.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:11d85b3b8b53c286fa54cd261c6557ef:1/1$</string>
		<key>textureFileName</key>
		<string>UIcjsc0.pvr.ccz</string>
	</dict>
</dict>
</plist>
