<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/uigoldegg/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,112},{99,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{99,68}}</string>
			<key>sourceSize</key>
			<string>{101,68}</string>
		</dict>
		<key>images/Effect/uigoldegg/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,452},{81,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{81,48}}</string>
			<key>sourceSize</key>
			<string>{83,48}</string>
		</dict>
		<key>images/Effect/uigoldegg/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,452},{50,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,48}}</string>
			<key>sourceSize</key>
			<string>{52,48}</string>
		</dict>
		<key>images/Effect/uigoldegg/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,333},{25,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{25,20}}</string>
			<key>sourceSize</key>
			<string>{27,20}</string>
		</dict>
		<key>images/Effect/uigoldegg/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,297},{34,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,28}}</string>
			<key>sourceSize</key>
			<string>{34,28}</string>
		</dict>
		<key>images/Effect/uigoldegg/ATK06A05.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,297},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/Effect/uigoldegg/G01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,360},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>images/Effect/uigoldegg/S01.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,2},{108,78}}</string>
			<key>offset</key>
			<string>{-3,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,47},{108,78}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>images/Effect/uigoldegg/S02.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,186},{109,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,42}}</string>
			<key>sourceSize</key>
			<string>{109,42}</string>
		</dict>
		<key>images/Effect/uigoldegg/dan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,186},{126,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,145}}</string>
			<key>sourceSize</key>
			<string>{126,145}</string>
		</dict>
		<key>images/Effect/uigoldegg/jade.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,247},{39,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,41}}</string>
			<key>sourceSize</key>
			<string>{39,41}</string>
		</dict>
		<key>images/Effect/uigoldegg/leifeng01.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,290},{62,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,59}}</string>
			<key>sourceSize</key>
			<string>{62,59}</string>
		</dict>
		<key>images/Effect/uigoldegg/leifeng02.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,182},{63,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,59}}</string>
			<key>sourceSize</key>
			<string>{63,59}</string>
		</dict>
		<key>images/Effect/uigoldegg/leifeng03.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,2},{79,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,97}}</string>
			<key>sourceSize</key>
			<string>{79,97}</string>
		</dict>
		<key>images/Effect/uigoldegg/shuizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,333},{82,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,117}}</string>
			<key>sourceSize</key>
			<string>{82,117}</string>
		</dict>
		<key>images/Effect/uigoldegg/text.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,186},{172,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,33}}</string>
			<key>sourceSize</key>
			<string>{172,33}</string>
		</dict>
		<key>images/Effect/uigoldegg/z02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{180,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,9},{180,182}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>uigoldegg0.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7b6797a28c8f7d91e3e808ba22fd810e:1/1$</string>
		<key>textureFileName</key>
		<string>uigoldegg0.pvr.ccz</string>
	</dict>
</dict>
</plist>
