<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/uijsxz/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,777}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,777}}</string>
			<key>sourceSize</key>
			<string>{640,777}</string>
		</dict>
		<key>images/Effect/uijsxz/bgbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,781},{482,568}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{482,568}}</string>
			<key>sourceSize</key>
			<string>{482,568}</string>
		</dict>
		<key>images/Effect/uijsxz/blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,1351},{63,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,62}}</string>
			<key>sourceSize</key>
			<string>{63,62}</string>
		</dict>
		<key>images/Effect/uijsxz/herobg.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,1516},{482,568}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{482,568}}</string>
			<key>sourceSize</key>
			<string>{482,568}</string>
		</dict>
		<key>images/Effect/uijsxz/herozs.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{482,562}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{482,562}}</string>
			<key>sourceSize</key>
			<string>{482,568}</string>
		</dict>
		<key>images/Effect/uijsxz/herozzb.png</key>
		<dict>
			<key>frame</key>
			<string>{{1006,781},{394,532}}</string>
			<key>offset</key>
			<string>{-21,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,36},{394,532}}</string>
			<key>sourceSize</key>
			<string>{482,568}</string>
		</dict>
		<key>images/Effect/uijsxz/kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1521},{496,627}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{496,627}}</string>
			<key>sourceSize</key>
			<string>{496,627}</string>
		</dict>
		<key>images/Effect/uijsxz/lcardzs.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,566},{188,213}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{188,213}}</string>
			<key>sourceSize</key>
			<string>{190,217}</string>
		</dict>
		<key>images/Effect/uijsxz/lcardzzb.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,566},{188,213}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{188,213}}</string>
			<key>sourceSize</key>
			<string>{190,217}</string>
		</dict>
		<key>images/Effect/uijsxz/namezs.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,1477},{80,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,0},{80,39}}</string>
			<key>sourceSize</key>
			<string>{124,39}</string>
		</dict>
		<key>images/Effect/uijsxz/namezzb.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,1351},{124,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,39}}</string>
			<key>sourceSize</key>
			<string>{124,39}</string>
		</dict>
		<key>images/Effect/uijsxz/talkzs.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,1351},{81,253}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,253}}</string>
			<key>sourceSize</key>
			<string>{81,253}</string>
		</dict>
		<key>images/Effect/uijsxz/talkzzb.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,1434},{80,285}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,285}}</string>
			<key>sourceSize</key>
			<string>{80,285}</string>
		</dict>
		<key>images/Effect/uijsxz/text_input.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,1351},{267,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,59}}</string>
			<key>sourceSize</key>
			<string>{267,59}</string>
		</dict>
		<key>images/Effect/uijsxz/yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,1351},{63,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,62}}</string>
			<key>sourceSize</key>
			<string>{63,62}</string>
		</dict>
		<key>images/Effect/uijsxz/yw.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,781},{738,518}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{738,518}}</string>
			<key>sourceSize</key>
			<string>{738,518}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>uijsxz0.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e443506c22cb50eb0605ed790ee05a0a:1/1$</string>
		<key>textureFileName</key>
		<string>uijsxz0.pvr.ccz</string>
	</dict>
</dict>
</plist>
