<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/UIshuzi/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,33},{42,27}}</string>
			<key>offset</key>
			<string>{-5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{42,27}}</string>
			<key>sourceSize</key>
			<string>{58,33}</string>
		</dict>
		<key>images/Effect/UIshuzi/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{46,29}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{46,29}}</string>
			<key>sourceSize</key>
			<string>{58,33}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIshuzi0.png</string>
		<key>size</key>
		<string>{64,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a3cfd03e2fa2342e850c1e65c5bb6505:1/1$</string>
		<key>textureFileName</key>
		<string>UIshuzi0.png</string>
	</dict>
</dict>
</plist>
