<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/UIsz/uisz0.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,102},{24,30}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,10},{24,30}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
		<key>images/Effect/UIsz/uisz1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{20,30}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,10},{20,30}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
		<key>images/Effect/UIsz/uisz2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,36},{26,32}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{26,32}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
		<key>images/Effect/UIsz/uisz3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,70},{26,32}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,9},{26,32}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
		<key>images/Effect/UIsz/uisz4.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,70},{26,30}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{26,30}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
		<key>images/Effect/UIsz/uisz5.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,36},{26,32}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{26,32}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
		<key>images/Effect/UIsz/uisz6.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,2},{26,32}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,9},{26,32}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
		<key>images/Effect/UIsz/uisz7.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,70},{24,32}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,8},{24,32}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
		<key>images/Effect/UIsz/uisz8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{28,32}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{28,32}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
		<key>images/Effect/UIsz/uisz9.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,36},{24,30}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{24,30}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIsz0.pvr.ccz</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:02ab7efc748122c7b6e6a90f7437704c:1/1$</string>
		<key>textureFileName</key>
		<string>UIsz0.pvr.ccz</string>
	</dict>
</dict>
</plist>
