<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/uitouzi/001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,240},{56,61}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,17},{56,61}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Effect/uitouzi/afas000.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,240},{46,45}}</string>
			<key>offset</key>
			<string>{-4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,26},{46,45}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>images/Effect/uitouzi/bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,2},{1,1}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{5,5}</string>
		</dict>
		<key>images/Effect/uitouzi/tou00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,162},{119,76}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{119,76}}</string>
			<key>sourceSize</key>
			<string>{119,78}</string>
		</dict>
		<key>images/Effect/uitouzi/tou01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{119,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,78}}</string>
			<key>sourceSize</key>
			<string>{119,78}</string>
		</dict>
		<key>images/Effect/uitouzi/tou02.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,2},{119,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,78}}</string>
			<key>sourceSize</key>
			<string>{119,78}</string>
		</dict>
		<key>images/Effect/uitouzi/tou03.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,162},{119,76}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{119,76}}</string>
			<key>sourceSize</key>
			<string>{119,78}</string>
		</dict>
		<key>images/Effect/uitouzi/tou04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,82},{119,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,78}}</string>
			<key>sourceSize</key>
			<string>{119,78}</string>
		</dict>
		<key>images/Effect/uitouzi/tou05.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,82},{119,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,78}}</string>
			<key>sourceSize</key>
			<string>{119,78}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>uitouzi0.pvr.ccz</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0530d61cc3f92dbb0425c27165e45ab1:1/1$</string>
		<key>textureFileName</key>
		<string>uitouzi0.pvr.ccz</string>
	</dict>
</dict>
</plist>
