<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/uixx/002.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,129},{126,126}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{126,126}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>images/Effect/uixx/0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,364},{126,120}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{126,120}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>images/Effect/uixx/B1.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,2},{125,132}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,6},{125,132}}</string>
			<key>sourceSize</key>
			<string>{153,144}</string>
		</dict>
		<key>images/Effect/uixx/B2.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,223},{139,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,139}}</string>
			<key>sourceSize</key>
			<string>{139,139}</string>
		</dict>
		<key>images/Effect/uixx/kjsdf000.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,2},{73,147}}</string>
			<key>offset</key>
			<string>{7,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{73,147}}</string>
			<key>sourceSize</key>
			<string>{87,151}</string>
		</dict>
		<key>images/Effect/uixx/kjsdf001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,308},{73,149}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{73,149}}</string>
			<key>sourceSize</key>
			<string>{87,151}</string>
		</dict>
		<key>images/Effect/uixx/kjsdf002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{73,151}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{73,151}}</string>
			<key>sourceSize</key>
			<string>{87,151}</string>
		</dict>
		<key>images/Effect/uixx/kjsdf003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,155},{73,151}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{73,151}}</string>
			<key>sourceSize</key>
			<string>{87,151}</string>
		</dict>
		<key>images/Effect/uixx/kjsdf004.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,77},{71,147}}</string>
			<key>offset</key>
			<string>{7,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,3},{71,147}}</string>
			<key>sourceSize</key>
			<string>{87,151}</string>
		</dict>
		<key>images/Effect/uixx/kjsdf005.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,150},{71,143}}</string>
			<key>offset</key>
			<string>{7,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,7},{71,143}}</string>
			<key>sourceSize</key>
			<string>{87,151}</string>
		</dict>
		<key>images/Effect/uixx/kjsdf006.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,364},{73,139}}</string>
			<key>offset</key>
			<string>{7,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,12},{73,139}}</string>
			<key>sourceSize</key>
			<string>{87,151}</string>
		</dict>
		<key>images/Effect/uixx/kjsdf007.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,152},{73,141}}</string>
			<key>offset</key>
			<string>{7,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,10},{73,141}}</string>
			<key>sourceSize</key>
			<string>{87,151}</string>
		</dict>
		<key>images/Effect/uixx/kjsdf008.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,77},{73,145}}</string>
			<key>offset</key>
			<string>{7,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,5},{73,145}}</string>
			<key>sourceSize</key>
			<string>{87,151}</string>
		</dict>
		<key>images/Effect/uixx/kjsdf009.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,2},{73,147}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,1},{73,147}}</string>
			<key>sourceSize</key>
			<string>{87,151}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>uixx0.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bb630234e9b5d4fc2aa05f593f03d7ae:1/1$</string>
		<key>textureFileName</key>
		<string>uixx0.png</string>
	</dict>
</dict>
</plist>
