<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/uixx02/0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,2},{126,120}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{126,120}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>images/Effect/uixx02/003_2a.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,306},{146,148}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{146,148}}</string>
			<key>sourceSize</key>
			<string>{152,152}</string>
		</dict>
		<key>images/Effect/uixx02/003_2b.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,243},{75,71}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{75,71}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>images/Effect/uixx02/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,124},{117,118}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,12},{117,118}}</string>
			<key>sourceSize</key>
			<string>{153,144}</string>
		</dict>
		<key>images/Effect/uixx02/sg00.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,154},{71,146}}</string>
			<key>offset</key>
			<string>{7,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{71,146}}</string>
			<key>sourceSize</key>
			<string>{85,150}</string>
		</dict>
		<key>images/Effect/uixx02/sg01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{71,150}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{71,150}}</string>
			<key>sourceSize</key>
			<string>{85,150}</string>
		</dict>
		<key>images/Effect/uixx02/sg02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,154},{69,150}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{69,150}}</string>
			<key>sourceSize</key>
			<string>{85,150}</string>
		</dict>
		<key>images/Effect/uixx02/sg03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,306},{67,150}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{67,150}}</string>
			<key>sourceSize</key>
			<string>{85,150}</string>
		</dict>
		<key>images/Effect/uixx02/sg04.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,2},{65,144}}</string>
			<key>offset</key>
			<string>{7,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,5},{65,144}}</string>
			<key>sourceSize</key>
			<string>{85,150}</string>
		</dict>
		<key>images/Effect/uixx02/sg05.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,2},{67,142}}</string>
			<key>offset</key>
			<string>{7,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,8},{67,142}}</string>
			<key>sourceSize</key>
			<string>{85,150}</string>
		</dict>
		<key>images/Effect/uixx02/sg06.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,146},{69,138}}</string>
			<key>offset</key>
			<string>{7,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,12},{69,138}}</string>
			<key>sourceSize</key>
			<string>{85,150}</string>
		</dict>
		<key>images/Effect/uixx02/sg07.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,2},{69,138}}</string>
			<key>offset</key>
			<string>{7,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,12},{69,138}}</string>
			<key>sourceSize</key>
			<string>{85,150}</string>
		</dict>
		<key>images/Effect/uixx02/sg08.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,150},{69,144}}</string>
			<key>offset</key>
			<string>{8,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,5},{69,144}}</string>
			<key>sourceSize</key>
			<string>{85,150}</string>
		</dict>
		<key>images/Effect/uixx02/sg09.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,2},{71,146}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,1},{71,146}}</string>
			<key>sourceSize</key>
			<string>{85,150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>uixx020.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5dfd55b04db2142dbd98eebda4d23e53:1/1$</string>
		<key>textureFileName</key>
		<string>uixx020.pvr.ccz</string>
	</dict>
</dict>
</plist>
