<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/UIzdsb/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{520,136}}</string>
			<key>offset</key>
			<string>{35,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{95,129},{520,136}}</string>
			<key>sourceSize</key>
			<string>{640,394}</string>
		</dict>
		<key>images/Effect/UIzdsb/D01.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,90},{72,84}}</string>
			<key>offset</key>
			<string>{-17,44}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{267,111},{72,84}}</string>
			<key>sourceSize</key>
			<string>{640,394}</string>
		</dict>
		<key>images/Effect/UIzdsb/L01.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,2},{92,86}}</string>
			<key>offset</key>
			<string>{109,57}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{383,97},{92,86}}</string>
			<key>sourceSize</key>
			<string>{640,394}</string>
		</dict>
		<key>images/Effect/UIzdsb/S01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,524},{116,124}}</string>
			<key>offset</key>
			<string>{47,51}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{309,84},{116,124}}</string>
			<key>sourceSize</key>
			<string>{640,394}</string>
		</dict>
		<key>images/Effect/UIzdsb/Z01.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,524},{122,122}}</string>
			<key>offset</key>
			<string>{-98,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{161,122},{122,122}}</string>
			<key>sourceSize</key>
			<string>{640,394}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIzdsb0.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bd2bf3c5d1d1254bd2e0ef9cfb823af9:1/1$</string>
		<key>textureFileName</key>
		<string>UIzdsb0.png</string>
	</dict>
</dict>
</plist>
