<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/WCZK03/WCZK_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,304},{86,94}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,42},{86,94}}</string>
			<key>sourceSize</key>
			<string>{200,186}</string>
		</dict>
		<key>images/Effect/WCZK03/WCZK_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,462},{46,50}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{78,64},{46,50}}</string>
			<key>sourceSize</key>
			<string>{200,186}</string>
		</dict>
		<key>images/Effect/WCZK03/WCZK_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,462},{16,18}}</string>
			<key>offset</key>
			<string>{1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{93,79},{16,18}}</string>
			<key>sourceSize</key>
			<string>{200,186}</string>
		</dict>
		<key>images/Effect/WCZK03/WCZK_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,304},{54,60}}</string>
			<key>offset</key>
			<string>{1,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74,57},{54,60}}</string>
			<key>sourceSize</key>
			<string>{200,186}</string>
		</dict>
		<key>images/Effect/WCZK03/WCZK_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,164},{138,128}}</string>
			<key>offset</key>
			<string>{4,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,24},{138,128}}</string>
			<key>sourceSize</key>
			<string>{200,186}</string>
		</dict>
		<key>images/Effect/WCZK03/WCZK_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,2},{144,132}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,24},{144,132}}</string>
			<key>sourceSize</key>
			<string>{200,186}</string>
		</dict>
		<key>images/Effect/WCZK03/WCZK_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,136},{158,142}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,19},{158,142}}</string>
			<key>sourceSize</key>
			<string>{200,186}</string>
		</dict>
		<key>images/Effect/WCZK03/WCZK_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,296},{164,148}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,16},{164,148}}</string>
			<key>sourceSize</key>
			<string>{200,186}</string>
		</dict>
		<key>images/Effect/WCZK03/WCZK_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,162},{170,154}}</string>
			<key>offset</key>
			<string>{4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,12},{170,154}}</string>
			<key>sourceSize</key>
			<string>{200,186}</string>
		</dict>
		<key>images/Effect/WCZK03/WCZK_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,2},{176,158}}</string>
			<key>offset</key>
			<string>{4,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,8},{176,158}}</string>
			<key>sourceSize</key>
			<string>{200,186}</string>
		</dict>
		<key>images/Effect/WCZK03/WCZK_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{182,160}}</string>
			<key>offset</key>
			<string>{6,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,6},{182,160}}</string>
			<key>sourceSize</key>
			<string>{200,186}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>WCZK030.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:020168a3d1cbad45d84e49cdb53dc4b0:1/1$</string>
		<key>textureFileName</key>
		<string>WCZK030.pvr.ccz</string>
	</dict>
</dict>
</plist>
