<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/YLEF03/YLEF03_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,81},{61,61}}</string>
			<key>offset</key>
			<string>{-10,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,72},{61,61}}</string>
			<key>sourceSize</key>
			<string>{187,197}</string>
		</dict>
		<key>images/Effect/YLEF03/YLEF03_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,2},{77,77}}</string>
			<key>offset</key>
			<string>{-9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,64},{77,77}}</string>
			<key>sourceSize</key>
			<string>{187,197}</string>
		</dict>
		<key>images/Effect/YLEF03/YLEF03_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,2},{129,139}}</string>
			<key>offset</key>
			<string>{-16,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,39},{129,139}}</string>
			<key>sourceSize</key>
			<string>{187,197}</string>
		</dict>
		<key>images/Effect/YLEF03/YLEF03_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{149,163}}</string>
			<key>offset</key>
			<string>{-9,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,26},{149,163}}</string>
			<key>sourceSize</key>
			<string>{187,197}</string>
		</dict>
		<key>images/Effect/YLEF03/YLEF03_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,324},{155,147}}</string>
			<key>offset</key>
			<string>{4,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,40},{155,147}}</string>
			<key>sourceSize</key>
			<string>{187,197}</string>
		</dict>
		<key>images/Effect/YLEF03/YLEF03_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,167},{155,149}}</string>
			<key>offset</key>
			<string>{5,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,38},{155,149}}</string>
			<key>sourceSize</key>
			<string>{187,197}</string>
		</dict>
		<key>images/Effect/YLEF03/YLEF03_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,324},{135,155}}</string>
			<key>offset</key>
			<string>{-6,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,32},{135,155}}</string>
			<key>sourceSize</key>
			<string>{187,197}</string>
		</dict>
		<key>images/Effect/YLEF03/YLEF03_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,97},{131,93}}</string>
			<key>offset</key>
			<string>{-4,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,33},{131,93}}</string>
			<key>sourceSize</key>
			<string>{187,197}</string>
		</dict>
		<key>images/Effect/YLEF03/YLEF03_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,2},{133,93}}</string>
			<key>offset</key>
			<string>{-3,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,31},{133,93}}</string>
			<key>sourceSize</key>
			<string>{187,197}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>YLEF030.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8555e5bbff69eb5a707d883055c40f0d:1/1$</string>
		<key>textureFileName</key>
		<string>YLEF030.pvr.ccz</string>
	</dict>
</dict>
</plist>
