<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/YScssn01/YScssn01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{125,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,146}}</string>
			<key>sourceSize</key>
			<string>{125,146}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>YScssn010.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3bc94535ecf2557661681af41cb4cf12:1/1$</string>
		<key>textureFileName</key>
		<string>YScssn010.png</string>
	</dict>
</dict>
</plist>
