<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/ZSnz01/ZSnz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{220,192}}</string>
			<key>offset</key>
			<string>{9,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,34},{220,192}}</string>
			<key>sourceSize</key>
			<string>{300,256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ZSnz010.pvr.ccz</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3250b8f8157572d99c5ba9e9a01ba44c:1/1$</string>
		<key>textureFileName</key>
		<string>ZSnz010.pvr.ccz</string>
	</dict>
</dict>
</plist>
