<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/UIshipintubiao/g0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,78},{74,28}}</string>
			<key>offset</key>
			<string>{0,39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,2},{74,28}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,2},{64,30}}</string>
			<key>offset</key>
			<string>{20,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,8},{64,30}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,126},{46,48}}</string>
			<key>offset</key>
			<string>{29,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,10},{46,48}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,134},{34,60}}</string>
			<key>offset</key>
			<string>{36,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,15},{34,60}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{30,74}}</string>
			<key>offset</key>
			<string>{39,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,25},{30,74}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,150},{34,66}}</string>
			<key>offset</key>
			<string>{34,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{72,40},{34,66}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,56},{48,46}}</string>
			<key>offset</key>
			<string>{19,-30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,62},{48,46}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,68},{64,28}}</string>
			<key>offset</key>
			<string>{10,-40}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,81},{64,28}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,154},{72,28}}</string>
			<key>offset</key>
			<string>{-8,-39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,80},{72,28}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,218},{60,36}}</string>
			<key>offset</key>
			<string>{-23,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,65},{60,36}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,2},{36,52}}</string>
			<key>offset</key>
			<string>{-34,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,46},{36,52}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,2},{30,68}}</string>
			<key>offset</key>
			<string>{-37,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,26},{30,68}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,78},{32,70}}</string>
			<key>offset</key>
			<string>{-38,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{32,70}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,196},{40,58}}</string>
			<key>offset</key>
			<string>{-25,25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,1},{40,58}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>images/Effect/UIshipintubiao/g0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,68},{56,34}}</string>
			<key>offset</key>
			<string>{-13,36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,2},{56,34}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIshipintubiao0.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a4f86f7f768687760d82df9178261d76:1/1$</string>
		<key>textureFileName</key>
		<string>UIshipintubiao0.png</string>
	</dict>
</dict>
</plist>
