<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/SYD/0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,204},{186,298}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,298}}</string>
			<key>sourceSize</key>
			<string>{188,300}</string>
		</dict>
		<key>images/Effect/SYD/02.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{320,478}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,478}}</string>
			<key>sourceSize</key>
			<string>{320,478}</string>
		</dict>
		<key>images/Effect/SYD/1_00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,482},{106,204}}</string>
			<key>offset</key>
			<string>{2,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,16},{106,204}}</string>
			<key>sourceSize</key>
			<string>{150,252}</string>
		</dict>
		<key>images/Effect/SYD/1_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,482},{86,172}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,37},{86,172}}</string>
			<key>sourceSize</key>
			<string>{150,252}</string>
		</dict>
		<key>images/Effect/SYD/1_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,2},{50,140}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,57},{50,140}}</string>
			<key>sourceSize</key>
			<string>{150,252}</string>
		</dict>
		<key>images/Effect/SYD/1_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,144},{48,138}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,58},{48,138}}</string>
			<key>sourceSize</key>
			<string>{150,252}</string>
		</dict>
		<key>images/Effect/SYD/1_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,284},{46,136}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,59},{46,136}}</string>
			<key>sourceSize</key>
			<string>{150,252}</string>
		</dict>
		<key>images/Effect/SYD/1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,482},{482,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{482,97}}</string>
			<key>sourceSize</key>
			<string>{490,105}</string>
		</dict>
		<key>images/Effect/SYD/2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,493},{466,150}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{466,150}}</string>
			<key>sourceSize</key>
			<string>{472,154}</string>
		</dict>
		<key>images/Effect/SYD/33.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,590},{185,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{185,235}}</string>
			<key>sourceSize</key>
			<string>{195,235}</string>
		</dict>
		<key>images/Effect/SYD/L01.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,827},{90,70}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,10},{90,70}}</string>
			<key>sourceSize</key>
			<string>{112,86}</string>
		</dict>
		<key>images/Effect/SYD/Moon02.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,204},{252,254}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,23},{252,254}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/Effect/SYD/PB.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,204},{77,258}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,258}}</string>
			<key>sourceSize</key>
			<string>{77,258}</string>
		</dict>
		<key>images/Effect/SYD/W1.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,594},{235,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,400}}</string>
			<key>sourceSize</key>
			<string>{235,400}</string>
		</dict>
		<key>images/Effect/SYD/cloud01.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,392},{248,99}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{248,99}}</string>
			<key>sourceSize</key>
			<string>{250,99}</string>
		</dict>
		<key>images/Effect/SYD/cloud02.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,392},{200,57}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{200,57}}</string>
			<key>sourceSize</key>
			<string>{200,59}</string>
		</dict>
		<key>images/Effect/SYD/dramabg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,200}}</string>
			<key>sourceSize</key>
			<string>{640,200}</string>
		</dict>
		<key>images/Effect/SYD/star01.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,919},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>SYD0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:babda770c027ff0902e8f5ed56fd1bf4:1/1$</string>
		<key>textureFileName</key>
		<string>SYD0.png</string>
	</dict>
</dict>
</plist>
