<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/HWEF01/HWEF01_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,182},{138,176}}</string>
			<key>offset</key>
			<string>{-15,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,32},{138,176}}</string>
			<key>sourceSize</key>
			<string>{242,234}</string>
		</dict>
		<key>images/Effect/HWEF01/HWEF01_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,322},{126,134}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,55},{126,134}}</string>
			<key>sourceSize</key>
			<string>{242,234}</string>
		</dict>
		<key>images/Effect/HWEF01/HWEF01_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,204},{126,130}}</string>
			<key>offset</key>
			<string>{-7,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{51,57},{126,130}}</string>
			<key>sourceSize</key>
			<string>{242,234}</string>
		</dict>
		<key>images/Effect/HWEF01/HWEF01_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,204},{134,102}}</string>
			<key>offset</key>
			<string>{-8,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,71},{134,102}}</string>
			<key>sourceSize</key>
			<string>{242,234}</string>
		</dict>
		<key>images/Effect/HWEF01/HWEF01_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,332},{98,92}}</string>
			<key>offset</key>
			<string>{-10,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,70},{98,92}}</string>
			<key>sourceSize</key>
			<string>{242,234}</string>
		</dict>
		<key>images/Effect/HWEF01/HWEF01_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,2},{200,218}}</string>
			<key>offset</key>
			<string>{-10,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,6},{200,218}}</string>
			<key>sourceSize</key>
			<string>{242,234}</string>
		</dict>
		<key>images/Effect/HWEF01/HWEF01_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{220,178}}</string>
			<key>offset</key>
			<string>{-10,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,26},{220,178}}</string>
			<key>sourceSize</key>
			<string>{242,234}</string>
		</dict>
		<key>images/Effect/HWEF01/HWEF01_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,322},{160,128}}</string>
			<key>offset</key>
			<string>{-9,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,51},{160,128}}</string>
			<key>sourceSize</key>
			<string>{242,234}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>HWEF010.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:01cd086e722e11c62469d71b36c3336e:1/1$</string>
		<key>textureFileName</key>
		<string>HWEF010.png</string>
	</dict>
</dict>
</plist>
