<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Daily/activityBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,348},{571,375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{571,375}}</string>
			<key>sourceSize</key>
			<string>{571,375}</string>
		</dict>
		<key>images/Daily/btnDrawNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,772},{187,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,79}}</string>
			<key>sourceSize</key>
			<string>{187,79}</string>
		</dict>
		<key>images/Daily/btnDrawSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,772},{187,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,79}}</string>
			<key>sourceSize</key>
			<string>{187,79}</string>
		</dict>
		<key>images/Daily/dailyBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,768}}</string>
			<key>sourceSize</key>
			<string>{512,768}</string>
		</dict>
		<key>images/Daily/dailyFocus.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{472,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,171}}</string>
			<key>sourceSize</key>
			<string>{472,171}</string>
		</dict>
		<key>images/Daily/firstFocus.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,175},{472,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,171}}</string>
			<key>sourceSize</key>
			<string>{472,171}</string>
		</dict>
		<key>images/Daily/imgBigTreaNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,921},{86,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,79}}</string>
			<key>sourceSize</key>
			<string>{86,79}</string>
		</dict>
		<key>images/Daily/imgDay.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,990},{170,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,28}}</string>
			<key>sourceSize</key>
			<string>{170,28}</string>
		</dict>
		<key>images/Daily/imgHasLogin.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,921},{125,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,78}}</string>
			<key>sourceSize</key>
			<string>{125,78}</string>
		</dict>
		<key>images/Daily/imgTreaNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,348},{77,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,70}}</string>
			<key>sourceSize</key>
			<string>{77,70}</string>
		</dict>
		<key>images/Daily/imgTreaOpened.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,921},{94,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,96}}</string>
			<key>sourceSize</key>
			<string>{94,96}</string>
		</dict>
		<key>images/Daily/taichuBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,772},{403,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{403,216}}</string>
			<key>sourceSize</key>
			<string>{403,216}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Daily0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ffb55551e68915c3e08d829a70206921:1/2$</string>
		<key>textureFileName</key>
		<string>Daily0.png</string>
	</dict>
</dict>
</plist>
