<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/public/btnItem2Disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{563,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,117}}</string>
			<key>sourceSize</key>
			<string>{563,117}</string>
		</dict>
		<key>images/public/btnItem2Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,2},{563,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,117}}</string>
			<key>sourceSize</key>
			<string>{563,117}</string>
		</dict>
		<key>images/public/btnItem2Select.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,2},{563,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,117}}</string>
			<key>sourceSize</key>
			<string>{563,117}</string>
		</dict>
		<key>images/public/btnLeaderFrameSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,574},{563,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,117}}</string>
			<key>sourceSize</key>
			<string>{563,117}</string>
		</dict>
		<key>images/public/btnRecommendNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,693},{563,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,117}}</string>
			<key>sourceSize</key>
			<string>{563,117}</string>
		</dict>
		<key>images/public/btnRecommendSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,812},{563,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,117}}</string>
			<key>sourceSize</key>
			<string>{563,117}</string>
		</dict>
		<key>images/public/friendInviteBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{598,566}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{598,566}}</string>
			<key>sourceSize</key>
			<string>{598,566}</string>
		</dict>
		<key>images/public/rank_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,2},{570,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{570,61}}</string>
			<key>sourceSize</key>
			<string>{570,61}</string>
		</dict>
		<key>images/public/upgrade_tip.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,931},{568,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,75}}</string>
			<key>sourceSize</key>
			<string>{568,75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>public6.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:947afe06836b8c74e39939230577fd62:7/8$</string>
		<key>textureFileName</key>
		<string>public6.png</string>
	</dict>
</dict>
</plist>
