<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/public/EvolutionBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{598,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{598,566}}</string>
				<key>sourceSize</key>
				<string>{598,566}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>public_4.pkm</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:0aa3ff8522b731b048d48f1083e19feb:5/5$</string>
			<key>textureFileName</key>
			<string>public_4.pkm</string>
		</dict>
	</dict>
</plist>

