<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/public/VIP.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,834},{55,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,26}}</string>
			<key>sourceSize</key>
			<string>{55,26}</string>
		</dict>
		<key>images/public/activity_cost_today.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,796},{76,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,71}}</string>
			<key>sourceSize</key>
			<string>{76,71}</string>
		</dict>
		<key>images/public/add.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,619},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>images/public/arrowDowm.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,869},{147,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,117}}</string>
			<key>sourceSize</key>
			<string>{147,117}</string>
		</dict>
		<key>images/public/card_hero_sele_ttf.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,403},{145,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,49}}</string>
			<key>sourceSize</key>
			<string>{145,49}</string>
		</dict>
		<key>images/public/comment_talk.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,886},{135,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,91}}</string>
			<key>sourceSize</key>
			<string>{135,91}</string>
		</dict>
		<key>images/public/commonNoTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,2},{615,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{615,361}}</string>
			<key>sourceSize</key>
			<string>{615,361}</string>
		</dict>
		<key>images/public/complete.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,886},{127,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,84}}</string>
			<key>sourceSize</key>
			<string>{127,84}</string>
		</dict>
		<key>images/public/eliteDropBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{677,796},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>images/public/exp_mid.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,619},{248,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,12}}</string>
			<key>sourceSize</key>
			<string>{248,12}</string>
		</dict>
		<key>images/public/facebookTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,886},{135,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,91}}</string>
			<key>sourceSize</key>
			<string>{135,91}</string>
		</dict>
		<key>images/public/fish25.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,834},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>images/public/friendInviteInput.png</key>
		<dict>
			<key>frame</key>
			<string>{{853,619},{132,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,27}}</string>
			<key>sourceSize</key>
			<string>{132,27}</string>
		</dict>
		<key>images/public/heroCard1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,130},{637,271}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{637,271}}</string>
			<key>sourceSize</key>
			<string>{637,271}</string>
		</dict>
		<key>images/public/hero_confirm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{646,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{646,126}}</string>
			<key>sourceSize</key>
			<string>{646,126}</string>
		</dict>
		<key>images/public/materialEvo.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,834},{96,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,27}}</string>
			<key>sourceSize</key>
			<string>{96,27}</string>
		</dict>
		<key>images/public/no_swallow_card.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,796},{254,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,36}}</string>
			<key>sourceSize</key>
			<string>{254,36}</string>
		</dict>
		<key>images/public/notVip.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,834},{55,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,26}}</string>
			<key>sourceSize</key>
			<string>{55,26}</string>
		</dict>
		<key>images/public/numBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{681,619},{144,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,30}}</string>
			<key>sourceSize</key>
			<string>{144,30}</string>
		</dict>
		<key>images/public/progress1.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,754},{405,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{405,19}}</string>
			<key>sourceSize</key>
			<string>{405,19}</string>
		</dict>
		<key>images/public/progress2.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,775},{405,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{405,19}}</string>
			<key>sourceSize</key>
			<string>{405,19}</string>
		</dict>
		<key>images/public/progress_ft.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,869},{304,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,15}}</string>
			<key>sourceSize</key>
			<string>{304,15}</string>
		</dict>
		<key>images/public/promptTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,653},{407,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{407,99}}</string>
			<key>sourceSize</key>
			<string>{407,99}</string>
		</dict>
		<key>images/public/text_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,550},{101,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,47}}</string>
			<key>sourceSize</key>
			<string>{101,47}</string>
		</dict>
		<key>images/public/treasure.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,403},{615,595}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{615,595}}</string>
			<key>sourceSize</key>
			<string>{615,595}</string>
		</dict>
		<key>images/public/upgrade_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,619},{30,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,24}}</string>
			<key>sourceSize</key>
			<string>{30,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>public2.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0dff944f3eda4cf503a89bc9d8d86a4e:3/6$</string>
		<key>textureFileName</key>
		<string>public2.png</string>
	</dict>
</dict>
</plist>
