<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/public/activity_cost_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,205},{314,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,377}}</string>
			<key>sourceSize</key>
			<string>{314,377}</string>
		</dict>
		<key>images/public/bg_fightResult.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,964},{58,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,58}}</string>
			<key>sourceSize</key>
			<string>{58,58}</string>
		</dict>
		<key>images/public/btnRaceNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,964},{185,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,56}}</string>
			<key>sourceSize</key>
			<string>{185,56}</string>
		</dict>
		<key>images/public/btnRaceSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,964},{185,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,56}}</string>
			<key>sourceSize</key>
			<string>{185,56}</string>
		</dict>
		<key>images/public/clarity05.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,978},{5,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,5}}</string>
			<key>sourceSize</key>
			<string>{5,5}</string>
		</dict>
		<key>images/public/comment_rabbit.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,586},{317,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,360}}</string>
			<key>sourceSize</key>
			<string>{317,360}</string>
		</dict>
		<key>images/public/compose_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,948},{120,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,28}}</string>
			<key>sourceSize</key>
			<string>{120,28}</string>
		</dict>
		<key>images/public/edit_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,978},{154,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,38}}</string>
			<key>sourceSize</key>
			<string>{154,38}</string>
		</dict>
		<key>images/public/emailbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,960}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,960}}</string>
			<key>sourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>images/public/gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,978},{51,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,41}}</string>
			<key>sourceSize</key>
			<string>{51,41}</string>
		</dict>
		<key>images/public/hero_bigstar.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,964},{60,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,57}}</string>
			<key>sourceSize</key>
			<string>{60,57}</string>
		</dict>
		<key>images/public/imgSlider.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,978},{18,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,44}}</string>
			<key>sourceSize</key>
			<string>{18,44}</string>
		</dict>
		<key>images/public/longBtnSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,964},{170,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,56}}</string>
			<key>sourceSize</key>
			<string>{170,56}</string>
		</dict>
		<key>images/public/middle_hero.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,521},{376,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{376,63}}</string>
			<key>sourceSize</key>
			<string>{376,63}</string>
		</dict>
		<key>images/public/moneyEvo.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,948},{95,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,27}}</string>
			<key>sourceSize</key>
			<string>{95,27}</string>
		</dict>
		<key>images/public/progress_thumb.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,948},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>images/public/promptbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{378,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{378,201}}</string>
			<key>sourceSize</key>
			<string>{378,201}</string>
		</dict>
		<key>images/public/recv_point_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{963,855},{121,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,59}}</string>
			<key>sourceSize</key>
			<string>{121,59}</string>
		</dict>
		<key>images/public/stra_Info.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,978},{42,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,39}}</string>
			<key>sourceSize</key>
			<string>{42,39}</string>
		</dict>
		<key>images/public/text_input.png</key>
		<dict>
			<key>frame</key>
			<string>{{963,586},{267,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,59}}</string>
			<key>sourceSize</key>
			<string>{267,59}</string>
		</dict>
		<key>images/public/underlineBlack.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,1018},{153,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,4}}</string>
			<key>sourceSize</key>
			<string>{153,4}</string>
		</dict>
		<key>images/public/vsinsSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,948},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>public0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0dff944f3eda4cf503a89bc9d8d86a4e:1/6$</string>
		<key>textureFileName</key>
		<string>public0.png</string>
	</dict>
</dict>
</plist>
