<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/public/BigCardBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,150},{148,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,191}}</string>
			<key>sourceSize</key>
			<string>{148,191}</string>
		</dict>
		<key>images/public/LV.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,972},{35,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,23}}</string>
			<key>sourceSize</key>
			<string>{35,23}</string>
		</dict>
		<key>images/public/activity_group_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,147},{588,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{588,172}}</string>
			<key>sourceSize</key>
			<string>{588,172}</string>
		</dict>
		<key>images/public/arrowUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,343},{147,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,117}}</string>
			<key>sourceSize</key>
			<string>{147,117}</string>
		</dict>
		<key>images/public/btnPlayerNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,462},{557,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{557,111}}</string>
			<key>sourceSize</key>
			<string>{557,111}</string>
		</dict>
		<key>images/public/btnSeekDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,18},{78,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,61}}</string>
			<key>sourceSize</key>
			<string>{78,61}</string>
		</dict>
		<key>images/public/btnSeekNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,98},{78,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,61}}</string>
			<key>sourceSize</key>
			<string>{78,61}</string>
		</dict>
		<key>images/public/btnSeekSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,178},{78,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,61}}</string>
			<key>sourceSize</key>
			<string>{78,61}</string>
		</dict>
		<key>images/public/btn_long_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,737},{170,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,65}}</string>
			<key>sourceSize</key>
			<string>{170,65}</string>
		</dict>
		<key>images/public/btn_long_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,804},{170,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,65}}</string>
			<key>sourceSize</key>
			<string>{170,65}</string>
		</dict>
		<key>images/public/card_hero_info_samll_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,18},{174,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,105}}</string>
			<key>sourceSize</key>
			<string>{174,105}</string>
		</dict>
		<key>images/public/confirm_tips_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,654},{615,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{615,361}}</string>
			<key>sourceSize</key>
			<string>{615,361}</string>
		</dict>
		<key>images/public/dikuang_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{622,650}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{622,650}}</string>
			<key>sourceSize</key>
			<string>{622,650}</string>
		</dict>
		<key>images/public/embattle_leader.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,911},{36,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,41}}</string>
			<key>sourceSize</key>
			<string>{36,41}</string>
		</dict>
		<key>images/public/evolution_arrrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,871},{135,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,144}}</string>
			<key>sourceSize</key>
			<string>{135,144}</string>
		</dict>
		<key>images/public/exp_pro.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,1009},{248,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,12}}</string>
			<key>sourceSize</key>
			<string>{248,12}</string>
		</dict>
		<key>images/public/fight_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,18},{150,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,130}}</string>
			<key>sourceSize</key>
			<string>{150,130}</string>
		</dict>
		<key>images/public/fragment.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,462},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>images/public/hero_add.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,873},{37,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,36}}</string>
			<key>sourceSize</key>
			<string>{37,36}</string>
		</dict>
		<key>images/public/hero_heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,935},{35,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>sourceSize</key>
			<string>{35,31}</string>
		</dict>
		<key>images/public/hero_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,713},{34,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,39}}</string>
			<key>sourceSize</key>
			<string>{34,39}</string>
		</dict>
		<key>images/public/hero_sword.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,871},{31,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,32}}</string>
			<key>sourceSize</key>
			<string>{31,32}</string>
		</dict>
		<key>images/public/imgSliderBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,2},{14,387}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,387}}</string>
			<key>sourceSize</key>
			<string>{14,387}</string>
		</dict>
		<key>images/public/inviteItem.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,654},{353,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{353,67}}</string>
			<key>sourceSize</key>
			<string>{353,67}</string>
		</dict>
		<key>images/public/jade.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,297},{39,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,41}}</string>
			<key>sourceSize</key>
			<string>{39,41}</string>
		</dict>
		<key>images/public/levelTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,749},{122,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,38}}</string>
			<key>sourceSize</key>
			<string>{122,38}</string>
		</dict>
		<key>images/public/max.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,954},{66,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,27}}</string>
			<key>sourceSize</key>
			<string>{66,27}</string>
		</dict>
		<key>images/public/page_bkg.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,258},{60,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,37}}</string>
			<key>sourceSize</key>
			<string>{60,37}</string>
		</dict>
		<key>images/public/progress_blood_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,343},{306,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,19}}</string>
			<key>sourceSize</key>
			<string>{306,19}</string>
		</dict>
		<key>images/public/progress_blood_bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,343},{306,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,19}}</string>
			<key>sourceSize</key>
			<string>{306,19}</string>
		</dict>
		<key>images/public/progress_ft2.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,343},{306,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,19}}</string>
			<key>sourceSize</key>
			<string>{306,19}</string>
		</dict>
		<key>images/public/reduce.png</key>
		<dict>
			<key>frame</key>
			<string>{{1011,954},{31,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,11}}</string>
			<key>sourceSize</key>
			<string>{31,11}</string>
		</dict>
		<key>images/public/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,904},{29,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,32}}</string>
			<key>sourceSize</key>
			<string>{29,32}</string>
		</dict>
		<key>images/public/strategy.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,640},{71,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,39}}</string>
			<key>sourceSize</key>
			<string>{71,39}</string>
		</dict>
		<key>images/public/title_myteam.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,503},{135,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,39}}</string>
			<key>sourceSize</key>
			<string>{135,39}</string>
		</dict>
		<key>images/public/underline.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1017},{75,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,4}}</string>
			<key>sourceSize</key>
			<string>{75,4}</string>
		</dict>
		<key>images/public/upgrade_prg_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,125},{174,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,20}}</string>
			<key>sourceSize</key>
			<string>{174,20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>public1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0dff944f3eda4cf503a89bc9d8d86a4e:2/6$</string>
		<key>textureFileName</key>
		<string>public1.png</string>
	</dict>
</dict>
</plist>
