<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/public/activity_cost_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,23},{187,292}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,292}}</string>
			<key>sourceSize</key>
			<string>{187,292}</string>
		</dict>
		<key>images/public/bg_lottery.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,252},{514,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{514,277}}</string>
			<key>sourceSize</key>
			<string>{514,277}</string>
		</dict>
		<key>images/public/btnCommonDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,768},{107,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,52}}</string>
			<key>sourceSize</key>
			<string>{107,52}</string>
		</dict>
		<key>images/public/btnCommonNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,822},{107,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,52}}</string>
			<key>sourceSize</key>
			<string>{107,52}</string>
		</dict>
		<key>images/public/btnCommonSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,590},{107,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,52}}</string>
			<key>sourceSize</key>
			<string>{107,52}</string>
		</dict>
		<key>images/public/btnFriendDisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{600,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{600,59}}</string>
			<key>sourceSize</key>
			<string>{600,59}</string>
		</dict>
		<key>images/public/btnFriendNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,63},{600,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{600,59}}</string>
			<key>sourceSize</key>
			<string>{600,59}</string>
		</dict>
		<key>images/public/btnFriendSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,124},{600,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{600,59}}</string>
			<key>sourceSize</key>
			<string>{600,59}</string>
		</dict>
		<key>images/public/btn_com_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,185},{588,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{588,164}}</string>
			<key>sourceSize</key>
			<string>{588,164}</string>
		</dict>
		<key>images/public/btn_com_sele.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,631},{587,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{587,164}}</string>
			<key>sourceSize</key>
			<string>{587,164}</string>
		</dict>
		<key>images/public/btn_long_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,836},{170,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,65}}</string>
			<key>sourceSize</key>
			<string>{170,65}</string>
		</dict>
		<key>images/public/btn_short_dis.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,351},{588,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{588,138}}</string>
			<key>sourceSize</key>
			<string>{588,138}</string>
		</dict>
		<key>images/public/btn_short_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,491},{588,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{588,138}}</string>
			<key>sourceSize</key>
			<string>{588,138}</string>
		</dict>
		<key>images/public/embattle_friend.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,273},{36,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,41}}</string>
			<key>sourceSize</key>
			<string>{36,41}</string>
		</dict>
		<key>images/public/exp_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,23},{248,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,12}}</string>
			<key>sourceSize</key>
			<string>{248,12}</string>
		</dict>
		<key>images/public/fight_desc.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,2},{586,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{586,108}}</string>
			<key>sourceSize</key>
			<string>{586,108}</string>
		</dict>
		<key>images/public/font_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,212},{285,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,38}}</string>
			<key>sourceSize</key>
			<string>{285,38}</string>
		</dict>
		<key>images/public/get_phy_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,905},{90,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,98}}</string>
			<key>sourceSize</key>
			<string>{90,98}</string>
		</dict>
		<key>images/public/give_phy_click.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,644},{94,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,102}}</string>
			<key>sourceSize</key>
			<string>{94,102}</string>
		</dict>
		<key>images/public/give_phy_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,740},{94,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,102}}</string>
			<key>sourceSize</key>
			<string>{94,102}</string>
		</dict>
		<key>images/public/leaderAddtion.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,316},{510,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{510,30}}</string>
			<key>sourceSize</key>
			<string>{510,30}</string>
		</dict>
		<key>images/public/progress_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,2},{306,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,19}}</string>
			<key>sourceSize</key>
			<string>{306,19}</string>
		</dict>
		<key>images/public/rank_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,961},{570,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{570,61}}</string>
			<key>sourceSize</key>
			<string>{570,61}</string>
		</dict>
		<key>images/public/red_com_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,797},{587,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{587,162}}</string>
			<key>sourceSize</key>
			<string>{587,162}</string>
		</dict>
		<key>images/public/strageItem1.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,768},{242,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,79}}</string>
			<key>sourceSize</key>
			<string>{242,79}</string>
		</dict>
		<key>images/public/strageItem2.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,768},{242,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,79}}</string>
			<key>sourceSize</key>
			<string>{242,79}</string>
		</dict>
		<key>images/public/systemEmail.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,876},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/public/vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,836},{91,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,67}}</string>
			<key>sourceSize</key>
			<string>{91,67}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>public3.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0dff944f3eda4cf503a89bc9d8d86a4e:4/6$</string>
		<key>textureFileName</key>
		<string>public3.png</string>
	</dict>
</dict>
</plist>
