<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/uigold/clarity05.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,2},{1,1}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{5,5}</string>
		</dict>
		<key>images/Effect/uigold/gold01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{114,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,72}}</string>
			<key>sourceSize</key>
			<string>{114,72}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>uigold0.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:02147cbee85712f50e65d87558a2feca:1/1$</string>
		<key>textureFileName</key>
		<string>uigold0.png</string>
	</dict>
</dict>
</plist>
