<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Main/btmfabaodis.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,846},{160,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,160}}</string>
			<key>sourceSize</key>
			<string>{160,160}</string>
		</dict>
		<key>images/Main/btmfabaonom.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,846},{160,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,160}}</string>
			<key>sourceSize</key>
			<string>{160,160}</string>
		</dict>
		<key>images/Main/btmfabaoon.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,826},{160,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,160}}</string>
			<key>sourceSize</key>
			<string>{160,160}</string>
		</dict>
		<key>images/Main/btnEmailNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,630},{72,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,71}}</string>
			<key>sourceSize</key>
			<string>{72,71}</string>
		</dict>
		<key>images/Main/btnEmailSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,703},{72,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,71}}</string>
			<key>sourceSize</key>
			<string>{72,71}</string>
		</dict>
		<key>images/Main/btnPvpSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,826},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnRewardsSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,890},{93,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,75}}</string>
			<key>sourceSize</key>
			<string>{93,75}</string>
		</dict>
		<key>images/Main/btnShopSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,893},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>images/Main/btnSkillLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,2},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnSkillNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,2},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnSkillSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,159},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnSoaringLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,159},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnSoaringNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,316},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnSoaringSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,316},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnStrategyLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,473},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnStrategyNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,473},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnStrategySelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,630},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnSystemNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,630},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/btnSystemSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,825},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>images/Main/drama_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,200}}</string>
			<key>sourceSize</key>
			<string>{640,200}</string>
		</dict>
		<key>images/Main/heroLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,787},{104,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,105}}</string>
			<key>sourceSize</key>
			<string>{104,105}</string>
		</dict>
		<key>images/Main/imgRoleInfo.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,204},{620,380}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,380}}</string>
			<key>sourceSize</key>
			<string>{620,380}</string>
		</dict>
		<key>images/Main/imgTopFrame.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,204},{640,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,131}}</string>
			<key>sourceSize</key>
			<string>{640,131}</string>
		</dict>
		<key>images/Main/lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,776},{47,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,65}}</string>
			<key>sourceSize</key>
			<string>{47,65}</string>
		</dict>
		<key>images/Main/mon_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,983},{36,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,38}}</string>
			<key>sourceSize</key>
			<string>{36,38}</string>
		</dict>
		<key>images/Main/mon_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,983},{36,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,38}}</string>
			<key>sourceSize</key>
			<string>{36,38}</string>
		</dict>
		<key>images/Main/remain_time_tip.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,826},{188,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,29}}</string>
			<key>sourceSize</key>
			<string>{188,29}</string>
		</dict>
		<key>images/Main/skillLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,825},{63,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,81}}</string>
			<key>sourceSize</key>
			<string>{63,81}</string>
		</dict>
		<key>images/Main/up_plank.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,204},{640,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,115}}</string>
			<key>sourceSize</key>
			<string>{640,115}</string>
		</dict>
		<key>images/Main/week_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,983},{36,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,38}}</string>
			<key>sourceSize</key>
			<string>{36,38}</string>
		</dict>
		<key>images/Main/week_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,983},{36,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,38}}</string>
			<key>sourceSize</key>
			<string>{36,38}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Main0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7401d2d4a3fae9a66fa09dc8aff6cbf0:1/2$</string>
		<key>textureFileName</key>
		<string>Main0.png</string>
	</dict>
</dict>
</plist>
