<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/Richer/buffIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>images/Richer/crossing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,74},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Richer2.webp</string>
			<key>size</key>
			<string>{128,256}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:749c50cc7f8b363ebee7cf8fbb5a1acd:3/3$</string>
			<key>textureFileName</key>
			<string>Richer2.webp</string>
		</dict>
	</dict>
</plist>

