<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Thanksgiving/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{473,446}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{473,446}}</string>
			<key>sourceSize</key>
			<string>{473,446}</string>
		</dict>
		<key>images/Thanksgiving/buyMaterial.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,236},{106,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,32}}</string>
			<key>sourceSize</key>
			<string>{106,32}</string>
		</dict>
		<key>images/Thanksgiving/charge.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,2},{115,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,32}}</string>
			<key>sourceSize</key>
			<string>{115,32}</string>
		</dict>
		<key>images/Thanksgiving/chicken.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,547},{67,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,61}}</string>
			<key>sourceSize</key>
			<string>{67,61}</string>
		</dict>
		<key>images/Thanksgiving/eat.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,479},{81,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,32}}</string>
			<key>sourceSize</key>
			<string>{81,32}</string>
		</dict>
		<key>images/Thanksgiving/eatTen.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,513},{80,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,32}}</string>
			<key>sourceSize</key>
			<string>{80,32}</string>
		</dict>
		<key>images/Thanksgiving/fruits.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,520},{75,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,60}}</string>
			<key>sourceSize</key>
			<string>{75,60}</string>
		</dict>
		<key>images/Thanksgiving/get.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,119},{115,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,32}}</string>
			<key>sourceSize</key>
			<string>{115,32}</string>
		</dict>
		<key>images/Thanksgiving/makeTurkey.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,344},{106,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,32}}</string>
			<key>sourceSize</key>
			<string>{106,32}</string>
		</dict>
		<key>images/Thanksgiving/tip1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,479},{512,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,58}}</string>
			<key>sourceSize</key>
			<string>{512,58}</string>
		</dict>
		<key>images/Thanksgiving/tip2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,450},{457,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{457,27}}</string>
			<key>sourceSize</key>
			<string>{457,27}</string>
		</dict>
		<key>images/Thanksgiving/title1.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,479},{134,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,39}}</string>
			<key>sourceSize</key>
			<string>{134,39}</string>
		</dict>
		<key>images/Thanksgiving/title2.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,452},{135,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,39}}</string>
			<key>sourceSize</key>
			<string>{135,39}</string>
		</dict>
		<key>images/Thanksgiving/trukeyBig.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,479},{153,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,92}}</string>
			<key>sourceSize</key>
			<string>{153,92}</string>
		</dict>
		<key>images/Thanksgiving/trukeySmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,520},{54,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,34}}</string>
			<key>sourceSize</key>
			<string>{54,34}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Thanksgiving0.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f296c9fbe83cbc0287e59afd4ca71524:1/1$</string>
		<key>textureFileName</key>
		<string>Thanksgiving0.png</string>
	</dict>
</dict>
</plist>
