<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Effect/UIxjtx/uixjtx1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,142},{118,112}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,70},{118,112}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>images/Effect/UIxjtx/uixjtx2.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,134},{132,126}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,63},{132,126}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>images/Effect/UIxjtx/uixjtx3.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,138},{132,126}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,63},{132,126}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>images/Effect/UIxjtx/uixjtx4.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,2},{136,130}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,61},{136,130}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>images/Effect/UIxjtx/uixjtx5.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,2},{140,134}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,59},{140,134}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>images/Effect/UIxjtx/uixjtx6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{144,138}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,57},{144,138}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIxjtx0.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ae34822c911ac2a2c54db0e91a4f64de:1/1$</string>
		<key>textureFileName</key>
		<string>UIxjtx0.png</string>
	</dict>
</dict>
</plist>
