<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Explore/btnRightNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,155},{215,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,63}}</string>
			<key>sourceSize</key>
			<string>{215,63}</string>
		</dict>
		<key>images/Explore/btnRightSelected.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,372},{215,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,63}}</string>
			<key>sourceSize</key>
			<string>{215,63}</string>
		</dict>
		<key>images/Explore/conditionSingleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{627,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{627,71}}</string>
			<key>sourceSize</key>
			<string>{627,71}</string>
		</dict>
		<key>images/Explore/fntBaseReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,494},{149,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,38}}</string>
			<key>sourceSize</key>
			<string>{149,38}</string>
		</dict>
		<key>images/Explore/fntDrawReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,95},{89,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,28}}</string>
			<key>sourceSize</key>
			<string>{89,28}</string>
		</dict>
		<key>images/Explore/fntHireFriend.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,155},{201,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,40}}</string>
			<key>sourceSize</key>
			<string>{201,40}</string>
		</dict>
		<key>images/Explore/fntImmeComplete.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,125},{85,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,28}}</string>
			<key>sourceSize</key>
			<string>{85,28}</string>
		</dict>
		<key>images/Explore/fntLeftComTimes.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,546},{182,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,29}}</string>
			<key>sourceSize</key>
			<string>{182,29}</string>
		</dict>
		<key>images/Explore/fntLeftTime.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,34},{97,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,29}}</string>
			<key>sourceSize</key>
			<string>{97,29}</string>
		</dict>
		<key>images/Explore/fntLeftTimes.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,2},{102,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,30}}</string>
			<key>sourceSize</key>
			<string>{102,30}</string>
		</dict>
		<key>images/Explore/fntNpcFunc.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,65},{92,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,28}}</string>
			<key>sourceSize</key>
			<string>{92,28}</string>
		</dict>
		<key>images/Explore/fntShowTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,358},{134,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,39}}</string>
			<key>sourceSize</key>
			<string>{134,39}</string>
		</dict>
		<key>images/Explore/fntSuccessReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,546},{139,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,29}}</string>
			<key>sourceSize</key>
			<string>{139,29}</string>
		</dict>
		<key>images/Explore/mainBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,75},{511,618}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{511,618}}</string>
			<key>sourceSize</key>
			<string>{511,618}</string>
		</dict>
		<key>images/Explore/successBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,687},{514,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{514,139}}</string>
			<key>sourceSize</key>
			<string>{514,139}</string>
		</dict>
		<key>images/Explore/successBg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,828},{514,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{514,139}}</string>
			<key>sourceSize</key>
			<string>{514,139}</string>
		</dict>
		<key>images/Explore/systemBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,2},{542,283}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{542,283}}</string>
			<key>sourceSize</key>
			<string>{542,283}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Explore1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7d31cf603f6eca308c52b9b770d614e4:2/3$</string>
		<key>textureFileName</key>
		<string>Explore1.png</string>
	</dict>
</dict>
</plist>
