<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Explore/btnCheckSelected.png</key>
		<dict>
			<key>frame</key>
			<string>{{847,898},{170,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,56}}</string>
			<key>sourceSize</key>
			<string>{170,56}</string>
		</dict>
		<key>images/Explore/btnLeftNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,802},{216,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,64}}</string>
			<key>sourceSize</key>
			<string>{216,64}</string>
		</dict>
		<key>images/Explore/btnLeftSelected.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,802},{216,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,64}}</string>
			<key>sourceSize</key>
			<string>{216,64}</string>
		</dict>
		<key>images/Explore/btnRightNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,802},{215,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,63}}</string>
			<key>sourceSize</key>
			<string>{215,63}</string>
		</dict>
		<key>images/Explore/btnRightSelected.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,802},{215,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,63}}</string>
			<key>sourceSize</key>
			<string>{215,63}</string>
		</dict>
		<key>images/Explore/cardBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,801},{137,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,167}}</string>
			<key>sourceSize</key>
			<string>{137,167}</string>
		</dict>
		<key>images/Explore/conditionLine.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1009},{606,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{606,3}}</string>
			<key>sourceSize</key>
			<string>{606,3}</string>
		</dict>
		<key>images/Explore/disableStar3.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,880},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>images/Explore/disableStar4.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,940},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>images/Explore/disableStar5.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,940},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>images/Explore/fntAcceptTask.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,987},{118,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,34}}</string>
			<key>sourceSize</key>
			<string>{118,34}</string>
		</dict>
		<key>images/Explore/fntBaseReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,867},{149,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,38}}</string>
			<key>sourceSize</key>
			<string>{149,38}</string>
		</dict>
		<key>images/Explore/fntCheck.png</key>
		<dict>
			<key>frame</key>
			<string>{{847,956},{66,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,34}}</string>
			<key>sourceSize</key>
			<string>{66,34}</string>
		</dict>
		<key>images/Explore/fntConditionDesr.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,543},{446,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{446,28}}</string>
			<key>sourceSize</key>
			<string>{446,28}</string>
		</dict>
		<key>images/Explore/fntCurrNpcLv.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,645},{104,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,39}}</string>
			<key>sourceSize</key>
			<string>{104,39}</string>
		</dict>
		<key>images/Explore/fntCurrScore.png</key>
		<dict>
			<key>frame</key>
			<string>{{681,645},{118,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,29}}</string>
			<key>sourceSize</key>
			<string>{118,29}</string>
		</dict>
		<key>images/Explore/fntDraw.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,940},{60,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,34}}</string>
			<key>sourceSize</key>
			<string>{60,34}</string>
		</dict>
		<key>images/Explore/fntDrawReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,64},{89,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,28}}</string>
			<key>sourceSize</key>
			<string>{89,28}</string>
		</dict>
		<key>images/Explore/fntExecuteTask.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,645},{115,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,33}}</string>
			<key>sourceSize</key>
			<string>{115,33}</string>
		</dict>
		<key>images/Explore/fntHireFriend.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,543},{201,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,40}}</string>
			<key>sourceSize</key>
			<string>{201,40}</string>
		</dict>
		<key>images/Explore/fntHireSystem.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,720},{201,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,40}}</string>
			<key>sourceSize</key>
			<string>{201,40}</string>
		</dict>
		<key>images/Explore/fntImmeComplete.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,94},{85,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,28}}</string>
			<key>sourceSize</key>
			<string>{85,28}</string>
		</dict>
		<key>images/Explore/fntLeftComTimes.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,578},{182,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,29}}</string>
			<key>sourceSize</key>
			<string>{182,29}</string>
		</dict>
		<key>images/Explore/fntLeftTimes.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,880},{102,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,30}}</string>
			<key>sourceSize</key>
			<string>{102,30}</string>
		</dict>
		<key>images/Explore/fntMinute.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,801},{47,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,28}}</string>
			<key>sourceSize</key>
			<string>{47,28}</string>
		</dict>
		<key>images/Explore/fntMissionDesr.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,124},{374,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{374,28}}</string>
			<key>sourceSize</key>
			<string>{374,28}</string>
		</dict>
		<key>images/Explore/fntMissionFail.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,330},{202,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,61}}</string>
			<key>sourceSize</key>
			<string>{202,61}</string>
		</dict>
		<key>images/Explore/fntMissionSuccess.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,124},{204,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,62}}</string>
			<key>sourceSize</key>
			<string>{204,62}</string>
		</dict>
		<key>images/Explore/fntNeedCard.png</key>
		<dict>
			<key>frame</key>
			<string>{{847,867},{175,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,29}}</string>
			<key>sourceSize</key>
			<string>{175,29}</string>
		</dict>
		<key>images/Explore/fntNpcFunc.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,34},{92,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,28}}</string>
			<key>sourceSize</key>
			<string>{92,28}</string>
		</dict>
		<key>images/Explore/fntNpcLvReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,773},{443,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,27}}</string>
			<key>sourceSize</key>
			<string>{443,27}</string>
		</dict>
		<key>images/Explore/fntRate.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,534},{237,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,60}}</string>
			<key>sourceSize</key>
			<string>{237,60}</string>
		</dict>
		<key>images/Explore/fntRateUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,773},{221,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,30}}</string>
			<key>sourceSize</key>
			<string>{221,30}</string>
		</dict>
		<key>images/Explore/fntRollBack.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,928},{71,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,37}}</string>
			<key>sourceSize</key>
			<string>{71,37}</string>
		</dict>
		<key>images/Explore/fntSameCard.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,720},{158,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,52}}</string>
			<key>sourceSize</key>
			<string>{158,52}</string>
		</dict>
		<key>images/Explore/fntSelectTips.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{491,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{491,30}}</string>
			<key>sourceSize</key>
			<string>{491,30}</string>
		</dict>
		<key>images/Explore/fntSelectedCards.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,645},{118,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,29}}</string>
			<key>sourceSize</key>
			<string>{118,29}</string>
		</dict>
		<key>images/Explore/fntSuccessReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,956},{139,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,29}}</string>
			<key>sourceSize</key>
			<string>{139,29}</string>
		</dict>
		<key>images/Explore/fntTaskList.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,802},{114,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,30}}</string>
			<key>sourceSize</key>
			<string>{114,30}</string>
		</dict>
		<key>images/Explore/fntUpgrage.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,918},{57,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,29}}</string>
			<key>sourceSize</key>
			<string>{57,29}</string>
		</dict>
		<key>images/Explore/fntWinRewardTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,693},{249,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,25}}</string>
			<key>sourceSize</key>
			<string>{249,25}</string>
		</dict>
		<key>images/Explore/myJade.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,543},{365,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{365,33}}</string>
			<key>sourceSize</key>
			<string>{365,33}</string>
		</dict>
		<key>images/Explore/proDownside.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,693},{300,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,45}}</string>
			<key>sourceSize</key>
			<string>{300,45}</string>
		</dict>
		<key>images/Explore/recommend.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,686},{96,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,74}}</string>
			<key>sourceSize</key>
			<string>{96,74}</string>
		</dict>
		<key>images/Explore/selectArea.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,34},{507,393}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{507,393}}</string>
			<key>sourceSize</key>
			<string>{507,393}</string>
		</dict>
		<key>images/Explore/selectTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,762},{194,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,37}}</string>
			<key>sourceSize</key>
			<string>{194,37}</string>
		</dict>
		<key>images/Explore/successTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{681,578},{337,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{337,65}}</string>
			<key>sourceSize</key>
			<string>{337,65}</string>
		</dict>
		<key>images/Explore/taskBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,689}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,689}}</string>
			<key>sourceSize</key>
			<string>{512,689}</string>
		</dict>
		<key>images/Explore/tipsBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,693},{314,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,205}}</string>
			<key>sourceSize</key>
			<string>{314,205}</string>
		</dict>
		<key>images/Explore/vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{778,645},{127,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,113}}</string>
			<key>sourceSize</key>
			<string>{127,113}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Explore0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ba2e2d0c479c7d3684518b0dbea282bd:1/3$</string>
		<key>textureFileName</key>
		<string>Explore0.png</string>
	</dict>
</dict>
</plist>
