<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/Explore/btnCheckNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,433},{170,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,56}}</string>
			<key>sourceSize</key>
			<string>{170,56}</string>
		</dict>
		<key>images/Explore/btnCheckSelected.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,433},{170,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,56}}</string>
			<key>sourceSize</key>
			<string>{170,56}</string>
		</dict>
		<key>images/Explore/btnLeftNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,536},{216,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,64}}</string>
			<key>sourceSize</key>
			<string>{216,64}</string>
		</dict>
		<key>images/Explore/btnLeftSelected.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,231},{216,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,64}}</string>
			<key>sourceSize</key>
			<string>{216,64}</string>
		</dict>
		<key>images/Explore/cardBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,263},{137,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,167}}</string>
			<key>sourceSize</key>
			<string>{137,167}</string>
		</dict>
		<key>images/Explore/coditionMainBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{634,272}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{634,272}}</string>
			<key>sourceSize</key>
			<string>{634,272}</string>
		</dict>
		<key>images/Explore/conditionLine.png</key>
		<dict>
			<key>frame</key>
			<string>{{1016,2},{606,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{606,3}}</string>
			<key>sourceSize</key>
			<string>{606,3}</string>
		</dict>
		<key>images/Explore/disableStar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,192},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>images/Explore/disableStar2.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,433},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>images/Explore/disableStar3.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,240},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>images/Explore/disableStar4.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,288},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>images/Explore/disableStar5.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,336},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>images/Explore/fntAcceptTask.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,477},{118,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,34}}</string>
			<key>sourceSize</key>
			<string>{118,34}</string>
		</dict>
		<key>images/Explore/fntBuyExp.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,895},{93,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,29}}</string>
			<key>sourceSize</key>
			<string>{93,29}</string>
		</dict>
		<key>images/Explore/fntCheck.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,536},{66,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,34}}</string>
			<key>sourceSize</key>
			<string>{66,34}</string>
		</dict>
		<key>images/Explore/fntConditionDesr.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,477},{446,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{446,28}}</string>
			<key>sourceSize</key>
			<string>{446,28}</string>
		</dict>
		<key>images/Explore/fntCostComplete.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,2},{376,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{376,33}}</string>
			<key>sourceSize</key>
			<string>{376,33}</string>
		</dict>
		<key>images/Explore/fntCurrNpcLv.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,525},{104,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,39}}</string>
			<key>sourceSize</key>
			<string>{104,39}</string>
		</dict>
		<key>images/Explore/fntCurrRate.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,263},{136,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,32}}</string>
			<key>sourceSize</key>
			<string>{136,32}</string>
		</dict>
		<key>images/Explore/fntCurrScore.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,477},{118,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,29}}</string>
			<key>sourceSize</key>
			<string>{118,29}</string>
		</dict>
		<key>images/Explore/fntDraw.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,449},{60,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,34}}</string>
			<key>sourceSize</key>
			<string>{60,34}</string>
		</dict>
		<key>images/Explore/fntExecuteTask.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,477},{115,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,33}}</string>
			<key>sourceSize</key>
			<string>{115,33}</string>
		</dict>
		<key>images/Explore/fntFriendDesr.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,610},{511,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{511,65}}</string>
			<key>sourceSize</key>
			<string>{511,65}</string>
		</dict>
		<key>images/Explore/fntHireSystem.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,403},{201,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,40}}</string>
			<key>sourceSize</key>
			<string>{201,40}</string>
		</dict>
		<key>images/Explore/fntMinute.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,384},{47,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,28}}</string>
			<key>sourceSize</key>
			<string>{47,28}</string>
		</dict>
		<key>images/Explore/fntMissionDesr.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,37},{374,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{374,28}}</string>
			<key>sourceSize</key>
			<string>{374,28}</string>
		</dict>
		<key>images/Explore/fntMissionFail.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,832},{202,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,61}}</string>
			<key>sourceSize</key>
			<string>{202,61}</string>
		</dict>
		<key>images/Explore/fntMissionSuccess.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,768},{204,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,62}}</string>
			<key>sourceSize</key>
			<string>{204,62}</string>
		</dict>
		<key>images/Explore/fntMissionTime.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,507},{97,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,29}}</string>
			<key>sourceSize</key>
			<string>{97,29}</string>
		</dict>
		<key>images/Explore/fntNeedCard.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,402},{175,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,29}}</string>
			<key>sourceSize</key>
			<string>{175,29}</string>
		</dict>
		<key>images/Explore/fntNpcDesr.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,507},{425,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{425,27}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>images/Explore/fntNpcLvReward.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,677},{443,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,27}}</string>
			<key>sourceSize</key>
			<string>{443,27}</string>
		</dict>
		<key>images/Explore/fntRate.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,706},{237,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,60}}</string>
			<key>sourceSize</key>
			<string>{237,60}</string>
		</dict>
		<key>images/Explore/fntRateUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,231},{221,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,30}}</string>
			<key>sourceSize</key>
			<string>{221,30}</string>
		</dict>
		<key>images/Explore/fntRollBack.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,536},{71,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,37}}</string>
			<key>sourceSize</key>
			<string>{71,37}</string>
		</dict>
		<key>images/Explore/fntSameCard.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,449},{158,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,52}}</string>
			<key>sourceSize</key>
			<string>{158,52}</string>
		</dict>
		<key>images/Explore/fntSelectTips.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,102},{491,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{491,30}}</string>
			<key>sourceSize</key>
			<string>{491,30}</string>
		</dict>
		<key>images/Explore/fntSelectedCards.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,477},{118,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,29}}</string>
			<key>sourceSize</key>
			<string>{118,29}</string>
		</dict>
		<key>images/Explore/fntTaskList.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,577},{114,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,30}}</string>
			<key>sourceSize</key>
			<string>{114,30}</string>
		</dict>
		<key>images/Explore/fntTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,536},{135,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,39}}</string>
			<key>sourceSize</key>
			<string>{135,39}</string>
		</dict>
		<key>images/Explore/fntUpgrage.png</key>
		<dict>
			<key>frame</key>
			<string>{{885,485},{57,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,29}}</string>
			<key>sourceSize</key>
			<string>{57,29}</string>
		</dict>
		<key>images/Explore/fntWinRewardTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,768},{249,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,25}}</string>
			<key>sourceSize</key>
			<string>{249,25}</string>
		</dict>
		<key>images/Explore/leaves.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,403},{589,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{589,72}}</string>
			<key>sourceSize</key>
			<string>{589,72}</string>
		</dict>
		<key>images/Explore/myJade.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,67},{365,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{365,33}}</string>
			<key>sourceSize</key>
			<string>{365,33}</string>
		</dict>
		<key>images/Explore/placeBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,276},{634,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{634,125}}</string>
			<key>sourceSize</key>
			<string>{634,125}</string>
		</dict>
		<key>images/Explore/proBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,149},{294,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,39}}</string>
			<key>sourceSize</key>
			<string>{294,39}</string>
		</dict>
		<key>images/Explore/proDownside.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,102},{300,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,45}}</string>
			<key>sourceSize</key>
			<string>{300,45}</string>
		</dict>
		<key>images/Explore/proUpside.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,190},{294,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,39}}</string>
			<key>sourceSize</key>
			<string>{294,39}</string>
		</dict>
		<key>images/Explore/recommend.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,926},{96,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,74}}</string>
			<key>sourceSize</key>
			<string>{96,74}</string>
		</dict>
		<key>images/Explore/selectArea.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,610},{507,393}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{507,393}}</string>
			<key>sourceSize</key>
			<string>{507,393}</string>
		</dict>
		<key>images/Explore/selectTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,414},{194,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,37}}</string>
			<key>sourceSize</key>
			<string>{194,37}</string>
		</dict>
		<key>images/Explore/selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,402},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>images/Explore/star1.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,102},{43,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,42}}</string>
			<key>sourceSize</key>
			<string>{43,42}</string>
		</dict>
		<key>images/Explore/star2.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,147},{43,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,42}}</string>
			<key>sourceSize</key>
			<string>{43,42}</string>
		</dict>
		<key>images/Explore/star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,481},{43,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,42}}</string>
			<key>sourceSize</key>
			<string>{43,42}</string>
		</dict>
		<key>images/Explore/star4.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,566},{43,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,42}}</string>
			<key>sourceSize</key>
			<string>{43,42}</string>
		</dict>
		<key>images/Explore/star5.png</key>
		<dict>
			<key>frame</key>
			<string>{{885,566},{43,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,42}}</string>
			<key>sourceSize</key>
			<string>{43,42}</string>
		</dict>
		<key>images/Explore/successTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,677},{337,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{337,65}}</string>
			<key>sourceSize</key>
			<string>{337,65}</string>
		</dict>
		<key>images/Explore/tipsBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,706},{314,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,205}}</string>
			<key>sourceSize</key>
			<string>{314,205}</string>
		</dict>
		<key>images/Explore/vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,895},{127,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,113}}</string>
			<key>sourceSize</key>
			<string>{127,113}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Explore0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7d31cf603f6eca308c52b9b770d614e4:1/3$</string>
		<key>textureFileName</key>
		<string>Explore0.png</string>
	</dict>
</dict>
</plist>
