<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/BigImg/fight_evo.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,960}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{640,960}}</string>
				<key>sourceSize</key>
				<string>{640,960}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>BigImg_1.pkm</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:9f0c1c5a0894d0534ab85a8c0f7ce864:2/15$</string>
			<key>textureFileName</key>
			<string>BigImg_1.pkm</string>
		</dict>
	</dict>
</plist>

