<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/sendSoul/bigBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{183,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,204}}</string>
			<key>sourceSize</key>
			<string>{183,204}</string>
		</dict>
		<key>images/sendSoul/middleBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,187},{159,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,142}}</string>
			<key>sourceSize</key>
			<string>{159,142}</string>
		</dict>
		<key>images/sendSoul/smallBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,331},{124,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,103}}</string>
			<key>sourceSize</key>
			<string>{124,103}</string>
		</dict>
		<key>images/sendSoul/tipBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,187},{312,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{312,66}}</string>
			<key>sourceSize</key>
			<string>{312,66}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sendSoul1.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:237a4795322024f4d3940366aaf9999f:2/2$</string>
		<key>textureFileName</key>
		<string>sendSoul1.png</string>
	</dict>
</dict>
</plist>
